Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(layout, panel): add animations to dismiss-panel
  packages/layout/src/main/Main.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,panel): suppress animation for prefers-reduced-motion
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

chore(components): replace hardcoded spacing values with tokens
  packages/components/src/button/Button.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/info-banner/InfoBanner.module.css
  packages/components/src/label/LabelWrapper.module.css
  packages/components/src/link-button/LinkButton.module.css
  packages/components/src/link/Link.module.css
  packages/components/src/radio/Radio.module.css
  packages/components/src/toast/Toast.module.css
  packages/components/src/tooltip/Tooltip.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(layout, panel): make dismiss panel globally configurable
  apps/next/app/layout.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  apps/next/components/NotificationsPanel/NotificationsPanel.tsx
  apps/next/store/useAppStore.ts
  packages/layout/src/layout/Layout.module.css
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/layout/layout-content/LayoutContent.module.css
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/layout/layout-content/index.ts
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,theme): standardize animation tokens and transitions
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/common/overlay.module.css
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePickerPopover.tsx
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/menu/Menu.module.css
  packages/components/src/modal/Dialog.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/radio/Radio.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/table/Table.module.css
  packages/theme/tokens/transitions.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): fix stylelint formatting errors
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/common/overlay.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/modal/Dialog.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/radio/Radio.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,search-field): make built-in button non-breaking, add future flag
  apps/docs/docs/components/search-field.mdx
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,search-field): link v18 tracking issue from showButton JSDoc
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(adr): add breaking change strategy ADR and link v18 tracking issue
  apps/docs/docs/get-started/install.mdx
  docs/adr/0004-breaking-change-strategy.md
  docs/adr/README.md
Due: nx format:write --files

docs: update breaking change ADR
  docs/adr/0004-breaking-change-strategy.md
Due: nx format:write --files

fix(layout, panel): change api to support multiple panels
  apps/next/app/layout.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/panel/Panel.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,file-list): localize delete button aria-label
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,file-list): correct font size and weight tokens for file name and size
  packages/components/src/file-list/FileList.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input
