Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(layout, header): add navigation item
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

fix(layout, navbar): add conditional rendering
  packages/layout/src/navbar/Navbar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Revert "fix(layout, navbar): add conditional rendering"
  packages/layout/src/navbar/Navbar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

revert(layout,navbar): remove conditional rendering, update docs to reflect actual behavior
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

revert(layout,mobile-menu): remove controlled state, update docs to reflect actual behavior
  apps/docs/docs/dev/layout/components/header.mdx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout, sidebar): add navigation items
  apps/docs/docs/dev/layout/components/sidebar.mdx
Due: nx format:write --files

fix(docs): move imports to top of layout.mdx to fix lint errors
  apps/docs/docs/components/layout.mdx
Due: nx format:write --files

docs(docs,layout): address review feedback on layout docs
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/index.mdx
Due: nx format:write --files

docs(docs,layout): add @midas-ds/layout documentation
  apps/docs/docs/components/layout.mdx
  apps/docs/docs/dev/layout/_category_.json
  apps/docs/docs/dev/layout/components/_category_.json
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/layout.mdx
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/docs/dev/layout/index.mdx
  apps/docs/docs/dev/layout/migration.mdx
  packages/layout/README.md
Due: nx format:write --files

docs(layout, navigation): add navigation items and recursive example
  apps/docs/docs/dev/layout/components/navigation.mdx
Due: nx format:write --files

docs(layout, navbar): add navigation items
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

docs(layout, panel): add missing imports
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

fix(layout, mobile-menu): support controlled state
  apps/docs/docs/dev/layout/components/header.mdx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

fix(layout, mobile-menu): add controlled state support
  apps/docs/docs/dev/layout/components/header.mdx
  packages/layout/src/header/mobile-menu/MobileMenu.spec.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/header/mobile-menu/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(components): add TimeField component
  apps/docs/docs/components/timefield.mdx
  apps/docs/src/components/examples/time-field/TimeFieldExamples.tsx
  packages/components/src/index.ts
  packages/components/src/time-field/TimeField.module.css
  packages/components/src/time-field/TimeField.spec.tsx
  packages/components/src/time-field/TimeField.stories.tsx
  packages/components/src/time-field/TimeField.tsx
  packages/components/src/time-field/index.ts
  packages/components/src/time-field/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,time-field): make TimeFieldProps generic, remove React.FC and data-testid
  apps/docs/src/components/examples/time-field/TimeFieldExamples.tsx
  packages/components/src/time-field/TimeField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,date-field,time-field): wrap DateField and TimeField in forwardRef
  packages/components/src/date-field/DateField.tsx
  packages/components/src/time-field/TimeField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,date-field,time-field): add forwardRef tests for DateField and TimeField
  packages/components/src/date-field/DateField.spec.tsx
  packages/components/src/time-field/TimeField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,date-field): make DateFieldProps generic and remove React.FC
  packages/components/src/date-field/DateField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

refactor(layout, mobile-menu): move state from modal to dialogtrigger
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(layout, mobile-menu): add stories
  packages/layout/src/header/mobile-menu/MobileMenu.spec.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout, mobile-menu): add defaultOpen to API
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
