Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components,list-box): fix horizontal scrollbar in chromium
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,combobox): prevent long input text from covering toggle button
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/combobox/ComboBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(components, accordion): accept function for children prop
  packages/components/src/accordion/AccordionItem.spec.tsx
  packages/components/src/accordion/AccordionItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, radio): accept function for children prop
  packages/components/src/radio/Radio.spec.tsx
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, tag): add box-sizing for consistent height
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,docs): add FileList component
  apps/docs/docs/components/file-list.mdx
  apps/playground/src/app/app.tsx
  apps/playground/src/pages/FileListPage.tsx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, tag): add section on icons
  apps/docs/docs/components/tag.mdx
Due: nx format:write --files

docs(components, tag): update section on icons
  apps/docs/docs/components/tag.mdx
Due: nx format:write --files

fix(layout, panel): add animations to dismiss-panel
  packages/layout/src/main/Main.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,panel): add forwardRef to PanelBody for React 18 compat
  packages/layout/src/panel/panel-body/PanelBody.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): add overflow hidden to content to prevent scrollbar during animation
  packages/layout/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,panel): suppress animation for prefers-reduced-motion
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,search-field): deprecate built-in submit button, fix a11y
  apps/docs/docs/components/search-field.mdx
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,search-field): rebuild on RAC SearchField component
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
