Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(ci): separate pr preview cleanup into dedicated workflow
  .github/workflows/cleanup-pr-preview.yml
  .github/workflows/deploy-docs-pr.yml
Due: nx format:write --files

fix(layout,sidebar): rework collapse/expand animation
  apps/docs/docs/dev/layout/components/sidebar.mdx
  packages/layout/src/navigation/navigation-header/NavigationHeader.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
  packages/layout/src/sidebar/Sidebar.tsx
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(workspace): upgrade nx-stylelint to v19 and stylelint to v17
  .stylelintignore
  apps/docs/src/components/tokens/ColorPaletteTable.module.css
  apps/docs/src/components/tokens/Tokens.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/css/index.module.css
  package-lock.json
  package.json
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/textfield/TextField.module.css
  packages/layout/src/header/header-action/HeaderAction.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove semantic tokens that teams should not use and switch names to what they are called
  apps/docs/docs/basics/tokens.mdx
Due: nx format:write --files

docs: update usage guidelines
  apps/docs/docs/basics/tokens.mdx
Due: nx format:write --files

feat(layout,header): responsive header with HeaderLogo, HeaderActions, live docs examples
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/src/components/examples/layout/HeaderExamples.tsx
  apps/docs/src/pages/layout-examples/header-mobile.tsx
  apps/docs/src/pages/layout-examples/header-overflow.tsx
  apps/docs/src/pages/layout-examples/header.tsx
  apps/playground/src/app/app.tsx
  apps/playground/src/main.tsx
  apps/playground/src/pages/HeaderPage.tsx
  packages/layout/src/header/Header.module.css
  packages/layout/src/header/Header.stories.tsx
  packages/layout/src/header/Header.tsx
  packages/layout/src/header/header-action/HeaderAction.module.css
  packages/layout/src/header/header-action/HeaderAction.tsx
  packages/layout/src/header/header-actions/HeaderActions.tsx
  packages/layout/src/header/header-logo/HeaderLogo.module.css
  packages/layout/src/header/header-logo/HeaderLogo.tsx
  packages/layout/src/header/header-logo/index.ts
  packages/layout/src/header/header-title/HeaderTitle.module.css
  packages/layout/src/header/header-title/HeaderTitle.tsx
  packages/layout/src/header/header-title/index.ts
  packages/layout/src/header/index.ts
  packages/layout/src/layout/Layout.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,color-scheme-switch): add ColorSchemeSwitchMenu compact dropdown variant
  apps/docs/docs/components/color-scheme-switch.mdx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.stories.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
  packages/components/src/color-scheme-switch/index.ts
  packages/components/src/color-scheme-switch/intl/translations.json
  packages/components/src/color-scheme-switch/useColorScheme.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change e-post/mail to mejl/mejladress throughout docs
  apps/docs/docs/components/card.mdx
  apps/docs/docs/components/popover.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/design-patterns/validation.mdx
  apps/docs/docs/dev/forms.mdx
  apps/docs/src/components/examples/LocalizationExamples.tsx
  apps/docs/src/components/examples/card/CardExamples.tsx
  apps/docs/src/components/examples/form/FormExamples.tsx
  apps/docs/src/components/examples/popover/PopoverExamples.tsx
  apps/docs/src/components/examples/tanstack-table/ColumnDndExample.tsx
  apps/docs/src/components/examples/tanstack-table/ColumnVisibilityExample.tsx
  apps/docs/src/components/examples/tanstack-table/FilteringExample.tsx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,layout): update and restructure navigation docs
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/src/components/examples/layout/NavigationExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,panel): add copy and restructure page
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
