Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(docs): show api as default in dev mode
  apps/docs/project.json
Due: nx format:write --files

chore(deps): update outdated packages
  package-lock.json
Due: nx format:write --files

chore(deps): update jest to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): remove unused packages
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update nx to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update storybook to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update vite to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update testing-library to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update ts-jest to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update @vitejs/plugin-react to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update lucide-react to latest
  package-lock.json
  package.json
  packages/table-styles/package.json
Due: nx format:write --files

chore(deps): update babel-jest to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update @types/node to 22
  .nvmrc
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update @swc/cli to latest
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update @actions/core to v2
  package-lock.json
  package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs: add container category and move files
  apps/docs/blog/release-notes/9.0.0.mdx
  apps/docs/docs/components/container/_category_.json
  apps/docs/docs/components/container/accordion.mdx
  apps/docs/docs/components/container/card.mdx
  apps/docs/docs/components/container/layout.mdx
  apps/docs/docs/components/container/table.mdx
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/docs/get-started/install.mdx
  apps/docs/src/pages/index.tsx
  apps/docs/tests/color-contrast.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: add form group and move files
  apps/docs/blog/release-notes/10.0.0.mdx
  apps/docs/blog/release-notes/3.0.0.mdx
  apps/docs/blog/release-notes/4.0.0.mdx
  apps/docs/blog/release-notes/7.0.0.mdx
  apps/docs/docs/components/calendar.mdx
  apps/docs/docs/components/container/table.mdx
  apps/docs/docs/components/form/_category_.json
  apps/docs/docs/components/form/checkbox.mdx
  apps/docs/docs/components/form/combobox.mdx
  apps/docs/docs/components/form/date-picker.mdx
  apps/docs/docs/components/form/datefield.mdx
  apps/docs/docs/components/form/file-trigger.mdx
  apps/docs/docs/components/form/radio.mdx
  apps/docs/docs/components/form/search-field.mdx
  apps/docs/docs/components/form/select.mdx
  apps/docs/docs/components/form/textarea.mdx
  apps/docs/docs/components/form/textfield.mdx
  apps/docs/docs/components/tag.mdx
  apps/docs/docs/design-patterns/read-only.mdx
  apps/docs/docs/dev/react-select.mdx
  apps/docs/tests/color-contrast.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix broken links
  apps/docs/blog/release-notes/12.1.0.mdx
  apps/docs/docs/components/form/checkbox.mdx
  apps/docs/docs/components/form/combobox.mdx
  apps/docs/docs/components/form/radio.mdx
  apps/docs/docs/components/form/textarea.mdx
  apps/docs/docs/components/form/textfield.mdx
  apps/docs/tests/color-contrast.spec.ts
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix more broken links
  apps/docs/docs/components/calendar.mdx
Due: nx format:write --files

feat(components, date-field, date-picker, search-field): add clear button (#995)
  apps/docs/docs/components/date-picker.mdx
  apps/docs/docs/components/datefield.mdx
  apps/storybook/src/stories/DateField.spec.tsx
  apps/storybook/src/stories/DateField.stories.tsx
  apps/storybook/src/stories/DatePicker.spec.tsx
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.spec.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  apps/storybook/vitest.config.ts
  packages/components/src/clear-button/ClearButton.tsx
  packages/components/src/clear-button/index.ts
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-field/intl/translations.json
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/DateRangePicker.tsx
  packages/components/src/date-picker/intl/translations.json
  packages/components/src/date-picker/utils.ts
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(Table): skip a11y tests for slow virtualized table
  packages/components/src/table/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update section on testing
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

test: move new tests into component folder
  packages/components/src/date-field/DateField.spec.tsx
  packages/components/src/date-picker/DateRangePicker.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files
