Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(components): configure @nx/dependency-checks
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release-dry-run): configure @nx/dependency-checks
  package-lock.json
  package.json
  tools/release-dry-run/eslint.config.mjs
  tools/release-dry-run/package.json
Due: nx format:write --files

chore(layout): configure @nx/dependency-checks
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(table-styles): configure @nx/dependency-checks
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(select-styles): configure @nx/dependency-checks
  packages/select-styles/eslint.config.mjs
Due: nx format:write --files

chore(release-local): silence lint errors
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/executors/schema.d.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(datepicker-styles): configure @nx/dependency-checks
  nx.json
  packages/datepicker-styles/eslint.config.mjs
Due: nx format:write --files

chore(test-utils): configure @nx/dependency-checks
  tools/test-utils/eslint.config.mjs
  tools/test-utils/package.json
Due: nx format:write --files

chore(theme): remove unused eslint config
  packages/theme/eslint.config.mjs
Due: nx format:write --files

chore(tools): add shared-singleton bundling guard
  .github/workflows/pr-checks.yml
  tools/check-bundled-dependencies/README.md
  tools/check-bundled-dependencies/check-shared-singletons.mjs
  tools/check-bundled-dependencies/index.mjs
  tools/check-bundled-dependencies/shared.mjs
Due: nx format:write --files

docs: update icon guidelines (#1362)
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

fix(components,checkbox): support native validation
  packages/components/src/checkbox/Checkbox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,checkbox): support isDisabled for select all checkbox
  packages/components/src/checkbox/SelectAllCheckbox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,checkbox): rename children prop
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/SelectAllCheckbox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,checkbox): re-order classnames
  packages/components/src/checkbox/CheckboxField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, radio): forward classname to radio button
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,checkbox): forward className to checkbox button
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,checkbox): include dead mobile css
  packages/components/src/checkbox/Checkbox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): remove unnecessary lint bypass
  packages/components/src/utils/clsx.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: run minimal config of dependency checks in root
  eslint.config.mjs
Due: nx format:write --files
