Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components, layout): change font weight for active menu items
  packages/components/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs: handle multiple links in jsdoc comments
  apps/docs/src/utils/jsdocLinkToMarkdown.spec.ts
  apps/docs/src/utils/jsdocLinkToMarkdown.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): rename size→base, spacing→space, add semantic size tokens
  packages/theme/tokens/base.json
  packages/theme/tokens/size.json
  packages/theme/tokens/sizing.json
  packages/theme/tokens/space.json
Due: nx format:write --files

feat(components,theme): migrate CSS from --midas-spacing-*/size-[0-9]* to --midas-space-*/size-*
  apps/docs/docs/dev/tailwind.mdx
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/button/Button.module.css
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/heading/Heading.module.css
  packages/components/src/link-button/LinkButton.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/list-box-empty-state/ListBoxEmptyState.module.css
  packages/components/src/menu/Menu.module.css
  packages/components/src/modal/Dialog.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/table/Table.module.css
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/tag-list/TagList.module.css
  packages/components/src/text/Text.module.css
  packages/components/src/textfield/TextField.module.css
  packages/components/src/tooltip/Tooltip.module.css
  packages/datepicker-styles/src/lib/react-datepicker.css
  packages/select-styles/src/lib/react-select.css
  packages/table-styles/src/lib/pagination/Pagination.module.css
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(theme): replace css transformGroup with explicit transforms to silence size/rem warnings
  tools/style-dictionary/src/executors/build-tokens.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(docs): update spacing token references to renamed space tokens
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/examples/tabs/TabsExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components): fix prettier formatting after token rename
  packages/components/src/list-box/list-box-empty-state/ListBoxEmptyState.module.css
  packages/components/src/menu/Menu.module.css
  packages/components/src/search-field/SearchField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, pagination): add page for pagination
  apps/docs/docs/components/pagination.mdx
  apps/docs/docusaurus.config.ts
  packages/table-styles/src/lib/pagination/Pagination.stories.tsx
  packages/table-styles/src/lib/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(docs): add tests for jsdocLinkToMarkdown helper
  apps/docs/src/utils/jsdocLinkToMarkdown.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(theme): rename size token control-sm to control-md
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/textfield/TextField.module.css
  packages/datepicker-styles/src/lib/react-datepicker.css
  packages/select-styles/src/lib/react-select.css
  packages/theme/tokens/size.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(theme): add deprecated token aliases for renamed spacing and size tokens
  packages/theme/tokens/deprecated.json
Due: nx format:write --files

feat(layout): use collection for navigation
  apps/next/components/NavLink/NavLink.tsx
  apps/next/components/Navigation/Navigation.tsx
  packages/layout/src/navigation/Navigation.module.css
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/header/NavigationHeader.module.css
  packages/layout/src/navigation/components/header/NavigationHeader.tsx
  packages/layout/src/navigation/components/header/index.ts
  packages/layout/src/navigation/components/index.ts
  packages/layout/src/navigation/components/item/NavigationItem.module.css
  packages/layout/src/navigation/components/item/NavigationItem.tsx
  packages/layout/src/navigation/components/item/index.ts
  packages/layout/src/navigation/components/link/NavigationLink.tsx
  packages/layout/src/navigation/components/list-item/NavigationListItem.module.css
  packages/layout/src/navigation/components/list-item/NavigationListItem.tsx
  packages/layout/src/navigation/components/list-item/index.ts
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.module.css
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.tsx
  packages/layout/src/navigation/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,date-picker): replace fragile tab-counting with role-based queries in tests
  packages/components/src/date-picker/DatePicker.spec.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, layout): typos
  packages/layout/src/navigation/components/item/NavigationItem.module.css
  packages/layout/src/navigation/components/item/NavigationItem.tsx
  packages/layout/src/navigation/components/link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
