Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,select): prevent popover from covering trigger's bottom border
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,sidebar): widen style prop type to accept CSS custom properties
  packages/layout/src/sidebar/Sidebar.spec.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

fix(layout,navigation-section): use type intersection instead of interface extends for props
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs: add code example with context
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

docs. fix incorrect import tsx
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

docs: fix comment copy
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

fix(layout,main): establish Main as a CSS positioning context
  packages/layout/src/main/Main.module.css
  packages/layout/src/main/Main.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(playground): add repro page for Main focus-jump bug
  apps/playground/src/pages/LayoutRadioJumpPage.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): correct broken documentation link in README
  packages/layout/README.md
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
