Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components,layout,table-styles): allow every lucide-react 0.x release from 0.563
  packages/components/package.json
  packages/layout/package.json
  packages/table-styles/package.json
Due: nx format:write --files

ci: typecheck the packages against the lowest supported lucide-react
  .github/workflows/pr-checks.yml
  nx.json
Due: nx format:write --files

Deploy preview for PR 1405 🛫
  pr-preview/pr-1405/dev/tanstack-table/index.html
  pr-preview/pr-1405/storybook/preview-stats.json
  pr-preview/pr-1405/storybook/project.json
Due: nx format:write --files

Deploy visual regression report for PR #1405
  pr-preview/visual/pr-1405/index.html
Due: nx format:write --files

feat(components): add sticky footer support to Modal
  apps/docs/docs/components/modal.mdx
  apps/docs/src/components/examples/ModalExamples.tsx
  packages/components/src/modal/Modal.module.css
  packages/components/src/modal/Modal.spec.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/modal/Modal.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change wording
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs: add usage guidelines for sticky footer
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs: change page structure and wording
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

Update apps/docs/docs/components/modal.mdx
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

Deploy visual regression report for PR #1377
  pr-preview/visual/pr-1377/components/1/actual.png
  pr-preview/visual/pr-1377/components/1/diff.png
  pr-preview/visual/pr-1377/components/1/reference.png
  pr-preview/visual/pr-1377/index.html
  pr-preview/visual/pr-1377/summary.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@39aeab181acab0929af7aa5bac7a5cdde486f740 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

fix(components,layout,table-styles): declare public type packages
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/src/drop-zone/DropZone.tsx
  packages/components/src/layout/Layout.tsx
  packages/components/src/layout/context/LayoutContext.tsx
  packages/components/src/search-field/SearchField.tsx
  packages/components/vite.config.mts
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/src/utils/useIsMobileDevice.ts
  packages/layout/vite.config.mts
  packages/table-styles/vite.config.mts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,modal): update design according to spec.
  packages/components/src/modal/Modal.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,layout,table-styles): declare public type packages (#1406)
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/src/drop-zone/DropZone.tsx
  packages/components/src/layout/Layout.tsx
  packages/components/src/layout/context/LayoutContext.tsx
  packages/components/src/search-field/SearchField.tsx
  packages/components/vite.config.mts
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/src/utils/useIsMobileDevice.ts
  packages/layout/vite.config.mts
  packages/table-styles/vite.config.mts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@03ee2ab2cc683552293125ad1e82c6dab98ba4c4 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@6cc3f2d821648b25d2815f6a3e85753a67038a86 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

Deploy visual regression report for PR #1410
  pr-preview/visual/pr-1410/components/1/actual.png
  pr-preview/visual/pr-1410/components/1/diff.png
  pr-preview/visual/pr-1410/components/1/reference.png
  pr-preview/visual/pr-1410/components/2/actual.png
  pr-preview/visual/pr-1410/components/2/diff.png
  pr-preview/visual/pr-1410/components/2/reference.png
  pr-preview/visual/pr-1410/components/3/actual.png
  pr-preview/visual/pr-1410/components/3/diff.png
  pr-preview/visual/pr-1410/components/3/reference.png
  pr-preview/visual/pr-1410/components/4/actual.png
  pr-preview/visual/pr-1410/components/4/diff.png
  pr-preview/visual/pr-1410/components/4/reference.png
  pr-preview/visual/pr-1410/index.html
  pr-preview/visual/pr-1410/summary.json
Due: nx format:write --files

Deploy visual regression report for PR #1410
  pr-preview/visual/pr-1410/index.html
Due: nx format:write --files

refactor(components,tabs): ditch React.FC and destructure react imports
  packages/components/src/tabs/Tab.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,tabs): prevent layout shift on selection
  packages/components/src/tabs/Tab.tsx
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tabs/Tabs.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Deploy preview for PR 1410 🛫
  pr-preview/pr-1410/dev/tanstack-table/index.html
  pr-preview/pr-1410/storybook/preview-stats.json
  pr-preview/pr-1410/storybook/project.json
Due: nx format:write --files

chore(deps): migrate nx to latest
  package-lock.json
  package.json
  tools/docusaurus/package.json
  tools/release-dry-run/package.json
  tools/style-dictionary/package.json
Due: nx format:write --files

ci: opt in to nx task-based affected
  .github/workflows/pr-checks.yml
Due: nx format:write --files
