Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components,layout): add badge pattern to navigation docs and fix sidebar transition
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/layout.mdx
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/src/components/examples/layout/NavigationExamples.tsx
  apps/docs/src/components/getComponentMetaData.tsx
  packages/components/src/badge/Badge.module.css
  packages/components/src/badge/Badge.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.stories.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components, search-field): add form submission behaviour tests
  packages/components/src/search-field/SearchField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, search-field): submit parent form on Enter when no onSubmit is provided
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs: change copy after feedback from Patrik
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

fix: fix example to prevent incorrect submission
  apps/docs/src/components/examples/validation/ValidationExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update copy to clarify how the example works
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

fix: add toast for user feedback instead of alert
  apps/docs/src/components/examples/validation/ValidationExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: change copy after feedback
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

feat(theme): add panel shadow token
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(layout,panel): visual polish, actions prop, push variant and replace behavior
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/PanelProvider.tsx
  packages/layout/src/panel/PanelRegion.module.css
  packages/layout/src/panel/PanelRegion.tsx
  packages/layout/src/panel/panel-header/PanelHeader.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,panel): a11y improvements and remove data-debug
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelRegion.tsx
  packages/layout/src/panel/panel-content/PanelContent.module.css
  packages/layout/src/panel/panel-content/PanelContent.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(layout,panel): add panel stories and spec
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,panel): document new panel features
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

chore(layout,panel): fix CI lint errors
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,panel): fix header gap, panel width and content padding
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/panel-body/PanelBody.module.css
  packages/layout/src/panel/panel-content/PanelContent.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(layout,panel): reset paragraph margin in scrollable story
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(docs,combobox): replace deprecated selectedKey/onSelectionChange with value/onChange
  apps/docs/docs/components/combobox.mdx
  apps/docs/src/components/examples/combobox/ComboboxExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
