Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(docs,menu): add onAction example and explanation
  apps/docs/docs/components/menu.mdx
  apps/docs/src/components/examples/menu/MenuExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(theme,tailwind): exclude deprecated and numeric spacing tokens from @theme to prevent Tailwind scale conflicts
  tools/style-dictionary/src/executors/formats/tailwindTheme.spec.ts
  tools/style-dictionary/src/executors/formats/tailwindTheme.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(theme): add $description fields to all token files
  packages/theme/tokens/base.json
  packages/theme/tokens/breakpoints.json
  packages/theme/tokens/buttons.json
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
  packages/theme/tokens/size.json
  packages/theme/tokens/space.json
  packages/theme/tokens/states.json
  packages/theme/tokens/transitions.json
  packages/theme/tokens/typography.json
  packages/theme/tokens/z-index.json
Due: nx format:write --files

docs(docs): add token reference page with compact tables and color palette
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/tokens/ColorPaletteTable.module.css
  apps/docs/src/components/tokens/ColorPaletteTable.tsx
  apps/docs/src/components/tokens/CompactTokenTable.module.css
  apps/docs/src/components/tokens/CompactTokenTable.tsx
  apps/docs/src/components/tokens/Tokens.module.css
  apps/docs/src/components/tokens/Tokens.tsx
  apps/docs/src/components/tokens/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(components, layout): add tests for target="_blank"
  packages/components/src/layout/components/Sidebar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, layout): add "target" to SidebarLinkProps
  packages/components/src/layout/Layout.tsx
  packages/components/src/layout/components/Sidebar.tsx
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(theme): bump version to publish tailwind fix
  packages/theme/README.md
Due: nx format:write --files

feat(components,tag): add styles for inline icons
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/Tag.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,tag): sort css attributes
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,tag): adjust vertical padding
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input
