Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(datepicker-styles): migrate to nx inferred tasks
  nx.json
  packages/datepicker-styles/project.json
Due: nx format:write --files

chore(storybook): workaround failing builds with nx:run-commands
  apps/storybook/project.json
Due: nx format:write --files

chore(components): migrate to nx inferred tasks
  nx.json
  packages/components/project.json
Due: nx format:write --files

chore(playground): migrate to nx inferred tasks
  apps/playground/project.json
  nx.json
Due: nx format:write --files

chore(storybook): migrate to nx inferred tasks
  apps/storybook/project.json
  nx.json
Due: nx format:write --files

chore(select-styles): migrate to nx inferred tasks
  nx.json
  packages/select-styles/project.json
Due: nx format:write --files

chore(test-utils): migrate to nx inferred tasks
  nx.json
  tools/test-utils/project.json
  tools/test-utils/rollup.config.cjs
Due: nx format:write --files

chore(table-styles): migrate to nx inferred tasks
  nx.json
  packages/table-styles/project.json
Due: nx format:write --files

chore(theme): migrate to nx inferred tasks
  nx.json
  packages/theme/project.json
Due: nx format:write --files

chore(release-dry-run): migrate to nx inferred tasks
  nx.json
  tools/release-dry-run/project.json
  tools/release-dry-run/rollup.config.cjs
Due: nx format:write --files

fix(components,list-box,select,combobox): remove fixed heading height
  packages/components/src/list-box/ListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,list-box): add story with long section headers
  packages/components/src/list-box/ListBox.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(layout,theme): single-source the layout mobile/desktop breakpoint
  packages/layout/package.json
  packages/layout/src/utils/breakpoint-consistency.spec.ts
  packages/layout/src/utils/useIsMobileDevice.ts
  packages/theme/tokens/breakpoints.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout): allow overriding the mobile/desktop breakpoint via Layout
  packages/layout/src/header/header-logo/HeaderLogo.module.css
  packages/layout/src/header/header-logo/HeaderLogo.spec.tsx
  packages/layout/src/header/header-logo/HeaderLogo.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/LayoutBreakpointContext.tsx
  packages/layout/src/navbar/Navbar.module.css
  packages/layout/src/navbar/Navbar.spec.tsx
  packages/layout/src/navbar/Navbar.stories.tsx
  packages/layout/src/navbar/Navbar.tsx
  packages/layout/src/utils/useIsMobileDevice.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,combobox): add multi select support
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/combobox/ComboBox.spec.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/combobox/ComboBoxInput.tsx
  packages/components/src/combobox/ComboBoxTags.tsx
  packages/components/src/combobox/intl/translations.json
  packages/components/src/combobox/types.ts
  packages/components/src/common/types.ts
  packages/components/src/select/MultiSelectValue.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/select/Select.tsx
  packages/components/src/select/SelectTrigger.tsx
  packages/components/src/select/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

create a tree combobox
  packages/components/src/index.ts
  packages/components/src/tree-combo-box/TreeComboBox.module.css
  packages/components/src/tree-combo-box/TreeComboBox.spec.tsx
  packages/components/src/tree-combo-box/TreeComboBox.stories.tsx
  packages/components/src/tree-combo-box/TreeComboBox.tsx
  packages/components/src/tree-combo-box/TreeComboBoxValue.tsx
  packages/components/src/tree-combo-box/index.ts
  packages/components/src/tree-combo-box/intl/translations.json
  packages/components/src/tree-combo-box/useFilteredTree.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,tree): compose filterable tree behind a real popover
  packages/components/src/tree/Tree.stories.tsx
  packages/components/src/tree/useTreeFocusBridge.spec.tsx
  packages/components/src/tree/useTreeFocusBridge.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,tree): add filterable/focus-bridge composition hooks
  packages/components/package.json
  packages/components/src/tree/Tree.stories.tsx
  packages/components/src/tree/Tree.tsx
  packages/components/src/tree/index.ts
  packages/components/src/tree/useFilteredTree.spec.tsx
  packages/components/src/tree/useFilteredTree.ts
  packages/components/src/tree/useTreeFocusBridge.spec.tsx
  packages/components/src/tree/useTreeFocusBridge.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,tree): add CSS-positioned dropdown alternative to popover tree
  packages/components/src/tree/PopoverFilterableTree.stories.module.css
  packages/components/src/tree/Tree.module.css
  packages/components/src/tree/Tree.spec.tsx
  packages/components/src/tree/Tree.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
