Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(next): add zustand store, app provider and global toast region
  apps/next/app/layout.tsx
  apps/next/components/AppProvider/AppContext.tsx
  apps/next/store/useAppStore.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(next): build out application, profile and notifications pages
  apps/next/app/applications/drafts/[id]/page.tsx
  apps/next/app/applications/drafts/page.module.css
  apps/next/app/applications/drafts/page.tsx
  apps/next/app/applications/new/page.module.css
  apps/next/app/applications/sent/page.module.css
  apps/next/app/applications/sent/page.tsx
  apps/next/app/notifications/page.module.css
  apps/next/app/notifications/page.tsx
  apps/next/app/profile/page.module.css
  apps/next/app/profile/page.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Navigation/Navigation.tsx
  apps/next/components/NotificationsPanel/NotificationsPanel.module.css
  apps/next/components/NotificationsPanel/NotificationsPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,navigation): add compound sub-components and align NavigationLink API
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout,header): add HeaderActions compound component
  packages/layout/src/header/header-actions/HeaderActions.module.css
  packages/layout/src/header/header-actions/HeaderActions.tsx
  packages/layout/src/header/header-actions/index.ts
  packages/layout/src/header/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): wire HeaderActions into stories and fix Navigation stories
  packages/layout/src/header/header-actions/HeaderActions.stories.tsx
  packages/layout/src/layout/Layout.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,main): fix horizontal overflow with flex shrink and min-width
  packages/layout/src/main/Main.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,header-actions): allow ReactNode children on HeaderActionsButton
  packages/layout/src/header/header-actions/HeaderActions.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,info-popover): fix popover positioning by passing explicit triggerRef
  packages/components/src/label/InfoPopover.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,theme): use data-color-scheme attribute to trigger light-dark() re-evaluation
  apps/next/app/layout.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/theme/src/lib/color-scheme.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(next): build out component showcase with realistic immigration app behaviour
  apps/next/app/applications/drafts/[id]/page.tsx
  apps/next/app/applications/drafts/page.module.css
  apps/next/app/applications/drafts/page.tsx
  apps/next/app/applications/new/page.module.css
  apps/next/app/applications/new/page.tsx
  apps/next/app/applications/page.tsx
  apps/next/app/applications/sent/page.module.css
  apps/next/app/applications/sent/page.tsx
  apps/next/app/contact/page.tsx
  apps/next/app/help/page.tsx
  apps/next/app/notifications/page.tsx
  apps/next/app/page.tsx
  apps/next/app/profile/page.tsx
  apps/next/components/AppProvider/AppContext.tsx
  apps/next/components/Navigation/Navigation.tsx
  apps/next/lib/countries.ts
  apps/next/store/useAppStore.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(layout,header-actions): fix stylelint media-feature-range-notation
  packages/layout/src/header/header-actions/HeaderActions.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(docs): add token reference page with compact tables and color palette
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/tokens/ColorPaletteTable.module.css
  apps/docs/src/components/tokens/ColorPaletteTable.tsx
  apps/docs/src/components/tokens/CompactTokenTable.module.css
  apps/docs/src/components/tokens/CompactTokenTable.tsx
  apps/docs/src/components/tokens/Tokens.module.css
  apps/docs/src/components/tokens/Tokens.tsx
  apps/docs/src/components/tokens/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(theme): add $description fields to all token files
  packages/theme/tokens/base.json
  packages/theme/tokens/breakpoints.json
  packages/theme/tokens/buttons.json
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
  packages/theme/tokens/size.json
  packages/theme/tokens/space.json
  packages/theme/tokens/states.json
  packages/theme/tokens/transitions.json
  packages/theme/tokens/typography.json
  packages/theme/tokens/z-index.json
Due: nx format:write --files

fix(components,select): call commitValidation in SelectAll to clear invalid state after selection
  packages/components/src/select/Select.spec.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/select/SelectAll.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,select): remove unused getByText destructure
  packages/components/src/select/Select.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(components,select): add popoverProps passthrough
  apps/docs/docs/components/select.mdx
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, layout): add "target" to SidebarLinkProps
  packages/components/src/layout/Layout.tsx
  packages/components/src/layout/components/Sidebar.tsx
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
