Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(date-picker): change complex css selector
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(date-picker): change complex css selector
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change copy in example
  apps/docs/src/components/examples/read-only/ReadOnlyExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: copy changes
  apps/docs/docs/design-patterns/read-only.mdx
Due: nx format:write --files

chore: add docusaurus executors
  .vscode/settings.json
  apps/docs/babel.config.js
  apps/docs/docusaurus.config.ts
  apps/docs/project.json
  package-lock.json
  package.json
  tools/docusaurus/.eslintrc.json
  tools/docusaurus/README.md
  tools/docusaurus/executors.json
  tools/docusaurus/package.json
  tools/docusaurus/project.json
  tools/docusaurus/src/executors/browser/executor.ts
  tools/docusaurus/src/executors/browser/schema.d.ts
  tools/docusaurus/src/executors/browser/schema.json
  tools/docusaurus/src/executors/dev-server/executor.ts
  tools/docusaurus/src/executors/dev-server/schema.d.ts
  tools/docusaurus/src/executors/dev-server/schema.json
  tools/docusaurus/src/index.ts
  tools/docusaurus/tsconfig.json
  tools/docusaurus/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove old migration
  migrations.json
Due: nx format:write --files

chore: migrate nx to latest
  nx.json
  package-lock.json
  package.json
Due: nx format:write --files

chore: storybook light dark decorator
  apps/storybook/.storybook/custom-theme.ts
  apps/storybook/.storybook/custom.css
  apps/storybook/.storybook/manager.ts
  apps/storybook/.storybook/modes.ts
  apps/storybook/.storybook/preview.tsx
  packages/components/src/select/Select.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

chore: fix issue with popovers in storybook not respecting theme
  apps/storybook/.storybook/custom-theme.ts
  apps/storybook/.storybook/custom.css
  apps/storybook/.storybook/manager.ts
  apps/storybook/.storybook/modes.ts
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: clean up css look for themed decorators
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(textfield): honor min and max for number fields
  apps/storybook/src/stories/TextField.spec.tsx
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

revert: set default sb background to `background`
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(skeleton): use type `Size` for form variant
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(skeleton): tweak size/space to match textfield cmp
  packages/components/src/skeleton/Skeleton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(skeleton): remove multi-form component example
  apps/docs/docs/components/skeleton.mdx
Due: nx format:write --files

test(skeleton): add stories for form variant
  apps/storybook/src/stories/Skeleton.Form.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test: improve code quality for skeleton form stories
  apps/storybook/src/stories/Skeleton.Form.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(skeleton): fix test syntax and location for skeleton form tests
  apps/storybook/src/stories/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(skeleton): add skeleton form information and instructions
  apps/docs/docs/components/skeleton.mdx
Due: nx format:write --files

feat(skeleton): add form variant
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/skeleton/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
