Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update copy
  apps/docs/docs/dev/layout/components/sidebar.mdx
Due: nx format:write --files

feat(components,search-field): add label and description support
  apps/docs/docs/components/search-field.mdx
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add sidebar examples
  apps/docs/src/components/examples/layout/SidebarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update Section example
  apps/docs/src/components/examples/layout/SidebarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update copy and example code, add section example
  apps/docs/docs/dev/layout/components/sidebar.mdx
Due: nx format:write --files

docs: remove section and example on sections as this is covered under the Navigation component
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/src/components/examples/layout/SidebarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,badge): pin badge to icon corner in width-constrained containers
  packages/components/src/badge/Badge.module.css
  packages/components/src/badge/Badge.spec.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs(docs,list): clarify onAction + selectionMode="single" guidance
  apps/docs/docs/components/list.mdx
Due: nx format:write --files

fix(components,list): add accessible name to select-all checkbox
  packages/components/src/list/List.spec.tsx
  packages/components/src/list/List.tsx
  packages/components/src/list/ListHeader.tsx
  packages/components/src/list/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,list): remove double-click examples for now
  apps/docs/docs/components/list.mdx
Due: nx format:write --files

fix(layout,sidebar): allow overriding width via CSS custom properties
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.spec.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

feat(components, select): add pressed state for trigger
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,sidebar): widen style prop type to accept CSS custom properties
  packages/layout/src/sidebar/Sidebar.spec.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
