Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(theme,button): use opacity token for disabled background
  packages/theme/tokens/buttons.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(design-patterns,validation): clarify validation patterns and add examples
  apps/docs/docs/design-patterns/validation.mdx
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
  apps/docs/src/components/examples/validation/ValidationExamples.tsx
  apps/docs/static/img/error-message-list-dark.svg
  apps/docs/static/img/error-message-list-light.svg
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,header): fix left edge spacing, system name padding, action gap, and mobile icon sizing
  packages/layout/src/header/header-action/HeaderAction.module.css
  packages/layout/src/header/header-actions/HeaderActions.module.css
  packages/layout/src/header/header-logo/HeaderLogo.module.css
  packages/layout/src/header/header-logo/HeaderLogo.tsx
  packages/layout/src/header/header-title/HeaderTitle.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(docs,header): render examples inline and strip docusaurus chrome from mobile iframe
  apps/docs/src/components/examples/layout/HeaderExamples.tsx
  apps/docs/src/pages/layout-examples/header-mobile.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout,header): responsive header with HeaderLogo, HeaderActions, live docs examples
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/src/components/examples/layout/HeaderExamples.tsx
  apps/docs/src/pages/layout-examples/header-mobile.tsx
  apps/docs/src/pages/layout-examples/header-overflow.tsx
  apps/docs/src/pages/layout-examples/header.tsx
  apps/playground/src/app/app.tsx
  apps/playground/src/main.tsx
  apps/playground/src/pages/HeaderPage.tsx
  packages/layout/src/header/Header.module.css
  packages/layout/src/header/Header.stories.tsx
  packages/layout/src/header/Header.tsx
  packages/layout/src/header/header-action/HeaderAction.module.css
  packages/layout/src/header/header-action/HeaderAction.tsx
  packages/layout/src/header/header-actions/HeaderActions.tsx
  packages/layout/src/header/header-logo/HeaderLogo.module.css
  packages/layout/src/header/header-logo/HeaderLogo.tsx
  packages/layout/src/header/header-logo/index.ts
  packages/layout/src/header/header-title/HeaderTitle.module.css
  packages/layout/src/header/header-title/HeaderTitle.tsx
  packages/layout/src/header/header-title/index.ts
  packages/layout/src/header/index.ts
  packages/layout/src/layout/Layout.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

docs(docs,release-notes): publish 17.11.0 notes covering 17.11–17.17 and layout@0.2.11
  apps/docs/blog/release-notes/17.11.0.mdx
Due: nx format:write --files

docs(docs,release-notes): rename release notes to match latest version 17.17.3
  apps/docs/blog/release-notes/17.17.3.mdx
Due: nx format:write --files

docs: add advanced installation instructions from old page
  apps/docs/docs/dev/layout/get-started.mdx
Due: nx format:write --files

fix: fix broken link
  apps/docs/blog/release-notes/17.17.3.mdx
Due: nx format:write --files

chore(repo): remove unused lerna dependency
  lerna.json
  package-lock.json
  package.json
Due: nx format:write --files
