Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(storybook): restore the a11y, a11y-dark-mode and a11y-forced-colors targets
  nx.json
Due: nx format:write --files

fix(storybook): make a11y tests pass on a cold cache and in CI
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.mts
Due: nx format:write --files

test(storybook): run a11y tests in Chromium again
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.mts
Due: nx format:write --files

fix(storybook): resolve a11y violations in Card and layout stories
  apps/storybook/.storybook/preview.tsx
  packages/components/src/card/Card.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@2eb23e09e97691d4ce447904e37fb94acdc70d7c 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

test: remove chromatic
  .github/workflows/visual-testing.yml
  apps/docs/docs/get-started/contribute/tests.mdx
  apps/storybook/.storybook/preview.tsx
  chromatic.config.json
  package-lock.json
  package.json
  packages/components/public/README.md
  packages/components/src/accordion/Accordion.stories.tsx
  packages/components/src/checkbox/Checkbox.stories.tsx
  packages/components/src/checkbox/CheckboxGroup.stories.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/radio/RadioGroup.stories.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/skeleton/Skeleton.stories.tsx
  packages/components/src/table/Table.stories.tsx
  packages/components/src/tabs/Tabs.stories.tsx
  packages/components/src/textfield/TextArea.stories.tsx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,file-list): auto-restore focus to a sibling row on removal
  apps/docs/docs/components/file-list.mdx
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/progress-bar/ProgressBar.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list): animate the upload-complete and upload-failed transitions
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list,progress-bar): add upload progress states and a circular ProgressBar
  apps/docs/docs/components/file-list.mdx
  apps/docs/docs/components/progress-bar.mdx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/progress-bar/ProgressBar.spec.tsx
  packages/components/src/progress-bar/ProgressBar.stories.tsx
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list): name the file in screen reader output and announce upload errors
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy visual regression report for PR #1366
  pr-preview/visual/pr-1366/components/1/actual.png
  pr-preview/visual/pr-1366/components/1/reference.png
  pr-preview/visual/pr-1366/components/2/actual.png
  pr-preview/visual/pr-1366/components/2/reference.png
  pr-preview/visual/pr-1366/components/3/actual.png
  pr-preview/visual/pr-1366/components/4/actual.png
  pr-preview/visual/pr-1366/components/5/actual.png
  pr-preview/visual/pr-1366/components/6/actual.png
  pr-preview/visual/pr-1366/components/7/actual.png
  pr-preview/visual/pr-1366/components/7/reference.png
  pr-preview/visual/pr-1366/index.html
  pr-preview/visual/pr-1366/summary.json
Due: nx format:write --files

Deploy preview for PR 1406 🛫
  pr-preview/pr-1406/dev/tanstack-table/index.html
  pr-preview/pr-1406/storybook/preview-stats.json
  pr-preview/pr-1406/storybook/project.json
Due: nx format:write --files

Deploy preview for PR 1405 🛫
  pr-preview/pr-1405/dev/tanstack-table/index.html
  pr-preview/pr-1405/storybook/preview-stats.json
  pr-preview/pr-1405/storybook/project.json
Due: nx format:write --files

Deploy visual regression report for PR #1405
  pr-preview/visual/pr-1405/index.html
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@58aa1d454ac6175a97efeba5ec2d38bf32a43c47 🚀
  components/calendar/index.html
  components/datefield/index.html
  dev/react-datepicker/index.html
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

feat(components,stack): add Stack component
  packages/components/src/index.ts
  packages/components/src/stack/Stack.module.css
  packages/components/src/stack/Stack.spec.tsx
  packages/components/src/stack/Stack.stories.tsx
  packages/components/src/stack/Stack.tsx
  packages/components/src/stack/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,stack): add visual regression baselines
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-AsList-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-Horizontal-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-SpaceBetween-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-Spacing-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-Vertical-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/stack/Stackstoriestsx-Wrap-1-chromium-linux.png
Due: nx format:write --files

chore(playground): add Stack media query playground page
  apps/playground/src/app/app.tsx
  apps/playground/src/pages/StackResponsivePage.module.css
  apps/playground/src/pages/StackResponsivePage.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(docs,stack): add Stack page and link it from Grid
  apps/docs/docs/components/grid.mdx
  apps/docs/docs/components/stack.mdx
  apps/docs/src/components/examples/stack/StackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1392 🛫
  pr-preview/pr-1392/dev/tanstack-table/index.html
  pr-preview/pr-1392/storybook/preview-stats.json
  pr-preview/pr-1392/storybook/project.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files
