Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, select): use data-hovered selector for buttons
  packages/components/src/select/MultiSelectValue.tsx
  packages/components/src/select/Select.module.css
  packages/components/src/select/Select.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,checkbox): replace :hover with [data-hovered] in compound states
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/Checkbox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, card): add data-hovered selector for links
  packages/components/src/card/Card.module.css
  packages/components/src/card/Card.spec.tsx
  packages/components/src/card/Card.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add mobile-first readiness plan
  docs/mobile-first-plan.md
Due: nx format:write --files

docs: add mobile readiness task breakdown
  docs/mobile-tasks.md
Due: nx format:write --files

fix(components, calendar): use data-hovered selector for month buttons
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/Calendar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link-button): move redundant :hover rules under @media (hover: hover)
  packages/components/src/link-button/LinkButton.module.css
  packages/components/src/link-button/LinkButton.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(components, select): add pressed state for trigger
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,list-box): add data-pressed state to ListBox items
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, combobox): replace onMouseuUp with onPointerUp
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

experiment(components,menu): proof of concept for @react-aria/test-utils
  package-lock.json
  package.json
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,link-button): clean up disabled selector specificity in hover rules
  packages/components/src/link-button/LinkButton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,menu): migrate spec to use composeStories
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,calendar): add data-pressed state to day cells
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,calendar): remove dead flex properties on .calendar
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,menu): migrate RAC test-utils experiment to use composeStories
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files
