Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,combobox): remove redundant click handler
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,combobox): add readOnly state
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/combobox/ComboBoxTags.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,tree): add modal and autocomplete example
  packages/components/src/tree/Tree.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(adr): record decision not to pursue configurable layout breakpoint
  docs/adr/0006-layout-breakpoint-configurability.md
  docs/adr/README.md
Due: nx format:write --files

fix(docs): fix code block flashing light theme colors before dark mode
  apps/docs/src/css/index.module.css
  apps/docs/src/pages/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,radio): export RadioButton & RadioField
  packages/components/src/radio/Radio.module.css
  packages/components/src/radio/Radio.stories.tsx
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/RadioButton.tsx
  packages/components/src/radio/RadioField.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
  packages/components/src/radio/RadioGroup.stories.tsx
  packages/components/src/radio/RadioGroup.tsx
  packages/components/src/radio/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,radio): remove unused css class
  packages/components/src/radio/RadioField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,radio): remove custom description
  packages/components/src/radio/Radio.stories.tsx
  packages/components/src/radio/Radio.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,combobox): add multi-field filter showcase stories
  packages/components/src/combobox/ComboBox.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,checkbox): remove hooks and use checkbox-field and checkbox-button
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxGroupFieldError.tsx
  packages/components/src/checkbox/CheckboxGroupItem.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/SelectAllCheckbox.tsx
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/checkbox/context.ts
  packages/components/src/checkbox/index.ts
  packages/components/src/checkbox/types.ts
  packages/components/src/checkbox/useSelectAll.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,checkbox): export checkbox-field, checkbox-button
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxButton.tsx
  packages/components/src/checkbox/CheckboxField.tsx
  packages/components/src/checkbox/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components,radio): add composite disclaimer
  apps/docs/docs/components/radio.mdx
Due: nx format:write --files

docs(components,checkbox): add composite disclaimer
  apps/docs/docs/components/checkbox.mdx
Due: nx format:write --files

docs: update guidelines
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: remove incorrect icon from list
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: fix copy
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

fix(components,combobox): fix stale filter on reopen, show id in listbox
  packages/components/src/combobox/ComboBox.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: run minimal config of dependency checks in root
  eslint.config.mjs
Due: nx format:write --files

chore(components): remove unnecessary lint bypass
  packages/components/src/utils/clsx.ts
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
