Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(pagination): remove type duplicates
  packages/components/src/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(pagination): drop PaginationState and spread props
  apps/playground/src/app/app.tsx
  apps/storybook/src/stories/Pagination.stories.tsx
  packages/components/src/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(pagination): revert PaginationState drop
  apps/playground/src/app/app.tsx
  apps/storybook/src/stories/Pagination.stories.tsx
  packages/components/src/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, popover): disable drop-shadow for non-arrow popovers
  packages/components/src/popover/Popover.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(pagination): add css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBoxItem.tsx
  packages/components/src/list-box/ListBoxItemContext.tsx
  packages/components/src/pagination/Pagination.module.css
  packages/components/src/pagination/Pagination.tsx
  packages/components/src/select/Select.module.css
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(components, popover): change caret size (#981)
  packages/components/src/popover/Popover.module.css
  packages/components/src/popover/Popover.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

feat(select-styles): add clear indicator
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select-styles): update sizing for medium clear indicator
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select-styles): update dropdown indicator cursor
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(select-styles): update stories with isClearable option
  apps/storybook/src/stories/ReactSelect.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
Due: nx format:write --files

chore: update RAC to latest
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/list-box/ListBoxHeader.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, search-field): allow isRequired prop
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, tooltip): change definition of children prop
  packages/components/src/tooltip/Tooltip.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, dropdown)!: remove component
  apps/docs/docs/components/dropdown.mdx
  apps/storybook/src/stories/Dropdown.stories.tsx
  packages/components/src/dropdown/Dropdown.module.css
  packages/components/src/dropdown/Dropdown.spec.tsx
  packages/components/src/dropdown/Dropdown.tsx
  packages/components/src/dropdown/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: add snapshots to baseline
  apps/storybook/__vis__/dark/local/__baselines__/stories/ReactSelect.stories.tsx/medium-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/ReactSelect.stories.tsx/multi-select-medium-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/ReactSelect.stories.tsx/medium-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/ReactSelect.stories.tsx/multi-select-medium-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/ReactSelect.stories.tsx/medium-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/ReactSelect.stories.tsx/multi-select-medium-auto.png
Due: nx format:write --files

test: update snapshot baseline
  apps/storybook/__vis__/dark/local/__baselines__/stories/Tabs.stories.tsx/disabled-tabs-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/SearchField.stories.tsx/primary-auto.png
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
