Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add migration guide
  apps/docs/blog/release-notes/17.0.0.mdx
Due: nx format:write --files

feat!(components,text): remove deprecated `variant` prop and `TextVariant` type
  packages/components/src/text/Text.stories.tsx
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(layout): update failing test
  packages/layout/src/layout/Layout.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,breadcrumbs): remove deprecated `BreadcrumbItem` interface and `items` rendering path
  packages/components/src/breadcrumbs/Breadcrumbs.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,tooltip,accordion,menu): remove deprecated type aliases `MidasTooltipProps`, `MidasAccordion`, `MenuItemObject`
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
  packages/components/src/accordion/Accordion.tsx
  packages/components/src/accordion/AccordionContext.ts
  packages/components/src/accordion/index.ts
  packages/components/src/menu/Menu.tsx
  packages/components/src/tooltip/Tooltip.stories.tsx
  packages/components/src/tooltip/Tooltip.tsx
  packages/components/src/tooltip/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,legacy-select): remove `LegacySelect` component and `LegacySelectProps` type
  apps/docs/docs/components/select.mdx
  packages/components/src/index.ts
  packages/components/src/legacy-select/HiddenMultiSelect.tsx
  packages/components/src/legacy-select/LegacySelect.stories.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/legacy-select/Select.tsx
  packages/components/src/legacy-select/SelectFieldError.tsx
  packages/components/src/legacy-select/SelectListBox.tsx
  packages/components/src/legacy-select/SelectTrigger.tsx
  packages/components/src/legacy-select/index.ts
  packages/components/src/legacy-select/intl/translations.json
  packages/components/src/legacy-select/types.ts
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/legacy-select/useMultiSelectListState.ts
  packages/components/src/legacy-select/useMultiSelectState.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(layout): export navigation component from main index.ts
  packages/layout/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(next): add layout shell and route pages for testing
  apps/next/app/AppShell.tsx
  apps/next/app/applications/drafts/page.tsx
  apps/next/app/applications/new/page.tsx
  apps/next/app/applications/page.tsx
  apps/next/app/applications/sent/page.tsx
  apps/next/app/contact/page.tsx
  apps/next/app/global.css
  apps/next/app/help/page.tsx
  apps/next/app/layout.tsx
  apps/next/app/profile/page.tsx
  apps/next/package.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel): replace placeholder aria-labels with localized strings
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): add use client directives and lazy drawer mount for SSR support
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/drawer/Drawer.tsx
  packages/layout/src/navigation/components/link/NavigationLink.tsx
  packages/layout/src/navigation/components/list-item/NavigationListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): fix dismiss panel dimensions and remove navbar margin
  packages/layout/src/navbar/Navbar.module.css
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): implement DOM composition structure
  apps/next/app/AppShell.tsx
  packages/layout/src/layout/Layout.module.css
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/layout/Layout.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,datepicker): fix calendar icon btn placement in firefox
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, textfield): add hover color to password button
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
