Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(datepicker-styles): fix keyboard cursor, disabled and read-only styling
  packages/datepicker-styles/src/lib/ReactDatepicker.spec.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.stories.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(datepicker-styles): don't show the selection on days from adjacent months
  packages/datepicker-styles/src/lib/ReactDatepicker.spec.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Update apps/docs/docs/components/modal.mdx
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs: remove multiple input formats section from react-datepicker page
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(datepicker-styles): add invalid state styling
  packages/datepicker-styles/src/lib/ReactDatepicker.spec.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.stories.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: document invalid state for react-datepicker
  apps/docs/docs/dev/react-datepicker.mdx
Due: nx format:write --files

docs: show label and error message in react-datepicker invalid example
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: show multiple input formats for react-datepicker
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@c078f11276612f35b963630fbbb4aee0308e4e14 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

chore(table-styles): fix stale doc comment and regroup stories by package
  packages/table-styles/src/lib/BasicTable.stories.tsx
  packages/table-styles/src/lib/pagination/Pagination.stories.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(table-styles,docs): support TanStack Table v9 alongside v8
  apps/docs/docs/dev/tanstack-table.mdx
  nx.json
  package-lock.json
  package.json
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/project.json
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/BasicTablestoriestsx-Default-1-chromium-linux.png
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/pagination/Paginationstoriestsx-Primary-1-chromium-linux.png
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/pagination/Paginationstoriestsx-ServerSide-1-chromium-linux.png
  packages/table-styles/src/lib/BasicTable.spec.tsx
  packages/table-styles/src/lib/BasicTable.stories.tsx
  packages/table-styles/src/lib/BasicTable.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.spec.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.stories.tsx
  packages/table-styles/src/visual.spec.tsx
  packages/table-styles/tsconfig.spec.json
  packages/table-styles/vitest.config.visual.mts
  packages/table-styles/vitest.setup.visual.mts
Due: nx affected:lint --fix --files, nx format:write --files

test(table-styles): clear hover state before screenshots and show version in Storybook
  apps/storybook/.storybook/manager.ts
  packages/table-styles/vitest.setup.visual.mts
Due: nx affected:lint --fix --files, nx format:write --files

test(table-styles): pre-bundle test deps to avoid flaky visual runs
  packages/table-styles/vitest.config.visual.mts
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@3ac3608a2544ca3291edb893238a80633ae98c05 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@f8b04ef1ae9930f7a8f5cf71d3ea1e419ecea90e 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

ci: visual regression diff report and sticky PR comment
  .github/workflows/cleanup-pr-preview.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update-visual-baseline.yml
  .github/workflows/visual-report.yml
  packages/components/vitest.config.visual.mts
  packages/datepicker-styles/vitest.config.visual.mts
  tools/visual-report/README.md
  tools/visual-report/build-report.mjs
  tools/visual-report/reporter.mjs
Due: nx format:write --files

refactor(visual-report): make it an Nx project written in TypeScript
  .github/workflows/visual-report.yml
  package-lock.json
  package.json
  packages/components/vitest.config.visual.mts
  packages/datepicker-styles/vitest.config.visual.mts
  tools/visual-report/README.md
  tools/visual-report/eslint.config.mjs
  tools/visual-report/package.json
  tools/visual-report/project.json
  tools/visual-report/src/build-report.ts
  tools/visual-report/src/index.ts
  tools/visual-report/src/reporter.ts
  tools/visual-report/src/types.ts
  tools/visual-report/tsconfig.json
  tools/visual-report/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1395 🛫
  pr-preview/pr-1395/dev/tanstack-table/index.html
  pr-preview/pr-1395/storybook/preview-stats.json
  pr-preview/pr-1395/storybook/project.json
Due: nx format:write --files

fake commit for visual impact
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
