Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

ops: install playwright before running affected tests
  .github/workflows/pr-checks.yml
  .github/workflows/storybook-tests.yml
  apps/storybook/project.json
Due: nx format:write --files

fix: add clsx wrapper for react aria classname
  packages/components/src/textfield/Input.tsx
  packages/components/src/utils/clsx.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: increase testTimeout for browser tests
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(modal): accept controlled open state props
  apps/docs/docs/components/modal.mdx
  packages/components/src/modal/Dialog.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(progress-bar): expose single valueLabels for screen readers
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): update values for button tertiary|icon : hover
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(progress-bar): expose single valueLabels for screen readers (#852)
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(button): disable background change when button pressed && aria-expanded
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add new spacing variables
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/spacing.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(theme): update size for font-size-70
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/typography.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(theme): update size for line-height-100
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/typography.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(button): expand :not condition for pressed state background
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(theme): break out buttons from object-values.json
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/buttons.json
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(heading): add a new flag for using built in margin
  apps/docs/docs/components/heading.mdx
  apps/storybook/src/stories/Heading.stories.tsx
  packages/components/src/heading/Heading.module.css
  packages/components/src/heading/Heading.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change header storybook icon to monochrome
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add storybook info to designer.mdx
  apps/docs/docs/get-started/designer.mdx
  apps/docs/src/components/ThemedImage.tsx
  apps/docs/static/img/logo-storybook-default.svg
  apps/docs/static/img/logo-storybook-inverse.svg
Due: nx affected:lint --fix --files, nx format:write --files
