Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components, button): enable context props
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-picker): remove focus indicator for parent element
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs: re-write of contribution guidelines for developers
  DOCKER.md
  README.md
  apps/docs/docs/get-started/contribute/_category_.json
  apps/docs/docs/get-started/contribute/architecture.mdx
  apps/docs/docs/get-started/contribute/coding.mdx
  apps/docs/docs/get-started/contribute/contributing.mdx
  apps/docs/docs/get-started/contribute/conventions.mdx
  apps/docs/docs/get-started/contribute/index.mdx
  apps/docs/docs/get-started/contribute/tests.mdx
  apps/docs/docs/get-started/contribute/tokens/index.mdx
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: update section on test
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

fix(components,date-field, date-picker): set invalid border and box-shadow to 2px
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add invalid state style for form fields (box-shadow)
  packages/theme/tokens/states.json
Due: nx format:write --files

refactor(components): use tokens for invalid box-shadow
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: update ADR with DTCG shadow syntax considerations
  docs/adr/0003-design-token-shadow-syntax.md
  docs/adr/README.md
Due: nx format:write --files

test(components, grid): add component tests
  packages/components/src/grid/Grid.spec.tsx
  packages/components/src/grid/Grid.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, link): add component tests
  packages/components/src/link/Link.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(select-styles, react-select): adjust height
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: create examples for the design pattern
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add first draft of copy
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

test(components, popover): add component tests
  packages/components/src/popover/Popover.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, toast): add component tests
  packages/components/src/toast/Toast.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: rename example
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(select-styles, react-select): push pixels for component parts
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
