Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

test(components,menu): fix menu and color-scheme-switch tests
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.spec.tsx
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,tag): adjust vertical padding
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,tag): sort css attributes
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,tag): add styles for inline icons
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/Tag.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, tag): adjust size of inline svgs
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, select): merge provided popover styles
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

fix(layout): add project to global nx config
  nx.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(components, button): add inactive state
  apps/docs/docs/components/button.mdx
  apps/docs/src/components/examples/button/ButtonExamples.tsx
  packages/components/src/button/Button.module.css
  packages/components/src/button/Button.spec.tsx
  packages/components/src/button/Button.stories.tsx
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, button): add ADR for inactive button pattern
  docs/adr/0004-inactive-button-prop.md
Due: nx format:write --files

docs(components, button): update inactive story
  packages/components/src/button/Button.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, tag): adjust vertical padding when using inline svg
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(next): fix build errors for e2e workflow
  packages/layout/src/navigation/Navigation.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(next): remove datepicker default value
  apps/next/app/applications/drafts/[id]/page.tsx
Due: nx affected:lint --fix --files, nx format:write --files
