Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(layout,sidebar): update Sidebar docs
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/src/components/examples/layout/SidebarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,navbar): update Navbar docs
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/src/components/examples/layout/NavbarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout): add getting started page for the layout framework
  apps/docs/blog/release-notes/17.17.3.mdx
  apps/docs/docs/components/layout.mdx
  apps/docs/docs/dev/layout/_category_.json
  apps/docs/docs/dev/layout/get-started.mdx
  apps/docs/docs/dev/layout/index.mdx
  packages/layout/README.md
Due: nx format:write --files

docs(design-patterns): add page layout design patterns
  apps/docs/docs/design-patterns/page-layout/_category_.json
  apps/docs/docs/design-patterns/page-layout/header-navbar-panel.mdx
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
  apps/docs/docs/design-patterns/page-layout/only-header.mdx
  apps/docs/src/components/examples/layout/PageLayoutExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,theme): add layer-aware disabled field tokens
  apps/storybook/src/examples/Layers.stories.tsx
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/card/Card.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/textfield/TextField.module.css
  packages/components/src/time-field/TimeField.module.css
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,table): add cursor:pointer for selectable rows
  packages/components/src/table/Table.module.css
  packages/components/src/table/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(layout): add application layout recommendations
  apps/docs/docs/dev/layout/get-started.mdx
Due: nx format:write --files

docs: fix broken link
  apps/docs/docs/dev/layout/get-started.mdx
Due: nx format:write --files

fix(components,popover): wire up field-02 layer tokens for Popover
  apps/storybook/src/examples/Layers.stories.tsx
  packages/components/src/popover/Popover.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add semantic tokens for progress-bar colors
  packages/theme/tokens/object-values.json
Due: nx format:write --files

fix(components,progress-bar): use semantic tokens for background colors
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
