Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(layout): fix failing tests
  packages/layout/src/layout/Layout.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout): add context awareness to navigation link
  apps/next/components/Navigation/Navigation.tsx
  packages/layout/src/navigation/components/header/NavigationHeader.tsx
  packages/layout/src/navigation/components/item/NavigationItem.tsx
  packages/layout/src/navigation/components/link/NavigationLink.module.css
  packages/layout/src/navigation/components/link/NavigationLink.stories.tsx
  packages/layout/src/navigation/components/link/NavigationLink.tsx
  packages/layout/src/navigation/components/section/NavigationSection.tsx
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.tsx
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): flip icon/title and add mobilemenucontext
  apps/next/components/Navigation/Navigation.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/header/mobile-menu/MobileMenuContext.tsx
  packages/layout/src/header/mobile-menu/index.ts
  packages/layout/src/navigation/components/link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,tabs): add size prop with large/medium variants
  packages/components/src/tabs/Tab.tsx
  packages/components/src/tabs/TabPanel.tsx
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tabs/Tabs.stories.tsx
  packages/components/src/tabs/Tabs.tsx
  packages/components/src/tabs/TabsContext.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(layout): close drawer on navigation click
  packages/layout/src/navigation/components/link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components, info-banner): use react-stately controlled state hook
  packages/components/src/info-banner/InfoBanner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, info-banner): add tests
  packages/components/src/info-banner/InfoBanner.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, info-banner): change HTML element to aside
  packages/components/src/info-banner/InfoBanner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, info-banner): add styling for unordered lists
  packages/components/src/info-banner/InfoBanner.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, breadcrumbs): adjust styling according to spec
  packages/components/src/breadcrumbs/Breadcrumbs.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, breadcrumbs): update collapsed example
  apps/docs/docs/components/breadcrumbs.mdx
  apps/docs/src/components/examples/breadcrumbs/BreadcrumbsExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(layout): add badge in navigation example
  apps/next/app/notifications/page.tsx
  apps/next/components/Navigation/Navigation.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): set max width for collapse panel
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout): adjust position of dismiss panel
  apps/next/app/global.css
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
