Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

chore(components): move render wrapper focus target outside React container
  packages/components/test-utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

revert(components): restore original render wrapper
  packages/components/test-utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components): give focus target a unique id to prevent ambiguous locator
  packages/components/test-utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,date-picker): replace fragile tab-counting with role-based queries in tests
  packages/components/src/date-picker/DatePicker.spec.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, layout): improve navigation collection API
  apps/next/app/layout.tsx
  apps/next/components/Navigation/Navigation.tsx
  packages/layout/src/navbar/Navbar.tsx
  packages/layout/src/navigation/Navigation.module.css
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/index.ts
  packages/layout/src/navigation/components/section/NavigationSection.module.css
  packages/layout/src/navigation/components/section/NavigationSection.tsx
  packages/layout/src/navigation/components/section/index.ts
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.module.css
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components, layout): import utils from adobe
  package-lock.json
  package.json
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.tsx
  packages/layout/src/utils/useControlledState.ts
  packages/layout/src/utils/useIsMobileDevice.ts
  packages/layout/src/utils/useMediaQuery.spec.tsx
  packages/layout/src/utils/useMediaQuery.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: change npm registry
  package-lock.json
Due: nx format:write --files

fix(layout): merge drawer and mobile-menu components
  packages/layout/src/header/Header.tsx
  packages/layout/src/header/drawer/Drawer.tsx
  packages/layout/src/header/drawer/index.ts
  packages/layout/src/header/index.ts
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout): rename exports
  apps/next/app/layout.tsx
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/layout/Layout.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): change semantic html element
  packages/layout/src/navbar/Navbar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, info-banner): add styling for unordered lists
  packages/components/src/info-banner/InfoBanner.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, info-banner): use react-stately controlled state hook
  packages/components/src/info-banner/InfoBanner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,tabs): add size prop with large/medium variants
  packages/components/src/tabs/Tab.tsx
  packages/components/src/tabs/TabPanel.tsx
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tabs/Tabs.stories.tsx
  packages/components/src/tabs/Tabs.tsx
  packages/components/src/tabs/TabsContext.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components, menu): remove flaky keyboard interactions
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, info-banner): change HTML element to aside
  packages/components/src/info-banner/InfoBanner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, info-banner): add tests
  packages/components/src/info-banner/InfoBanner.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, breadcrumbs): adjust styling according to spec
  packages/components/src/breadcrumbs/Breadcrumbs.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, breadcrumbs): update collapsed example
  apps/docs/docs/components/breadcrumbs.mdx
  apps/docs/src/components/examples/breadcrumbs/BreadcrumbsExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
