Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel): rename context provider
  apps/next/app/layout.tsx
  apps/next/components/AppLayoutProvider/AppLayoutProvider.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/main/Main.tsx
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelContext.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelOutlet.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelProvider.tsx
  packages/layout/src/panel/dismiss-panel/index.ts
  packages/layout/src/panel/dismiss-panel/useDismissPanels.ts
  packages/layout/src/panel/index.ts
  packages/layout/src/panel/panel-body/PanelBody.tsx
  packages/layout/src/panel/panel-region/PanelRegion.tsx
  packages/layout/src/panel/panel-region/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(docs): add component index page with search and group filter
  apps/docs/docs/components/_category_.json
  apps/docs/docs/components/accordion.mdx
  apps/docs/docs/components/badge.mdx
  apps/docs/docs/components/breadcrumbs.mdx
  apps/docs/docs/components/button.mdx
  apps/docs/docs/components/calendar.mdx
  apps/docs/docs/components/card.mdx
  apps/docs/docs/components/checkbox.mdx
  apps/docs/docs/components/combobox.mdx
  apps/docs/docs/components/date-picker.mdx
  apps/docs/docs/components/datefield.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/docs/components/grid.mdx
  apps/docs/docs/components/heading.mdx
  apps/docs/docs/components/info-banner.mdx
  apps/docs/docs/components/layout.mdx
  apps/docs/docs/components/link-button.mdx
  apps/docs/docs/components/link.mdx
  apps/docs/docs/components/logo.mdx
  apps/docs/docs/components/menu.mdx
  apps/docs/docs/components/modal.mdx
  apps/docs/docs/components/pagination.mdx
  apps/docs/docs/components/popover.mdx
  apps/docs/docs/components/progress-bar.mdx
  apps/docs/docs/components/radio.mdx
  apps/docs/docs/components/search-field.mdx
  apps/docs/docs/components/select.mdx
  apps/docs/docs/components/skeleton.mdx
  apps/docs/docs/components/spinner.mdx
  apps/docs/docs/components/table.mdx
  apps/docs/docs/components/tabs.mdx
  apps/docs/docs/components/tag.mdx
  apps/docs/docs/components/text.mdx
  apps/docs/docs/components/textarea.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/components/toast.mdx
  apps/docs/docs/components/tooltip.mdx
  apps/docs/src/pages/index.tsx
  apps/docs/src/theme/DocCardList/index.tsx
  apps/docs/src/theme/DocCardList/styles.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,file-list): remove id prop from FileListItem
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,file-list): remove id prop from stories
  packages/components/src/file-list/FileList.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,color-scheme-switch): add scoped selector demo, fix dark-mode.mdx typo
  apps/docs/docs/components/color-scheme-switch.mdx
  apps/docs/docs/dev/dark-mode.mdx
  apps/docs/src/components/examples/color-scheme-switch/ColorSchemeSwitchExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,color-scheme-switch): show focus ring on selected button
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,docs,file-list): remove leftover id props from docs, spec and playground
  apps/docs/docs/components/file-list.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/playground/src/pages/FileListPage.tsx
  packages/components/src/file-list/FileList.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,color-scheme-switch): fix outdated content in dark-mode guide
  apps/docs/docs/dev/dark-mode.mdx
Due: nx format:write --files

docs(docs,color-scheme-switch): add component docs page
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

feat(components,color-scheme-switch): deprecate defaultValue in favor of defaultScheme
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,color-scheme-switch): replace hardcoded padding with space token
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,color-scheme-switch): fix button sizing and selected state styles
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,file-list): correct font size and weight tokens for file name and size
  packages/components/src/file-list/FileList.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: fix docker instructions
  apps/docs/docs/get-started/contribute/coding.mdx
Due: nx format:write --files

fix(components,file-list): don't forward id to li element
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,file-list): localize delete button aria-label
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,file-list): fix trailing blank line in css
  packages/components/src/file-list/FileList.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,file-list): fix empty interface lint error
  packages/components/src/file-list/FileList.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,docs,file-list): replace GridList with plain list
  apps/docs/docs/components/file-list.mdx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,file-list): fix lint errors
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,docs): add FileList component
  apps/docs/docs/components/file-list.mdx
  apps/playground/src/app/app.tsx
  apps/playground/src/pages/FileListPage.tsx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(docs,file-list): add FileList example to FileTrigger docs
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(docs): add component index page with illustration cards, search, and group filter
  apps/docs/docs/components/accordion.mdx
  apps/docs/docs/components/badge.mdx
  apps/docs/docs/components/breadcrumbs.mdx
  apps/docs/docs/components/button.mdx
  apps/docs/docs/components/calendar.mdx
  apps/docs/docs/components/card.mdx
  apps/docs/docs/components/checkbox.mdx
  apps/docs/docs/components/combobox.mdx
  apps/docs/docs/components/date-picker.mdx
  apps/docs/docs/components/datefield.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/docs/components/grid.mdx
  apps/docs/docs/components/heading.mdx
  apps/docs/docs/components/info-banner.mdx
  apps/docs/docs/components/layout.mdx
  apps/docs/docs/components/link-button.mdx
  apps/docs/docs/components/link.mdx
  apps/docs/docs/components/logo.mdx
  apps/docs/docs/components/menu.mdx
  apps/docs/docs/components/modal.mdx
  apps/docs/docs/components/pagination.mdx
  apps/docs/docs/components/popover.mdx
  apps/docs/docs/components/progress-bar.mdx
  apps/docs/docs/components/radio.mdx
  apps/docs/docs/components/search-field.mdx
  apps/docs/docs/components/select.mdx
  apps/docs/docs/components/skeleton.mdx
  apps/docs/docs/components/spinner.mdx
  apps/docs/docs/components/table.mdx
  apps/docs/docs/components/tabs.mdx
  apps/docs/docs/components/tag.mdx
  apps/docs/docs/components/text.mdx
  apps/docs/docs/components/textarea.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/components/toast.mdx
  apps/docs/docs/components/tooltip.mdx
  apps/docs/src/css/custom.css
  apps/docs/src/theme/DocCardList/ComponentIllustrations.tsx
  apps/docs/src/theme/DocCardList/index.tsx
  apps/docs/src/theme/DocCardList/styles.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add release notes for v17.1.0–17.10.0
  apps/docs/blog/release-notes/17.10.0.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
