Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme,components,button,link-button): change secondary background color
  packages/theme/tokens/buttons.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(components): limit css animations when prefers-reduced-motion set
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/layout/Layout.module.css
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/modal/Dialog.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/radio/Radio.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/table/Table.module.css
  packages/components/src/toast/Toast.module.css
  packages/components/src/tooltip/Tooltip.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

test(components): add manual retries for a11y tests in CI
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.forced-colors.ts
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: add copy
  apps/docs/docs/design-patterns/tables.mdx
Due: nx format:write --files

docs: add image
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/static/img/select-columns-dark.svg
  apps/docs/static/img/select-columns-light.svg
Due: nx format:write --files

chore: add verdaccio to docker setup and update instructions
  .verdaccio/config.yaml
  docker-compose.yml
  project.json
  tools/release-local/README.md
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/executors/schema.d.ts
  tools/release-local/src/executors/schema.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, pagination): add pagination component
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/PaginationExample.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
  apps/playground/src/app/app.tsx
  apps/storybook/__vis__/dark/local/__baselines__/stories/Pagination.stories.tsx/primary-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Pagination.stories.tsx/primary-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Pagination.stories.tsx/primary-auto.png
  apps/storybook/src/stories/Pagination.stories.tsx
  packages/components/src/index.ts
  packages/components/src/pagination/Pagination.module.css
  packages/components/src/pagination/Pagination.tsx
  packages/components/src/pagination/index.ts
  packages/components/src/pagination/intl/translations.json
  packages/components/src/pagination/pagination.spec.ts
  packages/components/src/pagination/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, select): split single and multi select values
  apps/playground/src/app/app.tsx
  packages/components/src/select/MultiSelectValue.tsx
  packages/components/src/select/Select.module.css
  packages/components/src/select/Select.tsx
  packages/components/src/select/SelectTrigger.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components, pagination): add test baseline
  apps/storybook/src/stories/Pagination.spec.tsx
  apps/storybook/src/stories/Pagination.stories.tsx
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.forced-colors.ts
  apps/storybook/vitest.config.ts
  packages/components/src/pagination/Pagination.tsx
  packages/components/src/pagination/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

test(components, pagination): add server side story
  apps/storybook/src/stories/Pagination.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix CSS variable names in tokens list
  apps/docs/src/components/tokens/Tokens.tsx
  apps/docs/src/components/tokens/utils.spec.ts
  apps/docs/src/components/tokens/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: add copy about striped rows and move headings
  apps/docs/docs/components/table.mdx
Due: nx format:write --files

fix(components, pagination): drop custom findPage util
  packages/components/src/pagination/Pagination.tsx
  packages/components/src/pagination/pagination.spec.ts
  packages/components/src/pagination/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
