Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(repo): remove unused lerna dependency
  lerna.json
  package-lock.json
  package.json
Due: nx format:write --files

feat(components,deps): bump react-aria-components to 1.20.0
  package-lock.json
  package.json
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/checkbox/context.ts
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/select/Select.tsx
  packages/components/src/time-field/TimeField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,menu): update test-utils API for RAC 1.20
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,checkbox,radio): use Space instead of Enter in keyboard tests
  packages/components/src/checkbox/CheckboxGroup.spec.tsx
  packages/components/src/radio/Radio.spec.tsx
  packages/components/src/radio/Radio.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,date-picker): drop unnecessary Dialog wrapper around Calendar popover
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePickerPopover.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,combobox): tolerate sub-pixel layout rounding in toggle-button overlap check
  packages/components/src/combobox/ComboBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,select): thread generic type through SelectValue for RAC 1.20
  packages/components/src/select/MultiSelectValue.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,navigation): migrate off unresolvable @react-aria/collections dependency
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
  packages/layout/src/navigation/navigation-sub-menu/NavigationSubMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,calendar): add RangeCalendar story for anchor-date-aware isDateUnavailable
  packages/components/src/calendar/RangeCalendar.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update intro copy
  apps/docs/docs/design-patterns/page-layout/only-header.mdx
Due: nx format:write --files

docs: update example and add interactive header
  apps/docs/docs/design-patterns/page-layout/only-header.mdx
Due: nx format:write --files

docs: change page and navigation menu names
  apps/docs/docs/design-patterns/page-layout/header-navbar-panel.mdx
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
Due: nx format:write --files

docs: update copy for clarity
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
Due: nx format:write --files

docs: add section
  apps/docs/docs/design-patterns/page-layout/header-navbar-panel.mdx
Due: nx format:write --files

docs: update example
  apps/docs/docs/design-patterns/page-layout/only-header.mdx
  apps/docs/src/components/examples/layout/PageLayoutExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add desktop example
  apps/docs/src/components/examples/layout/PageLayoutExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add visual example and adjust code example
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
Due: nx format:write --files

docs: add mobile-like app example
  apps/docs/src/components/examples/layout/PageLayoutExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add visual example and improve code example
  apps/docs/docs/design-patterns/page-layout/header-navbar-panel.mdx
Due: nx format:write --files

docs: update copy
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
Due: nx format:write --files

fix(components,checkbox): keep Checkbox functional with the new RAC API
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.stories.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/types.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,table): verify interactive cell content works with RAC 1.20
  packages/components/src/table/Table.spec.tsx
  packages/components/src/table/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,calendar): make Calendar generic over selection mode
  packages/components/src/calendar/Calendar.stories.tsx
  packages/components/src/calendar/Calendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,date-picker): add DateRangePicker story for anchor-date-aware isDateUnavailable
  packages/components/src/date-picker/DateRangePicker.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add Navbar example
  apps/docs/src/components/examples/layout/NavbarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update copy and add visual example
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

feat(components,list-box): add virtualized opt-out to ListBox/Select/ComboBox
  packages/components/src/combobox/ComboBox.spec.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/list-box/ListBox.spec.tsx
  packages/components/src/list-box/ListBox.stories.tsx
  packages/components/src/list-box/ListBox.tsx
  packages/components/src/select/Select.spec.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: restructure page to match other component pages
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
