Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, select): remove redundant fragment
  packages/components/src/select/SelectTrigger.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix CSS variable names in tokens list
  apps/docs/src/components/tokens/Tokens.tsx
  apps/docs/src/components/tokens/utils.spec.ts
  apps/docs/src/components/tokens/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: update to react 19
  package-lock.json
  package.json
  packages/components/package.json
Due: nx format:write --files

chore(checkbox): assert prop types
  packages/components/src/checkbox/useSelectAll.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor: remove React.forwardRef
  packages/components/src/character-counter/CharacterCounter.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxGroupItem.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/checkbox/types.ts
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/legacy-select/types.ts
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/textfield/Input.tsx
  packages/components/src/textfield/PasswordField.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
  packages/components/src/textfield/TextFieldBase.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: revert removal of react 18 peerDeps
  packages/components/package.json
Due: nx format:write --files

chore: accept all shapes of external refs
  package-lock.json
  package.json
  packages/components/src/character-counter/CharacterCounter.tsx
  packages/components/src/checkbox/types.ts
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/legacy-select/HiddenMultiSelect.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/legacy-select/types.ts
  packages/components/src/textfield/Input.tsx
  packages/components/src/textfield/PasswordField.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components): show active menu item on sub pages
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,layout): avoid false positives in active link state check
  packages/components/src/layout/components/SidebarLink.spec.tsx
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(deps): lock jest-environment-jsdom
  package-lock.json
  package.json
Due: nx format:write --files

test(components, layout): add test case with a mocked window.location
  packages/components/src/layout/components/SidebarLink.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add copy about striped rows and move headings
  apps/docs/docs/components/table.mdx
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(components, layout): show active menu item on sub pages (#994)
  package-lock.json
  package.json
  packages/components/src/layout/components/SidebarLink.spec.tsx
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(tabs): update padding on dismissable example
  apps/docs/docs/components/tabs.mdx
  apps/docs/src/components/examples/tabs/TabsExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: run CI a11y tests with firefox
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, layout): adjust forced colors for active links
  packages/components/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: run a11y tests in parallel
  .github/workflows/pr-checks.yml
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
