Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components): limit css animations when prefers-reduced-motion set
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/layout/Layout.module.css
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/modal/Dialog.module.css
  packages/components/src/popover/Popover.module.css
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/radio/Radio.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/table/Table.module.css
  packages/components/src/toast/Toast.module.css
  packages/components/src/tooltip/Tooltip.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add design patterns for tables
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/static/img/filter-popover-dark.svg
  apps/docs/static/img/filter-popover-light.svg
  apps/docs/static/img/filter-popup.svg
  apps/docs/static/img/inline-accordion-dark.svg
  apps/docs/static/img/inline-accordion-light.svg
  apps/docs/static/img/inline-filter-dark.svg
  apps/docs/static/img/inline-filter-light.svg
Due: nx format:write --files

docs: update dev contribute instructions
  apps/docs/docs/get-started/contribute/coding.mdx
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components): create a common component for status icons
  packages/components/src/accordion/AccordionItem.tsx
  packages/components/src/common/FeedbackStatusIcon.tsx
  packages/components/src/common/icon-map.ts
  packages/components/src/common/intl/translations.json
  packages/components/src/info-banner/InfoBanner.tsx
  packages/components/src/toast/Toast.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, accordion): add an aria-label to the status icon
  apps/storybook/src/stories/AccordionItem.spec.tsx
  packages/components/src/accordion/AccordionItem.tsx
  packages/components/src/accordion/intl/translations.json
  packages/components/src/common/icon-map.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: update token rendering page
  apps/docs/docs/get-started/contribute/tokens/index.mdx
  apps/docs/src/components/tokens/Tokens.module.css
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components): externalize dependecies
  packages/components/package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components): fake commit
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

docs(components, accordion): add type examples
  apps/docs/docs/components/accordion.mdx
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix grammar in dev instructions
  apps/docs/docs/get-started/contribute/coding.mdx
Due: nx format:write --files

chore: remove one a11y task
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore: include optimizeDeps
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove testtimeout
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: use nx run-mnay
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore: change process.env.CI
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.forced-colors.ts
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
