Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

feat(datepicker-styles): add default styles and iterations of improving midas styles
  packages/datepicker-styles/src/lib/default.css
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(datepicker-styles): add example and page
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/index.ts
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
  apps/docs/src/components/examples/react-datepicker/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(playground): setup react-datepicker in playground app for dev purpose
  apps/playground/src/app/app.module.css
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(modal): add support for custom className (#842)
  apps/docs/docs/components/modal.mdx
  apps/docs/src/components/examples/ModalExamples.tsx
  apps/docs/src/components/examples/custom.css
  packages/components/src/modal/Dialog.tsx
  packages/components/src/modal/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

ops: run nx affected in PR checks
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore: mute ts errors
  apps/playground/tsconfig.json
  tools/release-local/tsconfig.lib.json
Due: nx format:write --files

chore: utilize ts paths
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/examples/tanstack-table/TanstackTableExamples.tsx
  apps/docs/src/theme/MDXComponents/index.js
  apps/docs/tsconfig.json
  apps/storybook/.storybook/preview.tsx
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove unused MDXComponents
  apps/docs/src/theme/MDXComponents/A.js
  apps/docs/src/theme/MDXComponents/Code.js
  apps/docs/src/theme/MDXComponents/Details.js
  apps/docs/src/theme/MDXComponents/Heading.js
  apps/docs/src/theme/MDXComponents/Img/index.js
  apps/docs/src/theme/MDXComponents/Img/styles.module.css
  apps/docs/src/theme/MDXComponents/Pre.js
  apps/docs/src/theme/MDXComponents/Ul/index.js
  apps/docs/src/theme/MDXComponents/Ul/styles.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add storybook links with official icon
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/getComponentMetaData.tsx
  apps/docs/src/components/icons/Empty.tsx
  apps/docs/src/components/icons/Storybook.tsx
  apps/docs/src/components/icons/index.ts
  apps/docs/src/components/icons/types.ts
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(accordion-item): fix keyboard-focus/animation/hover bug in accordion-item
  packages/components/src/accordion/AccordionItem.module.css
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/transitions.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

ops: write preview-stats.json to storybook dist
  apps/storybook/project.json
Due: nx format:write --files

chore: update tsconfig (#844)
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/examples/tanstack-table/TanstackTableExamples.tsx
  apps/docs/src/theme/MDXComponents/A.js
  apps/docs/src/theme/MDXComponents/Code.js
  apps/docs/src/theme/MDXComponents/Details.js
  apps/docs/src/theme/MDXComponents/Heading.js
  apps/docs/src/theme/MDXComponents/Img/index.js
  apps/docs/src/theme/MDXComponents/Img/styles.module.css
  apps/docs/src/theme/MDXComponents/Pre.js
  apps/docs/src/theme/MDXComponents/Ul/index.js
  apps/docs/src/theme/MDXComponents/Ul/styles.module.css
  apps/docs/src/theme/MDXComponents/index.js
  apps/docs/tsconfig.json
  apps/playground/tsconfig.json
  apps/storybook/.storybook/preview.tsx
  tools/release-local/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

ops: install playwright before running affected tests
  .github/workflows/pr-checks.yml
  .github/workflows/storybook-tests.yml
  apps/storybook/project.json
Due: nx format:write --files
