Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(deps): update eslint-plugin-react-hooks to latest
  .eslintrc.json
  apps/docs/src/components/PropsTable.tsx
  package-lock.json
  package.json
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/layout/components/SidebarLink.spec.tsx
  packages/components/src/layout/components/SidebarLink.tsx
  packages/components/src/legacy-select/Select.tsx
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/link-button/LinkButton.tsx
  packages/components/src/link/Link.tsx
  packages/components/src/logo/Logo.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  package-lock.json
  package.json
Due: nx format:write --files

chore(deps): update lucide-react to latest
  package-lock.json
  package.json
  packages/table-styles/package.json
Due: nx format:write --files

chore(deps): update @actions/core to latest
  package-lock.json
  package.json
  tools/release-dry-run/package.json
  tools/release-dry-run/src/action.yml
  tools/release-dry-run/src/getAffectedProjects.ts
  tools/release-dry-run/tsconfig.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(components, layout): revert refactor and bypass linter
  packages/components/src/layout/components/SidebarLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

test: add e2e next project
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .verdaccio/config.yaml
  .verdaccio/htpasswd
  apps/next/README.md
  apps/next/app/favicon.ico
  apps/next/app/globals.css
  apps/next/app/layout.tsx
  apps/next/app/page.tsx
  apps/next/eslint.config.mjs
  apps/next/next.config.ts
  apps/next/playwright.config.ts
  apps/next/postcss.config.mjs
  apps/next/project.json
  apps/next/public/file.svg
  apps/next/public/globe.svg
  apps/next/public/next.svg
  apps/next/public/vercel.svg
  apps/next/public/window.svg
  apps/next/tests/example.spec.ts
  apps/next/tsconfig.json
  nx.json
  package-lock.json
  package.json
  packages/components/src/heading/Heading.tsx
  packages/components/vite.config.ts
  tools/release-local/src/executors/release-local.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): add use client directive to component index to ensure client-side rendering
  packages/components/src/heading/Heading.tsx
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

test(next): use verdaccio registry for installing packages in next app
  .github/workflows/e2e.yml
  apps/next/package-lock.json
  apps/next/package.json
Due: nx format:write --files

docs: copy changes in feedback patterns
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

test(next): remove boilerplate and run e2e tests on label e2e
  .github/workflows/e2e.yml
  .gitignore
  apps/next/README.md
  apps/next/app/globals.css
  apps/next/app/layout.tsx
  apps/next/postcss.config.mjs
  apps/next/public/file.svg
  apps/next/public/globe.svg
  apps/next/public/next.svg
  apps/next/public/vercel.svg
  apps/next/public/window.svg
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: copy changes
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

test(next): import production build of components
  .github/workflows/e2e.yml
  apps/next/next.config.ts
  apps/next/package-lock.json
  apps/next/package.json
  apps/next/project.json
  apps/next/tsconfig.json
  packages/components/src/character-counter/CharacterCounter.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(next): add implicit task dependency
  apps/next/playwright.config.ts
  apps/next/project.json
Due: nx affected:lint --fix --files, nx format:write --files

test(next): revert explicit task dependency
  apps/next/project.json
Due: nx format:write --files

chore(next): revert exclusion of app in PR checks
  .github/workflows/pr-checks.yml
Due: nx format:write --files

test(next): run tests with chromium, firefox and webkit
  .github/workflows/e2e.yml
  apps/next/playwright.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: format nx.json
  nx.json
Due: nx format:write --files

test(next): add browser dependencies
  .github/workflows/e2e.yml
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
