Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(tanstack-table): remove unused example code
  apps/docs/src/components/examples/tanstack-table/FilteringExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(table-styles): update row colors and borders with latest theme
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(accordion): remove z-index
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

ops: revert fetch depth for release workflow
  .github/workflows/release.yml
Due: nx format:write --files

chore(release): release package, version [release]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

fix(select): fix flying popover animation bug
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(table-styles)!: change `.table` class to `.midas-tanstack-table`
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(tanstack-table): add column visibility example
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/ColumnVisibilityExample.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(tanstack-table): clean up tanstack-table docs and add filter example
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/BasicTable.tsx
  apps/docs/src/components/examples/tanstack-table/FilteringExample.tsx
  apps/docs/src/components/examples/tanstack-table/TanstackTableExamples.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
  apps/docs/src/components/examples/tanstack-table/makeData.ts
  apps/docs/src/components/examples/tanstack-table/mockData.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: add POC tanstack filtered table
  apps/playground/src/app/app.tsx
  apps/playground/src/components/BasicTable.tsx
  apps/playground/src/data/mockData.ts
  apps/playground/src/main.tsx
  apps/playground/src/pages/TableBasicPage.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [release]
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore: add typedoc-docusaurus plugin
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/PropsTable.tsx
  apps/docs/src/theme/ApiDocBlock.tsx
  package-lock.json
  package.json
  tools/docusaurus-typedoc-plugin/README.md
  tools/docusaurus-typedoc-plugin/package.json
  tools/docusaurus-typedoc-plugin/project.json
  tools/docusaurus-typedoc-plugin/src/index.ts
  tools/docusaurus-typedoc-plugin/src/plugin/cache.ts
  tools/docusaurus-typedoc-plugin/src/plugin/dataTransformer.ts
  tools/docusaurus-typedoc-plugin/src/plugin/index.ts
  tools/docusaurus-typedoc-plugin/src/plugin/reactDocgenAdapter.ts
  tools/docusaurus-typedoc-plugin/src/plugin/typedocGenerator.ts
  tools/docusaurus-typedoc-plugin/src/plugin/types.ts
  tools/docusaurus-typedoc-plugin/src/theme/ApiDocBlock/PropsTable.tsx
  tools/docusaurus-typedoc-plugin/src/theme/ApiDocBlock/TypeSignature.tsx
  tools/docusaurus-typedoc-plugin/src/theme/ApiDocBlock/index.tsx
  tools/docusaurus-typedoc-plugin/test-transform.js
  tools/docusaurus-typedoc-plugin/tsconfig.json
  tools/docusaurus-typedoc-plugin/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

docs: first draft for feedback
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: added more icons
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

feat(calendar): change in-range styles to top-bottom border
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add more icons
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: add copy functionality
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: move IconCopy to a separate file
  apps/docs/docs/basics/icons.mdx
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
