Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(theme): bump style-dictionary to 5.4.0
  package-lock.json
  package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(layout,sidebar): remove deferred display transition to prevent end-of-animation jump
  packages/layout/src/sidebar/Sidebar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

Revert "docs: add april fools (#1205)"
  apps/docs/docs/components/button.mdx
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,sidebar): update tests to reflect in-DOM title animation
  packages/layout/src/sidebar/Sidebar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(layout): fix prettier formatting in NavigationLink.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(next): add multiword nav labels for animation testing
  apps/next/components/Navigation/Navigation.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout,sidebar): animate PanelTitle on collapse
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,navigation): animate nav label collapse in sidebar
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,sidebar): prevent width shift when scrollbar appears
  packages/layout/src/main/Main.module.css
  packages/layout/src/sidebar/Sidebar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

feat(docs): replace static version badge with live npm shield
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files
