Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components, button): intercept all onPress events when inactive
  packages/components/src/button/Button.spec.tsx
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(components,table-styles): update RAC to latest
  package-lock.json
  package.json
  packages/components/package.json
  packages/table-styles/package.json
Due: nx format:write --files

refactor(components,popover): enable context props
  packages/components/src/popover/Popover.spec.tsx
  packages/components/src/popover/Popover.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,label): remove local state
  packages/components/src/label/InfoPopover.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(layout, panel): flatten folder structure
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/collapse-panel/CollapsePanel.module.css
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/collapse-panel/CollapsePanelContext.tsx
  packages/layout/src/panel/collapse-panel/index.ts
  packages/layout/src/panel/components/index.ts
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/dismiss-panel/index.ts
  packages/layout/src/panel/panel-body/PanelBody.module.css
  packages/layout/src/panel/panel-body/PanelBody.tsx
  packages/layout/src/panel/panel-body/index.ts
  packages/layout/src/panel/panel-header/PanelHeader.module.css
  packages/layout/src/panel/panel-header/PanelHeader.tsx
  packages/layout/src/panel/panel-header/index.ts
  packages/layout/src/panel/panel-title/PanelTitle.module.css
  packages/layout/src/panel/panel-title/PanelTitle.tsx
  packages/layout/src/panel/panel-title/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, button): use helper for rendering children functions
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(layout): rename folders and adjust module boundaries
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Navigation/Navigation.tsx
  packages/components/src/button/index.ts
  packages/layout/src/header/Header.tsx
  packages/layout/src/header/header-action/HeaderAction.module.css
  packages/layout/src/header/header-action/HeaderAction.tsx
  packages/layout/src/header/header-action/index.ts
  packages/layout/src/header/header-actions/HeaderActions.module.css
  packages/layout/src/header/header-actions/HeaderActions.stories.tsx
  packages/layout/src/header/header-actions/HeaderActions.tsx
  packages/layout/src/header/index.ts
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navigation/Navigation.stories.tsx
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/index.ts
  packages/layout/src/navigation/index.ts
  packages/layout/src/navigation/navigation-header/NavigationHeader.module.css
  packages/layout/src/navigation/navigation-header/NavigationHeader.tsx
  packages/layout/src/navigation/navigation-header/index.ts
  packages/layout/src/navigation/navigation-item/NavigationItem.module.css
  packages/layout/src/navigation/navigation-item/NavigationItem.tsx
  packages/layout/src/navigation/navigation-item/index.ts
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.stories.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.tsx
  packages/layout/src/navigation/navigation-link/index.ts
  packages/layout/src/navigation/navigation-section/NavigationSection.module.css
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
  packages/layout/src/navigation/navigation-section/index.ts
  packages/layout/src/navigation/navigation-sub-menu/NavigationSubMenu.module.css
  packages/layout/src/navigation/navigation-sub-menu/NavigationSubMenu.tsx
  packages/layout/src/navigation/navigation-sub-menu/index.ts
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/collapse-panel/CollapsePanelContext.tsx
  packages/layout/src/panel/collapse-panel/index.ts
  packages/layout/src/panel/index.ts
  packages/layout/src/utils/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, mobile-menu): adjust css styles
  apps/next/app/layout.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/navigation/Navigation.module.css
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/panel/panel-body/PanelBody.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs(select-styles): add midas modal + react-select example
  apps/storybook/src/stories/ReactSelect.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,combobox): prevent long input text from covering toggle button
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/combobox/ComboBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
