Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

refactor(components, modal): widen children type definition
  packages/components/src/modal/Dialog.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, select, combobox): add relative max height to list-box
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link-button): consolidate hover rules under @media (hover: hover)
  packages/components/src/link-button/LinkButton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,link-button): clean up disabled selector specificity in hover rules
  packages/components/src/link-button/LinkButton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link-button): move redundant :hover rules under @media (hover: hover)
  packages/components/src/link-button/LinkButton.module.css
  packages/components/src/link-button/LinkButton.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,table): bump sort icon touch opacity to 0.5 for WCAG contrast
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,table): show sort icon at low opacity on touch devices
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,table-styles,datepicker-styles,select-styles): add user-select and touch-action to non-RAC interactive elements
  packages/components/src/table/Table.module.css
  packages/datepicker-styles/src/lib/react-datepicker.css
  packages/select-styles/src/lib/react-select.css
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,link): consolidate hover rules to match LinkButton pattern
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test: add mobile viewports to e2e setup
  apps/next/playwright.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(storybook): add a11y-mobile target with 320px viewport
  apps/storybook/project.json
  apps/storybook/vitest.config.mobile.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,link): wrap hover rules in @media (hover: hover) to match LinkButton
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove section on no hits for now. Will add it again when we have empty state
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

docs(components, button): update inactive story
  packages/components/src/button/Button.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files
