Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

chore: remove recommended vscode extension
  .vscode/extensions.json
Due: nx format:write --files

refactor(vite-react-router): remove custom type
  examples/vite-react-router/src/components/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, file-trigger): update dropzone example
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
  packages/components/src/file-upload/FileUpload.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add mobile readiness task breakdown
  docs/mobile-tasks.md
Due: nx format:write --files

Update apps/docs/docs/components/file-trigger.mdx
  apps/docs/docs/components/file-trigger.mdx
Due: nx format:write --files

fix(layout): match API for NavigationLink and HeaderAction
  apps/next/components/Navigation/Navigation.tsx
  examples/vite-react-router/src/components/Navigation.tsx
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navigation/Navigation.stories.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.stories.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(components, list-box): add stories and tests
  packages/components/src/list-box/ListBox.spec.tsx
  packages/components/src/list-box/ListBox.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, list-box): replace css :hover selector
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, list-box): utilize composeRenderProps helper
  packages/components/src/list-box/ListBoxItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,date-field): replace :hover with data-hovered on date segments
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Update packages/components/src/list-box/ListBox.spec.tsx
  packages/components/src/list-box/ListBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, calendar): use data-hovered selector for month buttons
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/Calendar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
