Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(list-box): add breaks for long words
  apps/storybook/src/stories/Select.stories.tsx
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBoxItem.tsx
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

feat(combobox): add styling for read-only state
  apps/storybook/src/stories/ComboBox.stories.tsx
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(radio): add styling for read-only state
  apps/storybook/src/stories/Radio.stories.tsx
  packages/components/src/radio/Radio.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): add styling for read-only state
  apps/storybook/src/stories/TextArea.stories.tsx
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/character-counter/CharacterCounter.module.css
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add read-only colors
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(checkbox): add styling for read-only state
  apps/storybook/src/stories/Checkbox.stories.tsx
  apps/storybook/src/stories/CheckboxGroup.stories.tsx
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-field): add styling for read-only state
  apps/storybook/src/stories/DateField.stories.tsx
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add styling for read-only state
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(calendar): add styling for read-only state
  apps/storybook/src/stories/Calendar.stories.tsx
  apps/storybook/src/stories/RangeCalendar.stories.tsx
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/Calendar.tsx
  packages/components/src/calendar/CalendarGrid.tsx
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(text): add styling for read-only state
  packages/components/src/text/Text.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: define build target for storybook
  apps/storybook/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(label): add styling for read-only state
  packages/components/src/label/Label.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(docs): set target browsers for babel
  apps/docs/.browserslistrc
Due: nx format:write --files

refactor(date-field): move data attributes from template to css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(checkbox): set correct indeterminate icon and refactor styles
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxInner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(textfield): move data attributes from template to css
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(theme): revert read-only border color token (same as subtle)
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/radio/Radio.module.css
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: update baseline snapshots
  apps/storybook/__vis__/light/local/__baselines__/stories/Calendar.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Checkbox.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/CheckboxGroup.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/ComboBox.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/DateField.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/DatePicker.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/DateRangePicker.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Radio.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/RangeCalendar.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/TextArea.stories.tsx/read-only-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/TextField.stories.tsx/read-only-auto.png
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input
