Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change storybook link for InfoBanner
  apps/docs/docs/components/info-banner.mdx
Due: nx format:write --files

chore: update actions/checkout@v5
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs-main.yml
  .github/workflows/deploy-docs-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/visual-testing.yml
Due: nx format:write --files

chore: update actions/setup-node@v5
  .github/workflows/deploy-docs-main.yml
  .github/workflows/deploy-docs-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/visual-testing.yml
Due: nx format:write --files

docs: remove color-scheme import to global stylesheet
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(list-box): change list-box section heading color
  .lintstagedrc.json
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(datepicker-styles): add package datepicker-styles
  nx.json
  packages/datepicker-styles/.eslintrc.json
  packages/datepicker-styles/README.md
  packages/datepicker-styles/jest.config.ts
  packages/datepicker-styles/package.json
  packages/datepicker-styles/project.json
  packages/datepicker-styles/src/lib/react-datepicker.css
  packages/datepicker-styles/tsconfig.json
  packages/datepicker-styles/tsconfig.lib.json
  packages/datepicker-styles/vite.config.ts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

ops: add missing permissions to workflow
  .github/workflows/storybook-tests.yml
Due: nx format:write --files

test(integration): setup verdaccio
  .verdaccio/config.yml
  packages/components/package.json
  packages/datepicker-styles/package.json
  packages/table-styles/package.json
  packages/theme/package.json
  project.json
  tools/release-local/.eslintrc.json
  tools/release-local/README.md
  tools/release-local/executors.json
  tools/release-local/package.json
  tools/release-local/project.json
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/executors/schema.d.ts
  tools/release-local/src/executors/schema.json
  tools/release-local/src/index.ts
  tools/release-local/tsconfig.json
  tools/release-local/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(deps): remove unused packages
  package-lock.json
  package.json
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
