Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

revert: remove select min-width since out of scope
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add preview.test.tsx for running unit tests separated from presentation mode
  apps/storybook/.storybook/custom.css
  apps/storybook/.storybook/preview.test.tsx
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/vitest.setup.ci.ts
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add fixes for a11y dark mode tests
  apps/storybook/.storybook/custom.css
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/vitest.setup.a11y.dark.ts
  apps/storybook/.storybook/vitest.setup.a11y.ts
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.forced-colors.ts
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: fix landbark banner issue
  apps/storybook/.storybook/preview.test.tsx
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/vitest.setup.a11y.dark.ts
  apps/storybook/.storybook/vitest.setup.a11y.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(text-area, text-field): explicitly set text color
  apps/storybook/src/stories/TextArea.stories.tsx
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/textfield/TextField.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(select): prevent unexpected sizing when select is in a flex container
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(table): remove background from rows
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor: move storybook decorators to separate files
  apps/storybook/.storybook/decorators/presentation.tsx
  apps/storybook/.storybook/decorators/tests.tsx
  apps/storybook/.storybook/preview.test.tsx
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(table): move row border from top -> bottom, flip striped row colors
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(table): set correct striped colors for virtualized table
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(table): add tests for virtualized striped table
  apps/storybook/src/stories/Table.spec.tsx
  apps/storybook/src/stories/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): add default export in package.json
  packages/theme/package.json
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
