Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(table-styles): wrap row hover in @media (hover: hover) and add :active touch fallback
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,table): show sort icon at low opacity on touch devices
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,table-styles,datepicker-styles,select-styles): add user-select and touch-action to non-RAC interactive elements
  packages/components/src/table/Table.module.css
  packages/datepicker-styles/src/lib/react-datepicker.css
  packages/select-styles/src/lib/react-select.css
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link): move redundant :hover rules under @media (hover: hover)
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, combobox): replace onMouseuUp with onPointerUp
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,list-box): add data-pressed state to ListBox items
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBox.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,calendar): add data-pressed state to day cells
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components,calendar): remove dead flex properties on .calendar
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,menu): clean up spec — remove duplicate test, drop wip comments
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,table): bump sort icon touch opacity to 0.5 for WCAG contrast
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,menu): migrate spec to use composeStories
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

experiment(components,menu): proof of concept for @react-aria/test-utils
  package-lock.json
  package.json
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,menu): migrate RAC test-utils experiment to use composeStories
  packages/components/src/menu/Menu.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(components,link-button): consolidate hover rules under @media (hover: hover)
  packages/components/src/link-button/LinkButton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore: ignore local claude config
  .gitignore
Due: nx format:write --files

fix(components, modal): use the full screen on mobile devices
  packages/components/src/modal/Dialog.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, modal): use relative max height
  packages/components/src/modal/Dialog.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
