Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs: restructure page for clarity and add some copy
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

docs: move default value first
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

docs: change copy
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

docs: change copy for clarity and consistency
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

feat: showcase with SunMoon
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat: make the size correct
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat: DEMO add custom icon and use in ColorSchemeSwitchers
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
  packages/components/src/icons/ColorSwitchIcon.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove unused import
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,main): correct main content padding
  packages/layout/src/main/Main.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

docs(docs,button): update button usage guidelines
  apps/docs/docs/components/button.mdx
Due: nx format:write --files

docs(docs,card): update card usage guidelines
  apps/docs/docs/components/card.mdx
  apps/docs/src/components/examples/card/CardExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,panel): fix push variant on mobile with height transition
  packages/layout/src/layout/layout-content/LayoutContent.module.css
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/panel/PanelRegion.module.css
  packages/theme/tokens/transitions.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
