Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Deploying to gh-pages from @ migrationsverket/midas@8438c2286452f4f70a51a2408c90665e58b68d46 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

docs(components,date-field,date-picker,text-area,time-field): add stories
  packages/components/src/date-field/DateField.stories.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/textfield/TextArea.stories.tsx
  packages/components/src/time-field/TimeField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy visual regression report for PR #1408
  pr-preview/visual/pr-1408/components/1/actual.png
  pr-preview/visual/pr-1408/components/2/actual.png
  pr-preview/visual/pr-1408/components/3/actual.png
  pr-preview/visual/pr-1408/components/4/actual.png
  pr-preview/visual/pr-1408/components/5/actual.png
  pr-preview/visual/pr-1408/index.html
  pr-preview/visual/pr-1408/summary.json
Due: nx format:write --files

Deploy visual regression report for PR #1408
  pr-preview/visual/pr-1408/index.html
Due: nx format:write --files

fix(components,text-field): dim text color for isDisabled
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,checkbox,radio): put data attributes like data-testid on the label again
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
  packages/components/src/utils/splitDataAttributes.ts
Due: nx affected:lint --fix --files, nx format:write --files

test(components,checkbox,radio): show how to find checkboxes and radios by role
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,file-list): read the upload state first in each row and separate name and size
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,file-list): only render the progress bar and checkmark in their own state
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,radio,checkbox): forward data-* attributes (#1409)
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
  packages/components/src/utils/splitDataAttributes.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@64dac1b4f20a7fb4c2e240f718c250767a5938c4 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@7bad7c5152aed28a6b7506974a3134571b9319e8 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

feat(components,file-list): name the file in screen reader output and announce upload errors
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,file-list): animate the upload-complete and upload-failed transitions
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list,progress-bar): add upload progress states and a circular ProgressBar
  apps/docs/docs/components/file-list.mdx
  apps/docs/docs/components/progress-bar.mdx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/progress-bar/ProgressBar.spec.tsx
  packages/components/src/progress-bar/ProgressBar.stories.tsx
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list): auto-restore focus to a sibling row on removal
  apps/docs/docs/components/file-list.mdx
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/progress-bar/ProgressBar.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Deploying to gh-pages from @ migrationsverket/midas@782cd85beccf57a12bf0120ac1ff6838a76bd871 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

Deploy visual regression report for PR #1405
  pr-preview/visual/pr-1405/index.html
Due: nx format:write --files

feat(components,layout,table-styles): support lucide-react 1.x alongside 0.x
  .github/workflows/pr-checks.yml
  apps/docs/docs/get-started/install.mdx
  packages/components/package.json
  packages/components/src/common/FeedbackStatusIcon.tsx
  packages/layout/package.json
  packages/table-styles/package.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(deps): develop against lucide-react 1.x
  .github/workflows/pr-checks.yml
  apps/docs/docs/components/layout/header.mdx
  apps/docs/src/components/examples/layout/HeaderExamples.tsx
  apps/docs/src/pages/layout-examples/header-overflow.tsx
  apps/next/app/profile/page.tsx
  apps/next/components/Navigation/Navigation.tsx
  apps/playground/src/pages/HeaderPage.tsx
  package-lock.json
  package.json
  packages/components/src/card/Card.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,layout,table-styles): depend on lucide-react
  apps/docs/docs/get-started/install.mdx
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/vite.config.mts
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/vite.config.mts
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/vite.config.mts
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
