Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

Deploying to gh-pages from @ migrationsverket/midas@394cbe64169b0050ccc4cbabf482c050813e21e0 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

feat(visual-report-viewer): React viewer for visual regression reports
  .github/workflows/deploy-docs-pr.yml
  .github/workflows/publish-docs.yml
  .github/workflows/visual-report.yml
  apps/visual-report-viewer/README.md
  apps/visual-report-viewer/eslint.config.mjs
  apps/visual-report-viewer/index.html
  apps/visual-report-viewer/project.json
  apps/visual-report-viewer/src/app/App.module.css
  apps/visual-report-viewer/src/app/App.spec.tsx
  apps/visual-report-viewer/src/app/App.tsx
  apps/visual-report-viewer/src/app/Compare.module.css
  apps/visual-report-viewer/src/app/Compare.tsx
  apps/visual-report-viewer/src/app/FailureList.module.css
  apps/visual-report-viewer/src/app/FailureList.tsx
  apps/visual-report-viewer/src/app/FailureView.module.css
  apps/visual-report-viewer/src/app/FailureView.tsx
  apps/visual-report-viewer/src/app/fixtures.ts
  apps/visual-report-viewer/src/app/hooks.ts
  apps/visual-report-viewer/src/app/report.spec.ts
  apps/visual-report-viewer/src/app/report.ts
  apps/visual-report-viewer/src/main.tsx
  apps/visual-report-viewer/src/styles.css
  apps/visual-report-viewer/tsconfig.app.json
  apps/visual-report-viewer/tsconfig.json
  apps/visual-report-viewer/tsconfig.spec.json
  apps/visual-report-viewer/vite.config.mts
  apps/visual-report-viewer/vitest.config.mts
  tools/visual-report/README.md
  tools/visual-report/src/build-report.ts
  tools/visual-report/src/reporter.ts
  tools/visual-report/src/types.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: remove chromatic references
  .github/workflows/visual-testing.yml
  apps/docs/docs/get-started/contribute/tests.mdx
  apps/storybook/.storybook/preview.tsx
  chromatic.config.json
  package-lock.json
  package.json
  packages/components/public/README.md
  packages/components/src/accordion/Accordion.stories.tsx
  packages/components/src/checkbox/Checkbox.stories.tsx
  packages/components/src/checkbox/CheckboxGroup.stories.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/radio/RadioGroup.stories.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/skeleton/Skeleton.stories.tsx
  packages/components/src/table/Table.stories.tsx
  packages/components/src/tabs/Tabs.stories.tsx
  packages/components/src/textfield/TextArea.stories.tsx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy visual regression report for PR #1399
  pr-preview/visual/pr-1399/index.html
  pr-preview/visual/pr-1399/summary.json
Due: nx format:write --files

docs: update copy and remove sticky footer section as this is now the standard way
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

fix: add footer to all examples
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove unused example
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

fix: change example name to match usage in docs
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add section about long forms
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs: update all code examples with footer
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

chore(components): spike select all per section in Select
  packages/components/src/spikes/tree-selection/1-SectionSelectAll.spec.tsx
  packages/components/src/spikes/tree-selection/1-SectionSelectAll.stories.tsx
  packages/components/src/spikes/tree-selection/CountPill.tsx
  packages/components/src/spikes/tree-selection/ScopeFilter.tsx
  packages/components/src/spikes/tree-selection/spikes.module.css
  packages/components/src/spikes/tree-selection/useSectionSelectAll.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): add data and cascade selection helpers for tree selection spike
  packages/components/src/spikes/tree-selection/data.ts
  packages/components/src/spikes/tree-selection/scope.spec.ts
  packages/components/src/spikes/tree-selection/scope.ts
  packages/components/src/spikes/tree-selection/selection.spec.ts
  packages/components/src/spikes/tree-selection/selection.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(components): spike search, tree dialog and hybrid tree selection patterns
  packages/components/src/spikes/tree-selection/A-SearchAndBrowse.stories.tsx
  packages/components/src/spikes/tree-selection/B-TreeDialog.stories.tsx
  packages/components/src/spikes/tree-selection/C-Hybrid.stories.tsx
  packages/components/src/spikes/tree-selection/README.md
  packages/components/src/spikes/tree-selection/SearchPanel.tsx
  packages/components/src/spikes/tree-selection/SelectedList.tsx
  packages/components/src/spikes/tree-selection/SpikeTree.module.css
  packages/components/src/spikes/tree-selection/SpikeTree.tsx
  packages/components/src/spikes/tree-selection/TreeDialog.tsx
  packages/components/src/spikes/tree-selection/patterns.spec.tsx
  packages/components/src/spikes/tree-selection/scope-stories.spec.tsx
  packages/components/src/spikes/tree-selection/useFilteredTree.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): add datasets, overview, usability findings and more variants to tree selection spike
  packages/components/src/spikes/tree-selection/0-Overview.stories.tsx
  packages/components/src/spikes/tree-selection/1-SectionSelectAll.spec.tsx
  packages/components/src/spikes/tree-selection/1-SectionSelectAll.stories.tsx
  packages/components/src/spikes/tree-selection/A-SearchAndBrowse.stories.tsx
  packages/components/src/spikes/tree-selection/B-TreeDialog.stories.tsx
  packages/components/src/spikes/tree-selection/B4-CascadingMenu.stories.tsx
  packages/components/src/spikes/tree-selection/C-Hybrid.stories.tsx
  packages/components/src/spikes/tree-selection/CascadingMenu.tsx
  packages/components/src/spikes/tree-selection/CostNote.tsx
  packages/components/src/spikes/tree-selection/DatasetContext.tsx
  packages/components/src/spikes/tree-selection/README.md
  packages/components/src/spikes/tree-selection/ScopeFilter.tsx
  packages/components/src/spikes/tree-selection/SearchPanel.tsx
  packages/components/src/spikes/tree-selection/SearchPopover.tsx
  packages/components/src/spikes/tree-selection/SelectedList.tsx
  packages/components/src/spikes/tree-selection/SpikeTree.module.css
  packages/components/src/spikes/tree-selection/SpikeTree.tsx
  packages/components/src/spikes/tree-selection/TreeDialog.tsx
  packages/components/src/spikes/tree-selection/containers.spec.tsx
  packages/components/src/spikes/tree-selection/organisation.ts
  packages/components/src/spikes/tree-selection/patterns.spec.tsx
  packages/components/src/spikes/tree-selection/scope-stories.spec.tsx
  packages/components/src/spikes/tree-selection/spikes.module.css
  packages/components/src/spikes/tree-selection/summary.spec.ts
  packages/components/src/spikes/tree-selection/summary.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(storybook): make a11y tests pass on a cold cache and in CI
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.mts
Due: nx format:write --files

fix(storybook): resolve a11y violations in Card and layout stories
  apps/storybook/.storybook/preview.tsx
  packages/components/src/card/Card.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(storybook): run a11y tests in Chromium again
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.mts
Due: nx format:write --files

Deploy visual regression report for PR #1366
  pr-preview/visual/pr-1366/components/1/actual.png
  pr-preview/visual/pr-1366/components/2/actual.png
  pr-preview/visual/pr-1366/components/3/actual.png
  pr-preview/visual/pr-1366/components/4/actual.png
  pr-preview/visual/pr-1366/components/5/actual.png
  pr-preview/visual/pr-1366/components/6/actual.png
  pr-preview/visual/pr-1366/components/7/actual.png
  pr-preview/visual/pr-1366/components/7/reference.png
  pr-preview/visual/pr-1366/index.html
  pr-preview/visual/pr-1366/summary.json
Due: nx format:write --files

Deploy preview for PR 1402 🛫
  pr-preview/pr-1402/dev/tanstack-table/index.html
  pr-preview/pr-1402/storybook/preview-stats.json
  pr-preview/pr-1402/storybook/project.json
Due: nx format:write --files

Deploy preview for PR 1402 🛫
  pr-preview/pr-1402/components/calendar/index.html
  pr-preview/pr-1402/components/datefield/index.html
  pr-preview/pr-1402/dev/react-datepicker/index.html
  pr-preview/pr-1402/dev/tanstack-table/index.html
  pr-preview/pr-1402/storybook/preview-stats.json
  pr-preview/pr-1402/storybook/project.json
Due: nx format:write --files

fix(storybook): restore the a11y, a11y-dark-mode and a11y-forced-colors targets
  nx.json
Due: nx format:write --files

test: remove chromatic
  .github/workflows/visual-testing.yml
  apps/docs/docs/get-started/contribute/tests.mdx
  apps/storybook/.storybook/preview.tsx
  chromatic.config.json
  package-lock.json
  package.json
  packages/components/public/README.md
  packages/components/src/accordion/Accordion.stories.tsx
  packages/components/src/checkbox/Checkbox.stories.tsx
  packages/components/src/checkbox/CheckboxGroup.stories.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/radio/RadioGroup.stories.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/skeleton/Skeleton.stories.tsx
  packages/components/src/table/Table.stories.tsx
  packages/components/src/tabs/Tabs.stories.tsx
  packages/components/src/textfield/TextArea.stories.tsx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1366 🛫
  pr-preview/pr-1366/dev/tanstack-table/index.html
  pr-preview/pr-1366/storybook/preview-stats.json
  pr-preview/pr-1366/storybook/project.json
Due: nx format:write --files

Deploy visual regression report for PR #1366
  pr-preview/visual/pr-1366/index.html
Due: nx format:write --files
