Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add forced colors support
  apps/playground/src/app/app.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add medium size
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

revert: Revert "feat(date-picker): hide days outside of month"
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add date-fns as dependency (used for locale in datepicker)
  package-lock.json
  package.json
Due: nx format:write --files

docs: change to normal link
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

fix(textfield): omit duplicate prop definitions
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
  packages/components/src/utils/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs: copy changes
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

feat(select)!: replace custom select with new RAC based select
  apps/playground/src/app/app.tsx
  apps/storybook/__vis__/light/local/__baselines__/stories/Select.stories.tsx/default-value-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Select.stories.tsx/dynamic-sections-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Select.stories.tsx/static-items-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Select.stories.tsx/static-sections-auto.png
  apps/storybook/src/stories/RacSelect.stories.tsx
  apps/storybook/src/stories/Select.stories.tsx
  packages/components/src/index.ts
  packages/components/src/legacy-select/HiddenMultiSelect.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/legacy-select/Select.spec.tsx
  packages/components/src/legacy-select/Select.tsx
  packages/components/src/legacy-select/SelectFieldError.tsx
  packages/components/src/legacy-select/SelectListBox.tsx
  packages/components/src/legacy-select/SelectTrigger.tsx
  packages/components/src/legacy-select/index.ts
  packages/components/src/legacy-select/intl/translations.json
  packages/components/src/legacy-select/types.ts
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/legacy-select/useMultiSelectListState.ts
  packages/components/src/legacy-select/useMultiSelectState.ts
  packages/components/src/legacy-select/utils.ts
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectTrigger.tsx
  packages/components/src/rac-select/index.ts
  packages/components/src/select/Select.module.css
  packages/components/src/select/Select.tsx
  packages/components/src/select/SelectAll.tsx
  packages/components/src/select/SelectTags.tsx
  packages/components/src/select/SelectTrigger.tsx
  packages/components/src/select/SelectValueTag.tsx
  packages/components/src/select/index.ts
  packages/components/src/select/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(select): remove non-working code examples for a starting point for new select docs
  apps/docs/docs/components/select.mdx
  apps/docs/src/components/examples/select/SelectExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix svg syntax in storybook icon (component header)
  apps/docs/src/components/icons/Storybook.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: filter global dom props from docgen
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(select): update select documentation
  apps/docs/docs/components/select.mdx
  apps/docs/src/components/examples/select/SelectExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(date-picker): remove unnecessary aria label
  apps/docs/docs/components/date-picker.mdx
Due: nx format:write --files

chore: revert app.tsx to empty baseline
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(select): point to official docs for advanced examples
  apps/docs/docs/components/select.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
