Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, calendar): sync Calendar and RangeCalendar implementations
  packages/components/src/calendar/Calendar.tsx
  packages/components/src/calendar/CalendarGrid.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: fix imports from individual components
  packages/components/package.json
Due: nx format:write --files

feat(components, table): lower sort button opacity on hover
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, calendar): remove custom todays date comparison
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/CalendarGrid.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

feat(components, layout): increase z-index of sidebar
  packages/components/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): change color of border-color-subtle
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(theme): add z-index for layout sidebar
  packages/theme/tokens/z-index.json
Due: nx format:write --files

feat(components, tabs): add contained style
  apps/docs/docs/components/tabs.mdx
  apps/storybook/__vis__/light/local/__baselines__/stories/Tabs.stories.tsx/contained-auto.png
  apps/storybook/src/stories/Tabs.stories.tsx
  packages/components/src/tabs/Tab.tsx
  packages/components/src/tabs/TabPanel.tsx
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tabs/Tabs.tsx
  packages/components/src/tabs/TabsContext.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add dummy image for popover filter
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/static/img/filter-popup.svg
Due: nx format:write --files

fix(components, calendar): align date vertically using flex
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add release notes for 15.3.0
  apps/docs/blog/release-notes/15.3.0.mdx
  apps/docs/src/components/examples/tanstack-table/ColumnDndExample.tsx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove duplicates in package.json
  packages/components/package.json
Due: nx format:write --files

chore: run npm i
  package-lock.json
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
