Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(theme): set variable body `line-height` to 20px
  packages/theme/tokens/typography.json
Due: nx format:write --files

feat(components, text): add new variants for text-size, deprecate old ones - Added bodySmall, body, descriptionSmall - Updated values and styles to match new variants - Deprecate old variants
  apps/storybook/src/stories/Text.spec.tsx
  apps/storybook/src/stories/Text.stories.tsx
  packages/components/src/text/Text.module.css
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove typescript type collection for dev server
  apps/docs/docgen-fix-plugin.ts
  apps/docs/docs/get-started/contribute/coding.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/project.json
  apps/docs/src/components/PropsTable.tsx
  package-lock.json
  tools/docusaurus/src/executors/dev-server/executor.ts
  tools/docusaurus/src/executors/dev-server/schema.d.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(deps): remove eslint-config-next
  package-lock.json
  package.json
Due: nx format:write --files

feat(components, text): override body-styles for text variant when description slot is used
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, text): use prop size to determine size, slot to determine style
  apps/docs/docs/components/text.mdx
  apps/storybook/src/stories/Text.stories.tsx
  packages/components/src/text/Text.module.css
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: update snapshot baseline
  apps/storybook/__vis__/dark/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Tabs.stories.tsx/disabled-tabs-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Text.stories.tsx/default-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/default-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Tabs.stories.tsx/disabled-tabs-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Text.stories.tsx/default-auto.png
  apps/storybook/__vis__/light/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Text.stories.tsx/default-auto.png
Due: nx format:write --files
