Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add error message list example
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add more copy
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

fix(components,date-field, date-picker): set invalid border and box-shadow to 2px
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components): use tokens for invalid box-shadow
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: update ADR with DTCG shadow syntax considerations
  docs/adr/0003-design-token-shadow-syntax.md
  docs/adr/README.md
Due: nx format:write --files

feat(theme): add invalid state style for form fields (box-shadow)
  packages/theme/tokens/states.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

test(components, grid): add component tests
  packages/components/src/grid/Grid.spec.tsx
  packages/components/src/grid/Grid.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, toast): add component tests
  packages/components/src/toast/Toast.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, popover): add component tests
  packages/components/src/popover/Popover.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, link): add component tests
  packages/components/src/link/Link.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore: add disabled example
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add disabled example
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

chore: remove unusded imports
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

docs: change copy for clarity
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

docs: fix old combobox guidelines
  apps/docs/docs/components/combobox.mdx
Due: nx format:write --files

docs: fix old combobox guidelines (#1023)
  apps/docs/docs/components/combobox.mdx
Due: nx format:write --files

docs: update types in feedback examples
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(select): change padding
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, select): change horizontal padding (#1025)
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs(components, select): add section on dynamic content
  apps/docs/docs/components/select.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
