Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(date-picker): remove unnecessary aria label
  apps/docs/docs/components/date-picker.mdx
Due: nx format:write --files

fix(select): adjust selectAll styling
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(modal): fix failing select test
  apps/storybook/src/stories/Dialog.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update select in docs examples
  apps/docs/src/components/examples/tanstack-table/TanstackTableExamples.tsx
  apps/storybook/src/examples/Form.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

docs: copy changes
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

docs: remove code references
  apps/docs/docs/design-patterns/read-only.mdx
Due: nx format:write --files

docs: release notes v15.0.0
  apps/docs/blog/release-notes/15.0.0.mdx
Due: nx format:write --files

feat(accordion): add size prop
  apps/storybook/src/stories/Accordion.stories.tsx
  apps/storybook/src/stories/AccordionItem.stories.tsx
  packages/components/src/accordion/Accordion.tsx
  packages/components/src/accordion/AccordionContext.ts
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/accordion/AccordionItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(accordion): change size tokens to spacing
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(accordion): add section on size
  apps/docs/docs/components/accordion.mdx
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(accordion): update snapshot baseline
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
Due: nx format:write --files

docs: update test instructions
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

chore: remove old migrations
  migrations.json
Due: nx format:write --files

chore: start nx migration
  migrations.json
  package-lock.json
  package.json
Due: nx format:write --files

chore: [nx migration] 22-0-0-consolidate-release-tag-config
  migrations.json
  nx.json
Due: nx format:write --files

chore: migrate nx to latest
  migrations.json
Due: nx format:write --files

feat(accordion): add size prop (#896)
  apps/docs/docs/components/accordion.mdx
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/accordion-has-background-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/contained-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/custom-trigger-elements-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Accordion.stories.tsx/default-expanded-keys-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/contained-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/important-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/info-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/status-disabled-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/success-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/AccordionItem.stories.tsx/warning-auto.png
  apps/storybook/src/stories/Accordion.stories.tsx
  apps/storybook/src/stories/AccordionItem.stories.tsx
  packages/components/src/accordion/Accordion.tsx
  packages/components/src/accordion/AccordionContext.ts
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/accordion/AccordionItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
