Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: move dropzone into file upload folder
  apps/docs/docs/components/file-upload/dropzone.mdx
Due: nx format:write --files

fix: remove spacing as it comes native with dropzone now
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix: wrap examples in our standard eaxmple card
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove section on file uploading as this is covered on the main page
  apps/docs/docs/components/file-upload/dropzone.mdx
Due: nx format:write --files

docs: clarify use case
  apps/docs/docs/components/file-upload/dropzone.mdx
Due: nx format:write --files

docs: fix intro copy to match new structure
  apps/docs/docs/components/file-upload/file-uploading.mdx
Due: nx format:write --files

docs: add link to dropzone
  apps/docs/docs/components/file-upload/file-uploading.mdx
Due: nx format:write --files

docs: fix intro to match new structure
  apps/docs/docs/components/file-upload/file-trigger.mdx
Due: nx format:write --files

docs: fix broken link
  apps/docs/docs/components/file-upload/dropzone.mdx
Due: nx format:write --files

docs: update docs to match other pages
  apps/docs/docs/components/calendar.mdx
Due: nx format:write --files

feat(utils): scaffold @midas-ds/utils package with clsx and intl formatter utilities
  nx.json
  packages/utils/README.md
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/clsx.ts
  packages/utils/src/index.ts
  packages/utils/src/intl/index.ts
  packages/utils/src/intl/useLocalizedStringFormatter.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  packages/utils/vite.config.ts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

refactor(logo): consume clsx from @midas-ds/utils instead of a duplicated local copy
  packages/logo/eslint.config.mjs
  packages/logo/package.json
  packages/logo/src/Logo.tsx
  packages/logo/src/utils/clsx.ts
  packages/logo/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(docs,docgen): share TypeScript type-doc extraction via tools/docgen
  apps/docs/docgen-fix-plugin.ts
  apps/docs/docusaurus.config.ts
  apps/docs/project.json
  tools/docgen/eslint.config.mjs
  tools/docgen/package.json
  tools/docgen/project.json
  tools/docgen/src/generate.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(storybook): wire shared docgen JSON into Storybook via __docgenInfo
  apps/storybook/.storybook/docgenPlugin.ts
  apps/storybook/.storybook/main.ts
  apps/storybook/project.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(ci): drop --skip-nx-cache from PR preview storybook build
  .github/workflows/deploy-docs-pr.yml
Due: nx format:write --files

feat(components,calendar): add opt-in month/year picker to Calendar header
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/Calendar.stories.tsx
  packages/components/src/calendar/Calendar.tsx
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/CalendarMonthPicker.spec.tsx
  packages/components/src/calendar/CalendarMonthPicker.tsx
  packages/components/src/calendar/CalendarYearPicker.spec.tsx
  packages/components/src/calendar/CalendarYearPicker.tsx
  packages/components/src/calendar/RangeCalendar.stories.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,calendar): remove test id
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/CalendarMonthPicker.spec.tsx
  packages/components/src/calendar/CalendarYearPicker.spec.tsx
  packages/components/src/calendar/RangeCalendar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,calendar): default RangeCalendar to commitBehavior=reset to avoid losing an in-progress selection
  packages/components/src/calendar/RangeCalendar.spec.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,calendar): add missing WithMonthYearPicker visual regression baselines
  packages/components/src/__screenshots__/visual.spec.tsx/calendar/Calendarstoriestsx-WithMonthYearPicker-1-chromium-linux.png
  packages/components/src/__screenshots__/visual.spec.tsx/calendar/RangeCalendarstoriestsx-WithMonthYearPicker-1-chromium-linux.png
Due: nx format:write --files

feat(components,select): add small size to SelectTrigger for compact standalone selects
  packages/components/src/select/Select.module.css
  packages/components/src/select/SelectTrigger.tsx
  packages/components/src/select/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,calendar): extract shared CalendarPicker to remove duplication
  packages/components/src/calendar/CalendarMonthPicker.tsx
  packages/components/src/calendar/CalendarPicker.tsx
  packages/components/src/calendar/CalendarYearPicker.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,list-box): add small size for compact standalone lists
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components,calendar): drop React.FC across calendar components
  packages/components/src/calendar/CalendarGrid.tsx
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/CalendarMonthPicker.tsx
  packages/components/src/calendar/CalendarYearPicker.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,calendar): remove implementation of calendar parts
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/CalendarMonthPicker.tsx
  packages/components/src/calendar/CalendarPicker.tsx
  packages/components/src/calendar/CalendarYearPicker.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: document Calendar month/year picker
  apps/docs/docs/components/calendar.mdx
Due: nx format:write --files

fix(components,calendar): use type-only import for CalendarDate to fix shared-singleton CI check
  packages/components/src/calendar/CalendarPicker.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components): remove dependency
  packages/components/eslint.config.mjs
  packages/components/package.json
Due: nx format:write --files

fix(components,calendar): fix commitBehavior regression and calendar style-reset specificity
  packages/components/package.json
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/CalendarHeader.tsx
  packages/components/src/calendar/CalendarPicker.tsx
  packages/components/src/calendar/RangeCalendar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,list-box): use layer-02 tokens for the compact month/year picker list
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add logo guidelines
  apps/docs/docs/components/logo.mdx
  apps/docs/static/img/Migrationsverket_primary_filled_horisontal_red_english.svg
  apps/docs/static/img/Migrationsverket_primary_filled_vertical_red.svg
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
