Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(docs): use light-dark tokens for language table
  apps/docs/docs/basics/language.mdx
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add usage guidelines for sticky footer
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

ci: visual regression diff report and sticky PR comment
  .github/workflows/cleanup-pr-preview.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update-visual-baseline.yml
  .github/workflows/visual-report.yml
  packages/components/vitest.config.visual.mts
  packages/datepicker-styles/vitest.config.visual.mts
  tools/visual-report/README.md
  tools/visual-report/build-report.mjs
  tools/visual-report/reporter.mjs
Due: nx format:write --files

docs: change page structure and wording
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs: change wording
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

update border radius for buttons (fake commit)
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add releases page for consumers (semver, cadence, breaking changes policy)
  apps/docs/docs/get-started/releases.mdx
Due: nx format:write --files

docs: fix broken useLocalizedStringFormatter link
  apps/docs/docs/dev/localization.mdx
Due: nx format:write --files

refactor(visual-report): make it an Nx project written in TypeScript
  .github/workflows/visual-report.yml
  package-lock.json
  package.json
  packages/components/vitest.config.visual.mts
  packages/datepicker-styles/vitest.config.visual.mts
  tools/visual-report/README.md
  tools/visual-report/eslint.config.mjs
  tools/visual-report/package.json
  tools/visual-report/project.json
  tools/visual-report/src/build-report.ts
  tools/visual-report/src/index.ts
  tools/visual-report/src/reporter.ts
  tools/visual-report/src/types.ts
  tools/visual-report/tsconfig.json
  tools/visual-report/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(docs): opt in to Docusaurus v4 future flags (#1393)
  apps/docs/.browserslistrc
  apps/docs/babel.config.js
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/layout/get-started.mdx
  apps/docs/docs/components/layout/legacy.mdx
  apps/docs/docs/components/search-field.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/design-patterns/buttons-and-links.mdx
  apps/docs/docs/dev/tailwind.mdx
  apps/docs/docs/get-started/install.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/docs/src/css/custom.css
  package-lock.json
  package.json
  tools/docusaurus/src/executors/browser/executor.ts
  tools/docusaurus/src/executors/dev-server/executor.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: show multiple input formats for react-datepicker
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(table-styles): fix stale doc comment and regroup stories by package
  packages/table-styles/src/lib/BasicTable.stories.tsx
  packages/table-styles/src/lib/pagination/Pagination.stories.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(table-styles,docs): support TanStack Table v9 alongside v8
  apps/docs/docs/dev/tanstack-table.mdx
  nx.json
  package-lock.json
  package.json
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/project.json
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/BasicTablestoriestsx-Default-1-chromium-linux.png
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/pagination/Paginationstoriestsx-Primary-1-chromium-linux.png
  packages/table-styles/src/__screenshots__/visual.spec.tsx/lib/pagination/Paginationstoriestsx-ServerSide-1-chromium-linux.png
  packages/table-styles/src/lib/BasicTable.spec.tsx
  packages/table-styles/src/lib/BasicTable.stories.tsx
  packages/table-styles/src/lib/BasicTable.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.spec.tsx
  packages/table-styles/src/lib/pagination/Pagination.v9.stories.tsx
  packages/table-styles/src/visual.spec.tsx
  packages/table-styles/tsconfig.spec.json
  packages/table-styles/vitest.config.visual.mts
  packages/table-styles/vitest.setup.visual.mts
Due: nx affected:lint --fix --files, nx format:write --files

test(table-styles): clear hover state before screenshots and show version in Storybook
  apps/storybook/.storybook/manager.ts
  packages/table-styles/vitest.setup.visual.mts
Due: nx affected:lint --fix --files, nx format:write --files

test(table-styles): pre-bundle test deps to avoid flaky visual runs
  packages/table-styles/vitest.config.visual.mts
Due: nx format:write --files

Deploy preview for PR 1387 🛫
  pr-preview/pr-1387/dev/tanstack-table/index.html
  pr-preview/pr-1387/storybook/preview-stats.json
  pr-preview/pr-1387/storybook/project.json
Due: nx format:write --files

docs: document invalid state for react-datepicker
  apps/docs/docs/dev/react-datepicker.mdx
Due: nx format:write --files

feat(datepicker-styles): add invalid state styling
  packages/datepicker-styles/src/lib/ReactDatepicker.spec.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.stories.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: show label and error message in react-datepicker invalid example
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
