Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs(dropzone,file-trigger): add DropZone docs page, point file-trigger at it
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
Due: nx format:write --files

feat(components,dropzone): add Dropzone as its own component with error/focus/drop-target states
  packages/components/src/dropzone/DropZone.module.css
  packages/components/src/dropzone/DropZone.spec.tsx
  packages/components/src/dropzone/DropZone.stories.tsx
  packages/components/src/dropzone/DropZone.tsx
  packages/components/src/dropzone/index.ts
  packages/components/src/file-upload/DropZone.stories.tsx
  packages/components/src/file-upload/FileTrigger.tsx
  packages/components/src/file-upload/FileUpload.module.css
  packages/components/src/file-upload/FileUpload.stories.tsx
  packages/components/src/file-upload/FileUpload.tsx
  packages/components/src/file-upload/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,dropzone): align states with Figma, add file-type rejection coverage
  packages/components/src/dropzone/DropZone.module.css
  packages/components/src/dropzone/DropZone.spec.tsx
  packages/components/src/dropzone/DropZone.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(dropzone,file-trigger): rewrite for accuracy and simpler tone, add validation example
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,dropzone): add pre-drop file-type rejection story
  packages/components/src/dropzone/DropZone.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,file-list): add upload progress states to FileListItem
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/file-list/intl/translations.json
  packages/components/src/progress-bar/ProgressBar.module.css
  packages/components/src/progress-bar/ProgressBar.spec.tsx
  packages/components/src/progress-bar/ProgressBar.stories.tsx
  packages/components/src/progress-bar/ProgressBar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,file-list,progress-bar): split onCancel/onDelete, fix circular progress bugs
  apps/docs/docs/components/file-list.mdx
  apps/docs/docs/components/progress-bar.mdx
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
  packages/components/src/progress-bar/ProgressBar.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,file-list): auto-restore focus to a sibling row on removal
  apps/docs/docs/components/file-list.mdx
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components): externalize shared dependencies
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): externalize shared dependencies
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(table-styles): externalize shared dependencies
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(test-utils): configure @nx/dependency-checks
  tools/test-utils/eslint.config.mjs
  tools/test-utils/package.json
Due: nx format:write --files

chore(components): configure @nx/dependency-checks
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(table-styles): configure @nx/dependency-checks
  packages/table-styles/eslint.config.mjs
  packages/table-styles/package.json
  packages/table-styles/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(select-styles): configure @nx/dependency-checks
  packages/select-styles/eslint.config.mjs
Due: nx format:write --files

chore: run minimal config of dependency checks in root
  eslint.config.mjs
Due: nx format:write --files

chore(release-local): silence lint errors
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/executors/schema.d.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(theme): remove unused eslint config
  packages/theme/eslint.config.mjs
Due: nx format:write --files

chore(components): remove unnecessary lint bypass
  packages/components/src/utils/clsx.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release-dry-run): configure @nx/dependency-checks
  package-lock.json
  package.json
  tools/release-dry-run/eslint.config.mjs
  tools/release-dry-run/package.json
Due: nx format:write --files

chore(datepicker-styles): configure @nx/dependency-checks
  nx.json
  packages/datepicker-styles/eslint.config.mjs
Due: nx format:write --files

chore(layout): configure @nx/dependency-checks
  packages/layout/eslint.config.mjs
  packages/layout/package.json
  packages/layout/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(components,file-trigger): rename file-upload folder, drop React.FC typing
  packages/components/src/dropzone/DropZone.stories.tsx
  packages/components/src/file-trigger/FileTrigger.tsx
  packages/components/src/file-trigger/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(dropzone): hint accepted file types in the validated example's button
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,radio): export RadioButton & RadioField (#1359)
  apps/docs/docs/components/radio.mdx
  packages/components/src/radio/Radio.module.css
  packages/components/src/radio/Radio.stories.tsx
  packages/components/src/radio/Radio.tsx
  packages/components/src/radio/RadioButton.tsx
  packages/components/src/radio/RadioField.tsx
  packages/components/src/radio/RadioGroup.spec.tsx
  packages/components/src/radio/RadioGroup.stories.tsx
  packages/components/src/radio/RadioGroup.tsx
  packages/components/src/radio/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(dropzone): warn about DropZone's untranslated default aria-label, fix examples
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,drop-zone): rename dropzone folder and class, type WithFileTrigger story
  packages/components/src/drop-zone/DropZone.module.css
  packages/components/src/drop-zone/DropZone.spec.tsx
  packages/components/src/drop-zone/DropZone.stories.tsx
  packages/components/src/drop-zone/DropZone.tsx
  packages/components/src/drop-zone/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,checkbox): export CheckboxButton & CheckboxField (#1361)
  apps/docs/docs/components/checkbox.mdx
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/Checkbox.spec.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxButton.tsx
  packages/components/src/checkbox/CheckboxField.tsx
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxGroupFieldError.tsx
  packages/components/src/checkbox/CheckboxGroupItem.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/SelectAllCheckbox.tsx
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/checkbox/context.ts
  packages/components/src/checkbox/index.ts
  packages/components/src/checkbox/types.ts
  packages/components/src/checkbox/useSelectAll.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
