Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: add docgen targets to component packages
  nx.json
  packages/components/project.json
  packages/layout/project.json
  packages/table-styles/project.json
Due: nx format:write --files

test(docgen): increase hook timeout
  tools/docgen/vitest.config.mts
Due: nx format:write --files

chore(docgen): update json parser import
  tools/docgen/eslint.config.mjs
Due: nx format:write --files

Deploy preview for PR 1385 🛫
  pr-preview/pr-1385/dev/tanstack-table/index.html
  pr-preview/pr-1385/storybook/preview-stats.json
  pr-preview/pr-1385/storybook/project.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@354fb8b9829856ec212e8110e46ac8df51917405 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

feat(logo): add @midas-ds/logo package
  apps/docs/project.json
  nx.json
  packages/logo/README.md
  packages/logo/eslint.config.mjs
  packages/logo/package.json
  packages/logo/project.json
  packages/logo/src/Logo.module.css
  packages/logo/src/Logo.spec.tsx
  packages/logo/src/Logo.stories.tsx
  packages/logo/src/Logo.tsx
  packages/logo/src/LogoContext.tsx
  packages/logo/src/index.ts
  packages/logo/src/intl/translations.json
  packages/logo/src/translations.spec.ts
  packages/logo/src/utils/clsx.ts
  packages/logo/src/utils/intl/index.ts
  packages/logo/src/utils/intl/useLocalizedStringFormatter.ts
  packages/logo/tsconfig.json
  packages/logo/tsconfig.lib.json
  packages/logo/tsconfig.spec.json
  packages/logo/vite.config.mts
  packages/logo/vitest.config.mts
  packages/logo/vitest.setup.mts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components): re-export Logo from @midas-ds/logo
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/src/layout/components/Header.tsx
  packages/components/src/logo/Logo.module.css
  packages/components/src/logo/Logo.spec.tsx
  packages/components/src/logo/Logo.stories.tsx
  packages/components/src/logo/Logo.tsx
  packages/components/src/logo/LogoContext.tsx
  packages/components/src/logo/index.ts
  packages/components/src/logo/intl/translations.json
  packages/components/vite.config.mts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(logo): drop unused string-formatter dependency
  packages/logo/package.json
  packages/logo/src/Logo.tsx
  packages/logo/src/utils/intl/index.ts
  packages/logo/src/utils/intl/useLocalizedStringFormatter.ts
  packages/logo/vite.config.mts
Due: nx affected:lint --fix --files, nx format:write --files

fix: avoid nx eslint crash and version-resolution failure for new logo package
  nx.json
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(utils): scaffold @midas-ds/utils package with clsx and intl formatter utilities
  apps/docs/docs/components/logo.mdx
  nx.json
  packages/logo/src/Logo.spec.tsx
  packages/logo/src/Logo.tsx
  packages/utils/README.md
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/clsx.ts
  packages/utils/src/index.ts
  packages/utils/src/intl/index.ts
  packages/utils/src/intl/useLocalizedStringFormatter.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  packages/utils/vite.config.mts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1388 🛫
  pr-preview/pr-1388/dev/tanstack-table/index.html
  pr-preview/pr-1388/storybook/preview-stats.json
  pr-preview/pr-1388/storybook/project.json
Due: nx format:write --files

test: visual regression screenshots for all packages
  .github/workflows/update-visual-baseline.yml
Due: nx format:write --files

test(components): clear hover states before taking screenshots
  packages/components/vitest.setup.visual.mts
Due: nx format:write --files

fake commit for opening a PR. remove later
  packages/components/vitest.setup.visual.mts
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@2761d75004a29e75b7e2127ac2ac67acd9c7d0ee 🚀
  components/calendar/index.html
  components/datefield/index.html
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

docs(docs): explain 0.x version bumps and how to release 1.0
  apps/docs/docs/get-started/contribute/contributing.mdx
  apps/docs/docs/get-started/contribute/conventions.mdx
Due: nx format:write --files

test: pass --all to the update visual regressions screenshots command
  .github/workflows/update-visual-baseline.yml
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@8a335f0ea0d35077fc4dee243df9721a784bd135 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@141a5299bad7f1e6f0bad54ece34deb78c05cbae 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files

test: add trailing slash to diff path
  .github/workflows/update-visual-baseline.yml
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@90d48093d606648aed54654514563906a442adad 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
Due: nx format:write --files
