Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(theme): break out buttons from object-values.json
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/buttons.json
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): update values for button tertiary|icon : hover
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: disable nx enforce module boundaries
  apps/docs/src/components/ThemedImage.tsx
  apps/docs/src/components/getComponentMetaData.tsx
  apps/docs/src/pages/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files

ops: add condition to playwright installation step
  .github/workflows/pr-checks.yml
Due: nx format:write --files

ops: set chromatic workflow `autoAcceptChanges: 'main'`
  .github/workflows/visual-testing.yml
Due: nx format:write --files

docs: update typography example
  apps/storybook/src/examples/Typography.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: allow circular self dependencies in docs app
  apps/docs/.eslintrc.json
Due: nx format:write --files

feat(modal): add option to hide close button in header
  apps/docs/docs/components/modal.mdx
  apps/docs/src/components/examples/ModalExamples.tsx
  apps/storybook/src/stories/Dialog.stories.tsx
  packages/components/src/modal/Dialog.module.css
  packages/components/src/modal/Dialog.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(storybook): fix bad syntax in storybook background selector
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
