Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(docs,combobox): replace deprecated selectedKey/onSelectionChange with value/onChange
  apps/docs/docs/components/combobox.mdx
  apps/docs/src/components/examples/combobox/ComboboxExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,color-scheme-switch): add scheme and onSchemeChange props
  apps/docs/docs/components/color-scheme-switch.mdx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.stories.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(layout,panel): add DetailView story for in-place content updates
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,panel): document detail view pattern with stable panel id
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docusaurus.config.ts
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/PanelProvider.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,panel): fix push variant on mobile with height transition
  packages/layout/src/layout/layout-content/LayoutContent.module.css
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/panel/PanelRegion.module.css
  packages/theme/tokens/transitions.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(ci): cache Playwright browsers and add job timeouts
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore(ci): upgrade Playwright to 1.60.0 and set download timeout
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
  package-lock.json
  package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

test(components,color-scheme-switch): add ColorSchemeSwitchMenu tests, stories and docs
  apps/docs/docs/components/color-scheme-switch.mdx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,color-scheme-switch): extract useColorScheme hook and animate chevron
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
  packages/components/src/color-scheme-switch/useColorScheme.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,color-scheme-switch): add dropdown menu variant
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.stories.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
  packages/components/src/color-scheme-switch/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
