Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs: fix grammar in dev instructions
  apps/docs/docs/get-started/contribute/coding.mdx
Due: nx format:write --files

docs: update token rendering page
  apps/docs/docs/get-started/contribute/tokens/index.mdx
  apps/docs/src/components/tokens/Tokens.module.css
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update dev contribute instructions
  apps/docs/docs/get-started/contribute/coding.mdx
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add missing npm install for midas-table-styles
  apps/docs/docs/dev/tanstack-table.mdx
Due: nx format:write --files

docs: fix typo in react-select css path
  apps/docs/docs/dev/react-select.mdx
Due: nx format:write --files

feat(components, pagination): create pagination POC
  apps/storybook/src/stories/Pagination.stories.tsx
  packages/components/src/index.ts
  packages/components/src/pagination/Pagination.module.css
  packages/components/src/pagination/Pagination.tsx
  packages/components/src/pagination/index.ts
  packages/components/src/pagination/intl/translations.json
  packages/components/src/pagination/pagination.spec.ts
  packages/components/src/pagination/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, accordion): add type examples
  apps/docs/docs/components/accordion.mdx
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components): create a common component for status icons
  packages/components/src/accordion/AccordionItem.tsx
  packages/components/src/common/FeedbackStatusIcon.tsx
  packages/components/src/common/icon-map.ts
  packages/components/src/common/intl/translations.json
  packages/components/src/info-banner/InfoBanner.tsx
  packages/components/src/toast/Toast.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, accordion): add an aria-label to the status icon
  apps/storybook/src/stories/AccordionItem.spec.tsx
  packages/components/src/accordion/AccordionItem.tsx
  packages/components/src/accordion/intl/translations.json
  packages/components/src/common/icon-map.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

fix(select-styles): add medium size support
  apps/docs/docs/dev/react-select.mdx
  apps/docs/src/components/examples/react-select/MultiComboBox.tsx
  apps/storybook/src/stories/ReactSelect.stories.tsx
  packages/select-styles/src/lib/react-select.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: update snapshot baseline
  apps/storybook/__vis__/dark/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Tabs.stories.tsx/disabled-tabs-auto.png
  apps/storybook/__vis__/dark/local/__baselines__/stories/Text.stories.tsx/default-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/SearchField.stories.tsx/primary-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Tabs.stories.tsx/disabled-tabs-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/Text.stories.tsx/default-auto.png
  apps/storybook/__vis__/light/local/__baselines__/examples/Typography.stories.tsx/example-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/example-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-actions-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-link-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Card.stories.tsx/with-primary-action-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Grid.stories.tsx/primary-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Menu.stories.tsx/controlled-multiple-selection-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Menu.stories.tsx/controlled-single-selection-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/Text.stories.tsx/default-auto.png
Due: nx format:write --files

fix(components, pagination): fix string and number confusion to avoid page navigation errors
  packages/components/src/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, popover): change caret size
  packages/components/src/popover/Popover.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, pagination): add focus scope to navigation buttons
  packages/components/src/pagination/Pagination.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, pagination): update translations for rows
  packages/components/src/pagination/intl/translations.json
Due: nx format:write --files

chore: add temporary testing grounds for pagination component
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, popover): replace box-shadow with dynamic drop-shadow filter
  packages/components/src/popover/Popover.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
Due: nx format:write --files
