Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs(docs): document react-datepicker v8 and v9 support
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(datepicker-styles): add stories, specs and visual regression setup
  apps/docs/docs/dev/react-datepicker.mdx
  apps/storybook/.storybook/manager.ts
  nx.json
  package-lock.json
  package.json
  packages/datepicker-styles/eslint.config.mjs
  packages/datepicker-styles/project.json
  packages/datepicker-styles/src/lib/ReactDatepicker.spec.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.stories.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.v8.spec.tsx
  packages/datepicker-styles/src/lib/ReactDatepicker.v8.stories.tsx
  packages/datepicker-styles/src/visual.spec.tsx
  packages/datepicker-styles/tsconfig.json
  packages/datepicker-styles/tsconfig.lib.json
  packages/datepicker-styles/tsconfig.spec.json
  packages/datepicker-styles/vite.config.mts
  packages/datepicker-styles/vitest.config.mts
  packages/datepicker-styles/vitest.config.visual.mts
  packages/datepicker-styles/vitest.setup.mts
  packages/datepicker-styles/vitest.setup.visual.mts
Due: nx affected:lint --fix --files, nx format:write --files

feat(datepicker-styles)!: support react-datepicker v8 and v9
  packages/datepicker-styles/eslint.config.mjs
  packages/datepicker-styles/package.json
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(datepicker-styles): add test-util dependencies to avoid flaky tests
  packages/datepicker-styles/vitest.config.visual.mts
Due: nx format:write --files

Deploy preview for PR 1388 🛫
  pr-preview/pr-1388/dev/tanstack-table/index.html
  pr-preview/pr-1388/storybook/preview-stats.json
  pr-preview/pr-1388/storybook/project.json
Due: nx format:write --files

docs(docs): explain 0.x version bumps and how to release 1.0
  apps/docs/docs/get-started/contribute/contributing.mdx
  apps/docs/docs/get-started/contribute/conventions.mdx
Due: nx format:write --files

chore(docs): opt in to Docusaurus v4 future flags
  apps/docs/babel.config.js
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/layout/get-started.mdx
  apps/docs/docs/components/layout/legacy.mdx
  apps/docs/docs/components/search-field.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/design-patterns/buttons-and-links.mdx
  apps/docs/docs/dev/tailwind.mdx
  apps/docs/docs/get-started/install.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/src/css/custom.css
  apps/docs/src/css/index.module.css
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(logo): start version at 0.0.1 to avoid shipping 2.0.0 on first release
  packages/logo/package.json
Due: nx format:write --files

ci: detect and commit new visual baselines for all packages
  .github/workflows/update-visual-baseline.yml
Due: nx format:write --files

chore(release): publish
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
Due: nx format:write --files

Deploying to gh-pages from @ migrationsverket/midas@f03ea57ee1aedcec22bc00905c38266489774b69 🚀
  dev/tanstack-table/index.html
  search-index.json
  storybook/preview-stats.json
  storybook/project.json
  storybook/sb-addons/storybook-4/manager-bundle.js
Due: nx format:write --files

Stack layout komponent
  packages/layout/src/index.ts
  packages/layout/src/stack/Stack.module.css
  packages/layout/src/stack/Stack.spec.tsx
  packages/layout/src/stack/Stack.stories.tsx
  packages/layout/src/stack/Stack.tsx
  packages/layout/src/stack/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(layout,stack): fix failing tests
  packages/layout/src/stack/Stack.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1392 🛫
  pr-preview/pr-1392/dev/tanstack-table/index.html
  pr-preview/pr-1392/storybook/preview-stats.json
  pr-preview/pr-1392/storybook/project.json
Due: nx format:write --files

feat(components,file-list): animate the upload-complete and upload-failed transitions
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components): add sticky footer support to Modal
  apps/docs/docs/components/modal.mdx
  apps/docs/src/components/examples/ModalExamples.tsx
  packages/components/src/modal/Modal.module.css
  packages/components/src/modal/Modal.spec.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/modal/Modal.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Deploy preview for PR 1393 🛫
  pr-preview/pr-1393/components/calendar/index.html
  pr-preview/pr-1393/components/datefield/index.html
  pr-preview/pr-1393/dev/tanstack-table/index.html
  pr-preview/pr-1393/storybook/preview-stats.json
  pr-preview/pr-1393/storybook/project.json
Due: nx format:write --files

chore(docs): opt in to Docusaurus v4 future flags
  apps/docs/babel.config.js
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/layout/get-started.mdx
  apps/docs/docs/components/layout/legacy.mdx
  apps/docs/docs/components/search-field.mdx
  apps/docs/docs/components/textfield.mdx
  apps/docs/docs/design-patterns/buttons-and-links.mdx
  apps/docs/docs/dev/tailwind.mdx
  apps/docs/docs/get-started/install.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/src/css/custom.css
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(docs): drop cascade-layers polyfill via a docs-only browserslist
  apps/docs/.browserslistrc
  apps/docs/docusaurus.config.ts
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  tools/docusaurus/src/executors/browser/executor.ts
  tools/docusaurus/src/executors/dev-server/executor.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(docs): remove unused dependencies
  package-lock.json
  package.json
Due: nx format:write --files

Deploy preview for PR 1393 🛫
  pr-preview/pr-1393/dev/tanstack-table/index.html
  pr-preview/pr-1393/storybook/preview-stats.json
  pr-preview/pr-1393/storybook/project.json
Due: nx format:write --files

fix(docs): use light-dark tokens for language table
  apps/docs/docs/basics/language.mdx
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input
