Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: fix verdaccio storage settings
  .verdaccio/config.yaml
  docker-compose.yml
Due: nx format:write --files

docs: update test instructions for docker
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

chore: set correct playwright install cmd for docker
  Dockerfile
Due: nx format:write --files

chore: workflow for testing docker setup
  .github/workflows/docker.yml
Due: nx format:write --files

chore: update Dockerfile to install 22-slim and install playwright
  Dockerfile
Due: nx format:write --files

chore: update docker setup
  .verdaccio/config.yaml
  apps/docs/docs/get-started/contribute/coding.mdx
  apps/docs/docs/get-started/contribute/tests.mdx
  docker-compose.yml
Due: nx format:write --files

feat(layout): add navigation link examples
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navbar/Navbar.module.css
  packages/layout/src/navigation-link/NavigationLink.tsx
  packages/layout/src/navigation-link/index.ts
  packages/layout/src/navigation/Navigation.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add tests for docker-verdaccio
  .github/workflows/docker.yml
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/warmup-package/package.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout): create navigation-link variant
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navbar/Navbar.module.css
  packages/layout/src/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation-link/NavigationLink.tsx
  packages/layout/src/navigation/Navigation.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): create nav component outline
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navigation/Navigation.module.css
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update menu accessibility guidelines
  apps/docs/docs/components/menu.mdx
Due: nx format:write --files

chore(components,menu): deprecate `MenuItemObject`
  packages/components/src/menu/Menu.tsx
  packages/components/src/menu/MenuItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

docs: add boillerplate copy
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
