Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(tabs): fix displaying horizontal/vertical tabs
  apps/storybook/src/stories/Tabs.stories.tsx
  packages/components/src/tabs/Tab.tsx
  packages/components/src/tabs/TabList.tsx
  packages/components/src/tabs/TabPanel.tsx
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/tabs/Tabs.tsx
  packages/components/src/tabs/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(list-box): adjust section header styling
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): pixel pushing
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectListBox.tsx
  packages/components/src/rac-select/SelectTrigger.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove repetitive subheadings
  apps/docs/docs/design-patterns/page-loading.mdx
Due: nx format:write --files

chore: remove deprecated prop
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: clarify guidelines
  apps/docs/docs/design-patterns/page-loading.mdx
Due: nx format:write --files

chore: make full screen spinner white with prop that will work once #880 is merged
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: change description
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

feat(spinner): color defaults to icon-tertiary, deprecate `isOnColor`
  apps/storybook/src/stories/Spinner.stories.tsx
  packages/components/src/spinner/Spinner.module.css
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(spinner): update spinner docs with new props
  apps/docs/docs/components/spinner.mdx
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(datepicker-styles): align more styles with midas-datepicker
  apps/playground/src/app/app.tsx
  package-lock.json
  package.json
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): remove isClearable
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectListBox.tsx
  packages/components/src/rac-select/SelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): use midas popover
  packages/components/src/popover/Popover.module.css
  packages/components/src/popover/Popover.tsx
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): pixel pushing
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/SelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(datepicker-styles): set correct styles for next-prev arrows, add docs
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/index.ts
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
  apps/docs/src/components/examples/react-datepicker/index.ts
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: create first draft of read-only guidelines
  apps/docs/docs/design-patterns/read-only.mdx
Due: nx format:write --files

docs: create read-only exampels
  apps/docs/src/components/examples/read-only/ReadOnlyExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: delete files that belong in another branch
  apps/docs/docs/design-patterns/read-only.mdx
  apps/docs/src/components/examples/read-only/ReadOnlyExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add read only guidelines draft
  apps/docs/docs/design-patterns/read-only.mdx
Due: nx format:write --files

docs: add read-only examples
  apps/docs/src/components/examples/read-only/ReadOnlyExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove unused app
  apps/playground-e2e/.eslintrc.json
  apps/playground-e2e/cypress.config.ts
  apps/playground-e2e/project.json
  apps/playground-e2e/src/e2e/app.cy.ts
  apps/playground-e2e/src/fixtures/example.json
  apps/playground-e2e/src/support/app.po.ts
  apps/playground-e2e/src/support/commands.ts
  apps/playground-e2e/src/support/e2e.ts
  apps/playground-e2e/tsconfig.json
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
