Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

feat(table-styles): add hover and transitions for sort/dnd icons
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(tanstack-table): remove unnecessary styles from sorting examples in tanstack
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/ColumnDndExample.tsx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

style(select-styles): adjust position of popover
  packages/select-styles/src/lib/react-select.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove redundant token explanations
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
Due: nx format:write --files

feat(components, table): set correct icons for sorting
  packages/components/src/table/Table.module.css
  packages/components/src/table/Table.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(table): add sorting example to table docs
  apps/docs/docs/components/table.mdx
  apps/docs/src/components/examples/table/TableExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(table): add table sorting story
  apps/storybook/src/stories/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update dev instructions for tokens
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): add typography tokens `body` and `body-small`
  packages/theme/tokens/typography.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(components, calendar): add aria-labels to examples
  apps/docs/docs/components/calendar.mdx
  apps/docs/src/components/examples/calendar/CalendarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, calendar): align date vertically using flex
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add categories to menu
  apps/docs/docs/components/container/_category_.json
  apps/docs/docs/components/container/accordion.mdx
  apps/docs/docs/components/container/card.mdx
  apps/docs/docs/components/container/layout.mdx
  apps/docs/docs/components/container/table.mdx
  apps/docs/docs/components/feedback/_category_.json
  apps/docs/docs/components/feedback/badge.mdx
  apps/docs/docs/components/feedback/info-banner.mdx
  apps/docs/docs/components/feedback/modal.mdx
  apps/docs/docs/components/feedback/popover.mdx
  apps/docs/docs/components/feedback/progress-bar.mdx
  apps/docs/docs/components/feedback/skeleton.mdx
  apps/docs/docs/components/feedback/spinner.mdx
  apps/docs/docs/components/feedback/toast.mdx
  apps/docs/docs/components/feedback/tooltip.mdx
  apps/docs/docs/components/form/_category_.json
  apps/docs/docs/components/form/calendar.mdx
  apps/docs/docs/components/form/checkbox.mdx
  apps/docs/docs/components/form/combobox.mdx
  apps/docs/docs/components/form/date-picker.mdx
  apps/docs/docs/components/form/datefield.mdx
  apps/docs/docs/components/form/radio.mdx
  apps/docs/docs/components/form/select.mdx
  apps/docs/docs/components/form/textarea.mdx
  apps/docs/docs/components/form/textfield.mdx
  apps/docs/docs/components/navigation/_category_.json
  apps/docs/docs/components/navigation/breadcrumbs.mdx
  apps/docs/docs/components/navigation/dropdown.mdx
  apps/docs/docs/components/navigation/link-button.mdx
  apps/docs/docs/components/navigation/link.mdx
  apps/docs/docs/components/navigation/menu.mdx
  apps/docs/docs/components/navigation/tabs.mdx
  package-lock.json
Due: nx format:write --files

refactor(components): optimize build structure
  packages/components/package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components): put the aria chunks with the other chunks
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, calendar): remove custom todays date comparison
  packages/components/src/calendar/Calendar.module.css
  packages/components/src/calendar/CalendarGrid.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
