Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

test(layout): update failing test
  packages/layout/src/navbar/Navbar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update proptable to display complex types
  apps/docs/docgen-fix-plugin.ts
  apps/docs/docs/components/toast.mdx
  apps/docs/src/components/PropsTable.tsx
  apps/docs/src/css/propstable.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add migration guide
  apps/docs/blog/release-notes/17.0.0.mdx
Due: nx format:write --files

fix(components,toast): rewrite storybook stories and remove fictional priority API
  apps/docs/docs/components/toast.mdx
  packages/components/src/toast/Toast.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,toast): update tests to match rewritten stories
  packages/components/src/toast/Toast.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(layout): change css grid to flex layout
  packages/layout/src/header/Header.module.css
  packages/layout/src/header/Header.tsx
  packages/layout/src/index.ts
  packages/layout/src/layout/Layout.module.css
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/main/Main.module.css
  packages/layout/src/main/Main.tsx
  packages/layout/src/main/index.ts
  packages/layout/src/navbar/Navbar.module.css
  packages/layout/src/navbar/Navbar.tsx
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(layout, panel): split into multiple components
  dream
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.stories.tsx
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.module.css
  packages/layout/src/panel/components/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/components/collapse-panel/index.ts
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/components/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/components/dismiss-panel/index.ts
  packages/layout/src/panel/components/index.ts
  packages/layout/src/panel/components/panel-body/PanelBody.module.css
  packages/layout/src/panel/components/panel-body/PanelBody.tsx
  packages/layout/src/panel/components/panel-body/index.ts
  packages/layout/src/panel/components/panel-header/PanelHeader.module.css
  packages/layout/src/panel/components/panel-header/PanelHeader.tsx
  packages/layout/src/panel/components/panel-header/index.ts
  packages/layout/src/panel/components/panel-title/PanelTitle.module.css
  packages/layout/src/panel/components/panel-title/PanelTitle.tsx
  packages/layout/src/panel/components/panel-title/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): add sidebar drawer
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navigation/Drawer.module.css
  packages/layout/src/navigation/Drawer.tsx
  packages/layout/src/navigation/Navigation.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout): create collapsable panel
  dream
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation-link/NavigationLink.tsx
  packages/layout/src/navigation/Navigation.module.css
  packages/layout/src/navigation/Navigation.stories.tsx
  packages/layout/src/navigation/Navigation.tsx
  packages/layout/src/navigation/components/drawer/Drawer.module.css
  packages/layout/src/navigation/components/drawer/Drawer.tsx
  packages/layout/src/navigation/components/drawer/index.ts
  packages/layout/src/navigation/components/index.ts
  packages/layout/src/navigation/components/link/NavigationLink.module.css
  packages/layout/src/navigation/components/link/NavigationLink.stories.tsx
  packages/layout/src/navigation/components/link/NavigationLink.tsx
  packages/layout/src/navigation/components/link/index.ts
  packages/layout/src/navigation/components/list-item/NavigationListItem.module.css
  packages/layout/src/navigation/components/list-item/NavigationListItem.tsx
  packages/layout/src/navigation/components/list-item/index.ts
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.module.css
  packages/layout/src/navigation/components/sub-menu/NavigationSubMenu.tsx
  packages/layout/src/navigation/components/sub-menu/index.ts
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.stories.tsx
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components): make browser tests pass in headed Playwright mode
  apps/docs/docs/get-started/contribute/tests.mdx
  packages/components/src/calendar/RangeCalendar.spec.tsx
  packages/components/src/card/Card.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.spec.tsx
  packages/components/src/date-picker/DatePicker.spec.tsx
  packages/components/src/layout/Layout.spec.tsx
  packages/components/src/menu/Menu.spec.tsx
  packages/components/src/radio/Radio.spec.tsx
  packages/components/src/select/Select.spec.tsx
  packages/components/src/textfield/TextArea.spec.tsx
  packages/components/src/textfield/TextField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,datepicker): fix calendar icon btn placement in firefox
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, textfield): add hover color to password button
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat!(components,combobox,list-box): remove deprecated `ComboBoxItem`, `ComboBoxSection`, list-box types, and `ListBoxSection` `name` prop
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/combobox/index.ts
  packages/components/src/list-box/ListBoxSection.tsx
  packages/components/src/list-box/index.ts
  packages/components/src/list-box/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: release notes for v17.0.0
  apps/docs/blog/release-notes/17.0.0.mdx
  packages/components/src/text/Text.module.css
  packages/components/src/text/Text.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components, select, combobox): extend type for sections
  packages/components/src/list-box/ListBoxSection.tsx
Due: nx affected:lint --fix --files, nx format:write --files
