Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

feat(components): re-export Logo from @midas-ds/logo
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/src/layout/components/Header.tsx
  packages/components/src/logo/Logo.module.css
  packages/components/src/logo/Logo.spec.tsx
  packages/components/src/logo/Logo.stories.tsx
  packages/components/src/logo/Logo.tsx
  packages/components/src/logo/LogoContext.tsx
  packages/components/src/logo/index.ts
  packages/components/src/logo/intl/translations.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix: avoid nx eslint crash and version-resolution failure for new logo package
  nx.json
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(logo): drop unused string-formatter dependency
  packages/logo/package.json
  packages/logo/src/Logo.tsx
  packages/logo/src/utils/intl/index.ts
  packages/logo/src/utils/intl/useLocalizedStringFormatter.ts
  packages/logo/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: move examples from file-trigger to file-uploading
  apps/docs/docs/components/file-upload/file-trigger.mdx
  apps/docs/docs/components/file-upload/file-uploading.mdx
Due: nx format:write --files

fix: update examples
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix: fix broken links
  apps/docs/docs/components/file-upload/file-uploading.mdx
Due: nx format:write --files

docs: update intro copy and copy on variants
  apps/docs/docs/components/file-upload/file-uploading.mdx
Due: nx format:write --files

fix: make examples look more correct
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,dropzone): add pre-drop file-type rejection story
  packages/components/src/dropzone/DropZone.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,drop-zone): fix padding token, remove hardcoded height, and disabled border regression
  packages/components/src/drop-zone/DropZone.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(dropzone,file-trigger): add DropZone docs page, point file-trigger at it
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
Due: nx format:write --files

chore(components,drop-zone): rename dropzone folder and class, type WithFileTrigger story
  packages/components/src/drop-zone/DropZone.module.css
  packages/components/src/drop-zone/DropZone.spec.tsx
  packages/components/src/drop-zone/DropZone.stories.tsx
  packages/components/src/drop-zone/DropZone.tsx
  packages/components/src/drop-zone/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,dropzone): add Dropzone as its own component with error/focus/drop-target states
  packages/components/src/dropzone/DropZone.module.css
  packages/components/src/dropzone/DropZone.spec.tsx
  packages/components/src/dropzone/DropZone.stories.tsx
  packages/components/src/dropzone/DropZone.tsx
  packages/components/src/dropzone/index.ts
  packages/components/src/file-upload/DropZone.stories.tsx
  packages/components/src/file-upload/FileTrigger.tsx
  packages/components/src/file-upload/FileUpload.module.css
  packages/components/src/file-upload/FileUpload.stories.tsx
  packages/components/src/file-upload/FileUpload.tsx
  packages/components/src/file-upload/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(dropzone): hint accepted file types in the validated example's button
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,file-trigger): rename file-upload folder, drop React.FC typing
  packages/components/src/dropzone/DropZone.stories.tsx
  packages/components/src/file-trigger/FileTrigger.tsx
  packages/components/src/file-trigger/index.ts
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(dropzone): warn about DropZone's untranslated default aria-label, fix examples
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(dropzone,file-trigger): rewrite for accuracy and simpler tone, add validation example
  apps/docs/docs/components/dropzone.mdx
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,dropzone): align states with Figma, add file-type rejection coverage
  packages/components/src/dropzone/DropZone.module.css
  packages/components/src/dropzone/DropZone.spec.tsx
  packages/components/src/dropzone/DropZone.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

test(components): mock the date for visual regression
  packages/components/eslint.config.mjs
  packages/components/tsconfig.spec.json
  packages/components/vitest.config.visual.ts
  packages/components/vitest.setup.visual.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix: fix icon import
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
