Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: increase test timeout
  apps/storybook/vitest.config.dark.ts
  apps/storybook/vitest.config.forced-colors.ts
  apps/storybook/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

revert: Revert "feat(date-picker): hide days outside of month"
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add example with formatted weekdays
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove `preventOpenOnFocus` prop for better keyboard interaction
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(calendar): set correct styles for days outside month
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(calendar): fix failing tests
  apps/storybook/src/stories/Calendar.stories.tsx
  apps/storybook/src/stories/RangeCalendar.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: clear playground
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(radio): add styling for read-only state
  apps/storybook/src/stories/Radio.stories.tsx
  packages/components/src/radio/Radio.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(combobox): add styling for read-only state
  apps/storybook/src/stories/ComboBox.stories.tsx
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/combobox/ComboBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): add styling for read-only state
  apps/storybook/src/stories/TextArea.stories.tsx
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/character-counter/CharacterCounter.module.css
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add styling for read-only state
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-field): add styling for read-only state
  apps/storybook/src/stories/DateField.stories.tsx
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(checkbox): add styling for read-only state
  apps/storybook/src/stories/Checkbox.stories.tsx
  apps/storybook/src/stories/CheckboxGroup.stories.tsx
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add read-only colors
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update loading patterns (#868)
  apps/docs/docs/design-patterns/page-loading.mdx
  apps/docs/src/components/examples/custom.css
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: fix typo in tokens page
  apps/docs/docs/basics/tokens.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
