Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(layout, header): update css according to spec
  packages/layout/src/header/Header.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel): update css according to spec
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/index.ts
  packages/layout/src/panel/panel-body/PanelBody.module.css
  packages/layout/src/panel/panel-content/PanelContent.module.css
  packages/layout/src/panel/panel-content/PanelContent.tsx
  packages/layout/src/panel/panel-content/index.ts
  packages/layout/src/panel/panel-header/PanelHeader.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, sidebar): update css according to spec
  packages/layout/src/panel/panel-body/PanelBody.module.css
  packages/layout/src/panel/panel-content/PanelContent.module.css
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel, sidebar): change aria role
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelRegion.tsx
  packages/layout/src/panel/panel-body/PanelBody.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, grid): change flex-wrap behavior for columns
  packages/components/src/grid/Grid.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, card): change horizontal heading level
  apps/docs/docs/components/card.mdx
  packages/components/src/card/Card.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): create and export a reset css
  apps/docs/docs/dev/layout/index.mdx
  apps/next/app/global.css
  apps/next/app/layout.tsx
  packages/layout/package.json
  packages/layout/src/default.css
  packages/layout/vite.config.ts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(components, card): update title section
  apps/docs/docs/components/card.mdx
Due: nx format:write --files

fix(components, date-picker): add forwardRef and generic type
  apps/docs/src/components/examples/date-picker/DatePickerExamples.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout): add css installation examples
  apps/docs/docs/dev/layout/index.mdx
  apps/next/app/page.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files
