Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components, layout): adjust forced colors for active links
  packages/components/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: run a11y tests in parallel
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore: run CI a11y tests with firefox
  .github/workflows/pr-checks.yml
  apps/storybook/vitest.storybook.project.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components): remove React.FC wrapper
  packages/components/src/character-counter/CharacterCounter.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxGroupItem.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/layout/components/SidebarLink.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/textfield/Input.tsx
  packages/components/src/textfield/PasswordField.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
  packages/components/src/textfield/TextFieldBase.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: revert removal of react 18 peerDeps
  packages/components/package.json
Due: nx format:write --files

chore(checkbox): assert prop types
  packages/components/src/checkbox/useSelectAll.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: accept all shapes of external refs
  package-lock.json
  package.json
  packages/components/src/character-counter/CharacterCounter.tsx
  packages/components/src/checkbox/types.ts
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/legacy-select/HiddenMultiSelect.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/legacy-select/types.ts
  packages/components/src/textfield/Input.tsx
  packages/components/src/textfield/PasswordField.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: update to react 19
  package-lock.json
  package.json
  packages/components/package.json
Due: nx format:write --files

refactor: remove React.forwardRef
  packages/components/src/character-counter/CharacterCounter.tsx
  packages/components/src/checkbox/Checkbox.tsx
  packages/components/src/checkbox/CheckboxGroupItem.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/checkbox/SingleCheckbox.tsx
  packages/components/src/checkbox/types.ts
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/legacy-select/types.ts
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/textfield/Input.tsx
  packages/components/src/textfield/PasswordField.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.tsx
  packages/components/src/textfield/TextFieldBase.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): remove isRangePicker prop
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/DateRangePicker.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): rename prop
  apps/storybook/src/stories/DateField.stories.tsx
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/DateRangePicker.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, clear-button): remove type export
  packages/components/src/clear-button/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): add FocusScope
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): use MidasButton type for ClearButton
  packages/components/src/clear-button/ClearButton.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): rename variable
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, date-field): remove export for ClearButton
  packages/components/src/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,datepicker,datefield,searchfield): refactor and add clearbutton for date inputs
  apps/storybook/src/stories/DateField.stories.tsx
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  packages/components/src/clear-button/ClearButton.tsx
  packages/components/src/clear-button/index.ts
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-field/intl/translations.json
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
  packages/components/src/date-picker/DateRangePicker.tsx
  packages/components/src/date-picker/intl/translations.json
  packages/components/src/index.ts
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

test: update testTimeout config
  apps/storybook/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

test(components, date-field): add tests for isClearable
  apps/storybook/src/stories/DateField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, date-picker): add tests for isClearable
  apps/storybook/src/stories/DatePicker.spec.tsx
  apps/storybook/src/stories/DateRangePicker.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, date-field, date-picker): remove configurable stories
  apps/storybook/src/stories/DateField.stories.tsx
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, date-field, date-picker): add sections on isClearable
  apps/docs/docs/components/date-picker.mdx
  apps/docs/docs/components/datefield.mdx
Due: nx format:write --files
