Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs: change IconCopy Button variant
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: replace IconCopy button
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove IconCopy button padding
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: added IconCopy to all names and changed case
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

feat(calendar): change focus styles for start/end range
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: demo with different color schemes
  apps/docs/docs/components/info-banner.mdx
Due: nx format:write --files

feat(calendar): change in-range styles to top-bottom border
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): release package, version [release]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

docs: remove guidelines
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: change sidebar order
  apps/docs/docs/basics/accessibility.mdx
  apps/docs/docs/basics/icons.mdx
  apps/docs/docs/basics/language.mdx
  apps/docs/docs/basics/tokens.mdx
Due: nx format:write --files

chore: remove tooltip, add copy icon
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files
