Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(layout,sidebar): prevent width shift when scrollbar appears
  packages/layout/src/main/Main.module.css
  packages/layout/src/sidebar/Sidebar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,navigation): animate nav label collapse in sidebar
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(next): add multiword nav labels for animation testing
  apps/next/components/Navigation/Navigation.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(theme,components,docs): fix tag token architecture and add missing tests
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  packages/components/src/tag/Tag.spec.tsx
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(layout): fix prettier formatting in NavigationLink.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(theme): bump style-dictionary to 5.4.0
  package-lock.json
  package.json
Due: nx format:write --files

fix(next): remove default config spread
  apps/next/next.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, mobile-menu): add display block to modal overlay
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

feat(theme,components,docs): add dedicated primitives for tag color tokens
  apps/docs/docs/components/tag.mdx
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/examples/tag/TagExamples.tsx
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/Tag.spec.tsx
  packages/components/src/tag/Tag.stories.tsx
  packages/components/src/tag/Tag.tsx
  packages/theme/tokens/colors.json
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout,sidebar): animate PanelTitle on collapse
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,sidebar): update tests to reflect in-DOM title animation
  packages/layout/src/sidebar/Sidebar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,table): add row actions section with onAction and onRowAction examples
  apps/docs/docs/components/table.mdx
  apps/docs/src/components/examples/table/TableExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, tag): add colors
  apps/docs/docs/components/tag.mdx
  apps/docs/src/components/examples/tag/TagExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components, tag): remove redundant css
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add tag colors
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(components, tag): add colors
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/Tag.stories.tsx
  packages/components/src/tag/Tag.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
