Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(dropdown): add visible focus for forced colors
  packages/components/src/dropdown/Dropdown.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(button): add loading state
  packages/components/src/button/Button.module.css
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(button): add loading prop
  packages/components/src/button/Button.module.css
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(accordion): change forced color for status icon
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(button): changed prop description
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(link): add a hover state in forced colors mode
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: update style dictionary `5.0.4` --> `5.1.1`
  package-lock.json
  package.json
Due: nx format:write --files

feat(spinner): change small spinner to 20px
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(spinner): change large size and strokeWidth
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(field-error): change icon color in contrast mode
  packages/components/src/field-error/FieldError.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(date-field): add visible border in contrast mode
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-field/DateSegment.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(date-picker): add visible border in contrast mode
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(spinner): add variant prop
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(spinner): add css for variants and currentColor for use in button
  packages/components/src/spinner/Spinner.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(spinner): change large size
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): add forced colors mode support
  packages/components/src/layout/Layout.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(logo): add contrast mode support
  packages/components/src/logo/Logo.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(menu): add visible border in contrast mode
  packages/components/src/menu/Menu.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update spinner docs
  apps/docs/docs/components/spinner.mdx
Due: nx format:write --files

fix(popover): add visible border in contrast mode
  packages/components/src/popover/Popover.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(progress-bar): change colors in contrast mode
  packages/components/src/progress-bar/ProgressBar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: fix headings
  apps/docs/docs/components/spinner.mdx
Due: nx format:write --files

fix(radio): update selected color in contrast mode
  packages/components/src/radio/Radio.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(label): update disabled color in contrast mode
  packages/components/src/label/Label.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(text): update disabled color in contrast mode
  packages/components/src/text/Text.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(search-field): add visible border in contrast mode
  packages/components/src/search-field/SearchField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
