Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(accordion): increase specificity for button css
  .stylelintrc.json
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update section on a11y tests
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

chore(deps): update docusaurus to 3.9.0
  package-lock.json
  package.json
Due: nx format:write --files

chore: migrate deprecated config setting
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: install externalized dependency
  package-lock.json
  package.json
Due: nx format:write --files

chore: local-release verdaccio cleanup
  apps/docs/docs/components/menu.mdx
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/menu/Menu.tsx
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  project.json
  tools/release-local/src/executors/release-local.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: revert package-lock.json
  package-lock.json
Due: nx format:write --files

chore: local-release verdaccio cleanup
  package-lock.json
  package.json
  project.json
  tools/release-local/src/executors/release-local.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release-local): cleanup release-local executor
  project.json
  tools/release-local/src/executors/release-local.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(deps): upgrade docusaurus@3.9.1
  package-lock.json
  package.json
Due: nx format:write --files

feat(modal): add support for custom className
  packages/components/src/modal/Dialog.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): add full width example
  apps/docs/docs/components/modal.mdx
  apps/docs/src/components/examples/ModalExamples.tsx
  apps/docs/src/components/examples/custom.css
  packages/components/src/modal/Dialog.tsx
  packages/components/src/modal/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add dependencies react-datepicker, fns-date (locale)
  package-lock.json
  package.json
Due: nx format:write --files
