Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: change StyleLint configFile path for VSCode extension
  .vscode/settings.json
Due: nx format:write --files

feat(components, tooltip): increase font size
  packages/components/src/tooltip/Tooltip.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, tooltip): make use of CSS variables
  packages/components/src/tooltip/Tooltip.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: stylelint ignore dist files
  .stylelintrc.json
  packages/components/.stylelintrc.json
Due: nx format:write --files

docs(components, select): add section on dynamic content
  apps/docs/docs/components/select.mdx
Due: nx format:write --files

fix(components, date-picker): adjust icon button height
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(components): install postcss-modules-local-by-default
  package-lock.json
  package.json
  packages/components/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components, grid): remove global CSS
  packages/components/src/grid/Grid.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components): allow global CSS
  packages/components/src/default.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, legacy-select): remove global CSS
  packages/components/src/legacy-select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, text): remove global CSS
  packages/components/src/text/Text.module.css
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(components, toast): allow global CSS
  packages/components/src/toast/Toast.module.css
  packages/components/src/toast/Toast.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update validation behavior for feedback example
  apps/docs/src/components/examples/feedback-pattern/FeedbackExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files
