Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(layout, panel): unshift and aria hide nested panels
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/index.ts
  packages/layout/src/panel/panel-region/PanelRegion.tsx
  packages/layout/src/panel/panel-region/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, panel): add controlled state support
  apps/next/app/layout.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/layout/layout-content/LayoutContent.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(adr): add breaking change strategy ADR and link v18 tracking issue
  apps/docs/docs/get-started/install.mdx
  docs/adr/0004-breaking-change-strategy.md
  docs/adr/README.md
Due: nx format:write --files

docs: update breaking change ADR
  docs/adr/0004-breaking-change-strategy.md
Due: nx format:write --files

docs: fix docker instructions
  apps/docs/docs/get-started/contribute/coding.mdx
Due: nx format:write --files

chore(components,file-list): fix lint errors
  packages/components/src/file-list/FileList.stories.tsx
  packages/components/src/file-list/FileList.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,docs,file-list): replace GridList with plain list
  apps/docs/docs/components/file-list.mdx
  packages/components/src/file-list/FileList.module.css
  packages/components/src/file-list/FileList.spec.tsx
  packages/components/src/file-list/FileList.tsx
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout): replace setPanels with addPanel/closePanel API and add bring-to-front behavior
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/panel-region/PanelRegion.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(next): improve test app with panel behavior toggle and notifications gridlist
  apps/next/app/layout.tsx
  apps/next/app/page.tsx
  apps/next/components/AppLayoutProvider/AppLayoutProvider.tsx
  apps/next/components/AppSettings/AppSettings.module.css
  apps/next/components/AppSettings/AppSettings.tsx
  apps/next/components/Information/Information.module.css
  apps/next/components/Information/Information.tsx
  apps/next/components/NotificationsPanel/NotificationsPanel.module.css
  apps/next/components/NotificationsPanel/NotificationsPanel.tsx
  apps/next/components/PanelBehaviorToggle/PanelBehaviorToggle.tsx
  apps/next/store/useAppStore.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fixup! fix(layout): replace setPanels with addPanel/closePanel API and add bring-to-front behavior
  packages/layout/src/layout/LayoutContext.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,file-list): add FileList example to FileTrigger docs
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/examples/file-upload/FileUploadExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,file-list): fix empty interface lint error
  packages/components/src/file-list/FileList.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,file-list): fix trailing blank line in css
  packages/components/src/file-list/FileList.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,search-field): make built-in button non-breaking, add future flag
  apps/docs/docs/components/search-field.mdx
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,search-field): link v18 tracking issue from showButton JSDoc
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,search-field): deprecate built-in submit button, fix a11y
  apps/docs/docs/components/search-field.mdx
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,search-field): rebuild on RAC SearchField component
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/search-field/SearchField.spec.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,file-list): don't forward id to li element
  packages/components/src/file-list/FileListItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components,color-scheme-switch): deprecate defaultValue in favor of defaultScheme
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,color-scheme-switch): replace hardcoded padding with space token
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(docs,color-scheme-switch): add component docs page
  apps/docs/docs/components/color-scheme-switch.mdx
Due: nx format:write --files

docs(docs,color-scheme-switch): fix outdated content in dark-mode guide
  apps/docs/docs/dev/dark-mode.mdx
Due: nx format:write --files

chore(components,color-scheme-switch): fix button sizing and selected state styles
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
