Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(next): add wildcard import paths for all midas packages
  apps/next/next.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(components,breadcrumbs): remove unnecessary exports
  package-lock.json
  packages/components/src/breadcrumbs/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: revert package-lock.json
  package-lock.json
Due: nx format:write --files

docs(breadcrumbs): update story
  packages/components/src/breadcrumbs/Breadcrumbs.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components, breadcrumbs): change locator to getByRole
  packages/components/src/breadcrumbs/Breadcrumbs.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(breadcrumbs): remove generic constraint
  packages/components/src/breadcrumbs/Breadcrumbs.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(breadcrumbs): change semver in deprecation comment
  packages/components/src/breadcrumbs/Breadcrumbs.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(components, breadcrumbs): refactor breadcrumbs into separate components
  apps/docs/docs/components/breadcrumbs.mdx
  apps/docs/src/components/mvdsExports.ts
  package-lock.json
  packages/components/src/breadcrumbs/Breadcrumb.tsx
  packages/components/src/breadcrumbs/Breadcrumbs.spec.tsx
  packages/components/src/breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/breadcrumbs/Breadcrumbs.tsx
  packages/components/src/breadcrumbs/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, breadcrumbs): edit typo
  apps/docs/docs/components/breadcrumbs.mdx
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

test(next): remove dist in e2e workflow
  .github/workflows/e2e.yml
Due: nx format:write --files

test(next): update verdaccio config
  .verdaccio/config.yaml
Due: nx format:write --files

test: add e2e next project (#1034)
  .github/workflows/e2e.yml
  .gitignore
  .verdaccio/config.yaml
  .verdaccio/htpasswd
  apps/next/.gitignore
  apps/next/app/favicon.ico
  apps/next/app/layout.tsx
  apps/next/app/page.tsx
  apps/next/eslint.config.mjs
  apps/next/next.config.ts
  apps/next/package.json
  apps/next/playwright.config.ts
  apps/next/project.json
  apps/next/tests/example.spec.ts
  apps/next/tsconfig.json
  nx.json
  package-lock.json
  package.json
  packages/components/src/character-counter/CharacterCounter.module.css
  packages/components/src/index.ts
  packages/components/vite.config.ts
  project.json
  tools/release-local/src/executors/release-local.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add version export, add e2e version confirmation
  apps/next/app/page.tsx
  apps/next/tests/example.spec.ts
  packages/components/src/index.ts
  packages/components/src/version.ts
Due: nx affected:lint --fix --files, nx format:write --files

test: trigger e2e workflow on labeled
  .github/workflows/e2e.yml
Due: nx format:write --files

feat(layout): add boilerplate for new package
  nx.json
  packages/layout/.babelrc
  packages/layout/.eslintrc.cjs
  packages/layout/.stylelintrc.json
  packages/layout/README.md
  packages/layout/package.json
  packages/layout/project.json
  packages/layout/src/index.ts
  packages/layout/src/layout/Layout.module.css
  packages/layout/src/layout/Layout.spec.tsx
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/index.ts
  packages/layout/tsconfig.json
  packages/layout/tsconfig.lib.json
  packages/layout/tsconfig.spec.json
  packages/layout/vite.config.ts
  packages/layout/vitest.config.ts
  packages/layout/vitest.setup.ts
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
