Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: define build target for storybook
  apps/storybook/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(date-picker): add styling for read-only state
  apps/storybook/src/stories/DatePicker.stories.tsx
  apps/storybook/src/stories/DateRangePicker.stories.tsx
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(checkbox): add styling for read-only state
  apps/storybook/src/stories/Checkbox.stories.tsx
  apps/storybook/src/stories/CheckboxGroup.stories.tsx
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxInner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs: add release notes for v15.2.0
  apps/docs/blog/release-notes/15.2.0.mdx
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(list-box): deprecate custom item and section types
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBoxItem.tsx
  packages/components/src/list-box/ListBoxSection.tsx
  packages/components/src/list-box/types.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(select): deprecate legacy component and types
  packages/components/src/legacy-select/Select.tsx
  packages/components/src/legacy-select/SelectListBox.tsx
  packages/components/src/legacy-select/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(skeleton): add form variant
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/skeleton/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(skeleton): add stories for form variant
  apps/storybook/src/stories/Skeleton.Form.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(skeleton): add skeleton form information and instructions
  apps/docs/docs/components/skeleton.mdx
Due: nx format:write --files

feat(skeleton): use type `Size` for form variant
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(combobox): use common ListBox component
  apps/docs/docs/components/combobox.mdx
  apps/docs/src/components/examples/combobox/ComboboxExamples.tsx
  apps/storybook/__vis__/light/local/__baselines__/stories/Select.stories.tsx/long-words-auto.png
  apps/storybook/src/stories/ComboBox.stories.tsx
  apps/storybook/src/utils/storybook.ts
  packages/components/src/checkbox/CheckboxInner.tsx
  packages/components/src/combobox/ComboBox.spec.tsx
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/combobox/utils.ts
  packages/components/src/list-box/ListBoxSection.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(skeleton): tweak size/space to match textfield cmp
  packages/components/src/skeleton/Skeleton.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(skeleton): fix test syntax and location for skeleton form tests
  apps/storybook/src/stories/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.spec.tsx
  packages/components/src/skeleton/Skeleton.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

chore(date-picker): change complex css selector
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: improve code quality for skeleton form stories
  apps/storybook/src/stories/Skeleton.Form.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(skeleton): remove multi-form component example
  apps/docs/docs/components/skeleton.mdx
Due: nx format:write --files
