Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(design-patterns,validation): clarify validation patterns and examples
  apps/docs/docs/design-patterns/validation.mdx
  apps/docs/static/img/error-message-list-dark.svg
  apps/docs/static/img/error-message-list-light.svg
Due: nx format:write --files

docs(design-patterns,validation-examples): simplify and fix example components
  apps/docs/docs/design-patterns/validation.mdx
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
  apps/docs/src/components/examples/validation/ValidationExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: change sentence structure to avoid em dash
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

docs: move all technical info into infobanner
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

docs: change heading level
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

fix(theme,components,select-styles): swap icon and icon-sm size token values
  packages/components/src/checkbox/Checkbox.module.css
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/skeleton/Skeleton.module.css
  packages/components/src/tag/Tag.module.css
  packages/select-styles/src/lib/react-select.css
  packages/theme/tokens/size.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,card): prevent CardBody margin-bottom from collapsing out of card
  packages/components/src/card/Card.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,layout): add badge pattern to navigation docs and fix sidebar transition
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/layout.mdx
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/src/components/examples/layout/NavigationExamples.tsx
  apps/docs/src/components/getComponentMetaData.tsx
  packages/components/src/badge/Badge.module.css
  packages/components/src/badge/Badge.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.stories.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
  packages/layout/src/sidebar/Sidebar.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
