Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs: guidelines for creating new components
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

chore: fix TextField/TextArea value prop showing DateValue in docs
  packages/components/src/textfield/TextFieldBase.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(storybook): remove snapshot addon panel
  apps/storybook/.storybook/main.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(combobox): adjust text color in disabled mode
  packages/components/src/combobox/ComboBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(textfield): adjust text color in disabled mode
  packages/components/src/textfield/TextField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add custom tweak to docusaurus docgen plugin to avoid api confusion
  apps/docs/docgen-fix-plugin.js
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove broken links
  apps/docs/blog/release-notes/8.0.0.mdx
  apps/docs/docs/components/tag.mdx
Due: nx format:write --files

fix(label): remove unused global css
  packages/components/src/label/Label.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(date-picker): remove faulty export
  apps/storybook/src/stories/DatePicker.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: exclude native dom props from api generation
  apps/docs/docgen-fix-plugin.js
  apps/storybook/.storybook/main.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

docs: fix proptable word-break issue
  apps/docs/src/css/propstable.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(list-box): add breaks for long words
  apps/storybook/src/stories/Select.stories.tsx
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBoxItem.tsx
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
