Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs: point header storybook to correct environment
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: update typography example
  apps/storybook/src/examples/Typography.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(heading): add a new flag for using built in margin
  apps/docs/docs/components/heading.mdx
  apps/storybook/src/stories/Heading.stories.tsx
  packages/components/src/heading/Heading.module.css
  packages/components/src/heading/Heading.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(theme): update size for line-height-100
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/typography.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(theme): update size for font-size-70
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/typography.json
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add new spacing variables
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/spacing.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test: setup basic playwright snapshot example
  apps/storybook/e2e/button-forced-colors.spec.ts
  apps/storybook/e2e/button-forced-colors.spec.ts-snapshots/button-forced-colors-chromium-linux.png
  apps/storybook/e2e/button-forced-colors.spec.ts-snapshots/button-forced-colors-firefox-linux.png
  apps/storybook/e2e/button-forced-colors.spec.ts-snapshots/button-forced-colors-webkit-linux.png
  apps/storybook/playwright.config.ts
  apps/storybook/project.json
  nx.json
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): add signalGreen 80 & 110
  packages/theme/tokens/colors.json
Due: nx format:write --files

feat(theme): add text success
  packages/theme/tokens/object-values.json
Due: nx format:write --files

fix(theme): change icon success
  packages/theme/tokens/object-values.json
Due: nx format:write --files

fix(theme): change support border success
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): add state for succesful validation
  apps/docs/src/components/examples/ModalExamples.tsx
  apps/storybook/src/stories/ComboBox.stories.tsx
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/calendar/Calendar.tsx
  packages/components/src/calendar/RangeCalendar.tsx
  packages/components/src/checkbox/CheckboxGroup.tsx
  packages/components/src/checkbox/CheckboxGroupValidationText.tsx
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/date-field/DateField.tsx
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DateRangePicker.tsx
  packages/components/src/field-error/FieldError.module.css
  packages/components/src/field-error/FieldError.tsx
  packages/components/src/field-error/index.ts
  packages/components/src/index.ts
  packages/components/src/radio/Radio.tsx
  packages/components/src/search-field/SearchField.tsx
  packages/components/src/select/Select.tsx
  packages/components/src/select/SelectValidationText.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextFieldBase.tsx
  packages/components/src/validation-text/Message.tsx
  packages/components/src/validation-text/ValidationText.module.css
  packages/components/src/validation-text/ValidationText.tsx
  packages/components/src/validation-text/index.ts
  packages/components/src/validation-text/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(modal): update example with realistic data
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): change button and copy on example
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): change copy on example
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): update and restructure docs
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

fix(checkbox): fix issue with boxshadow not being rendered in contrast mode
  packages/components/src/checkbox/Checkbox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(checkbox): fix boxshadow not being rendered in contrast mode
  packages/components/src/checkbox/Checkbox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(modal): fix typo
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

fix(calendar): add colors for forced-colors mode
  .husky/rules/branch-names.js
  packages/components/src/calendar/Calendar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add tokens for focus visible outline
  packages/components/sd.build.mjs
  packages/components/src/checkbox/Checkbox.module.css
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/states.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input
