Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(docs): use trailing slash on components link to pass broken link check
  apps/docs/src/pages/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(docs): set explicit slug on components generated index to fix broken link
  apps/docs/docs/components/_category_.json
Due: nx format:write --files

docs: add release notes for v17.1.0–17.10.0
  apps/docs/blog/release-notes/17.10.0.mdx
Due: nx format:write --files

fix(layout, panel): unshift and aria hide nested panels
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/index.ts
  packages/layout/src/panel/panel-region/PanelRegion.tsx
  packages/layout/src/panel/panel-region/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, panel): rename context provider
  apps/next/app/layout.tsx
  apps/next/components/AppLayoutProvider/AppLayoutProvider.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/main/Main.tsx
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelContext.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelOutlet.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanelProvider.tsx
  packages/layout/src/panel/dismiss-panel/index.ts
  packages/layout/src/panel/dismiss-panel/useDismissPanels.ts
  packages/layout/src/panel/index.ts
  packages/layout/src/panel/panel-body/PanelBody.tsx
  packages/layout/src/panel/panel-region/PanelRegion.tsx
  packages/layout/src/panel/panel-region/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

fixup! fix(layout): replace setPanels with addPanel/closePanel API and add bring-to-front behavior
  packages/layout/src/layout/LayoutContext.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, panel): change api to support multiple panels
  apps/next/app/layout.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/panel/Panel.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): replace setPanels with addPanel/closePanel API and add bring-to-front behavior
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.module.css
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
  packages/layout/src/panel/panel-region/PanelRegion.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(next): improve test app with panel behavior toggle and notifications gridlist
  apps/next/app/layout.tsx
  apps/next/app/page.tsx
  apps/next/components/AppLayoutProvider/AppLayoutProvider.tsx
  apps/next/components/AppSettings/AppSettings.module.css
  apps/next/components/AppSettings/AppSettings.tsx
  apps/next/components/Information/Information.module.css
  apps/next/components/Information/Information.tsx
  apps/next/components/NotificationsPanel/NotificationsPanel.module.css
  apps/next/components/NotificationsPanel/NotificationsPanel.tsx
  apps/next/components/PanelBehaviorToggle/PanelBehaviorToggle.tsx
  apps/next/store/useAppStore.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel): add controlled state support
  apps/next/app/layout.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/layout/layout-content/LayoutContent.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, panel): make dismiss panel globally configurable
  apps/next/app/layout.tsx
  apps/next/components/HeaderActions/HeaderActions.tsx
  apps/next/components/Information/Information.tsx
  apps/next/components/NotificationsPanel/NotificationsPanel.tsx
  apps/next/store/useAppStore.ts
  packages/layout/src/layout/Layout.module.css
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/LayoutContext.tsx
  packages/layout/src/layout/LayoutProvider.tsx
  packages/layout/src/layout/index.ts
  packages/layout/src/layout/layout-content/LayoutContent.module.css
  packages/layout/src/layout/layout-content/LayoutContent.tsx
  packages/layout/src/layout/layout-content/index.ts
  packages/layout/src/panel/collapse-panel/CollapsePanel.tsx
  packages/layout/src/panel/dismiss-panel/DismissPanel.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

fix(docs): dynamically get component groups
  apps/docs/src/theme/DocCardList/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add example vite/react-router app outline
  .nxignore
  .stylelintignore
  examples/vite-react-router/.gitignore
  examples/vite-react-router/README.md
  examples/vite-react-router/eslint.config.js
  examples/vite-react-router/index.html
  examples/vite-react-router/package-lock.json
  examples/vite-react-router/package.json
  examples/vite-react-router/public/favicon.svg
  examples/vite-react-router/public/icons.svg
  examples/vite-react-router/src/App.tsx
  examples/vite-react-router/src/Applications.tsx
  examples/vite-react-router/src/components/Navigation.tsx
  examples/vite-react-router/src/components/NavigationLink.tsx
  examples/vite-react-router/src/main.tsx
  examples/vite-react-router/tsconfig.app.json
  examples/vite-react-router/tsconfig.json
  examples/vite-react-router/tsconfig.node.json
  examples/vite-react-router/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, navigation): decouple navigation-link from link component
  packages/layout/src/navigation/navigation-link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(docs): restyle component illustrations to lofi wireframe style
  apps/docs/src/theme/DocCardList/ComponentIllustrations.tsx
  apps/docs/src/theme/DocCardList/index.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout): externalize components dependency
  packages/layout/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, panel): remove conflicting css of same specificity
  packages/layout/src/panel/panel-body/PanelBody.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, panel): move transition css to collapse-panel
  packages/layout/src/panel/collapse-panel/CollapsePanel.module.css
  packages/layout/src/panel/panel-body/PanelBody.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input
