Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components, date-picker): add forwardRef and generic type
  apps/docs/src/components/examples/date-picker/DatePickerExamples.tsx
  packages/components/src/date-picker/DatePicker.stories.tsx
  packages/components/src/date-picker/DatePicker.tsx
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(theme): add overlay background and blur
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(components, modal): create common modal-overlay component
  packages/components/src/modal/Dialog.module.css
  packages/components/src/modal/Dialog.tsx
  packages/components/src/modal/index.ts
  packages/components/src/modal/modal-overlay/ModalOverlay.module.css
  packages/components/src/modal/modal-overlay/ModalOverlay.tsx
  packages/components/src/modal/modal-overlay/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout, mobile-menu): use common modal overlay component
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, modal): use forwardRef
  packages/components/src/modal/Dialog.stories.tsx
  packages/components/src/modal/Dialog.tsx
  packages/components/src/modal/Modal.module.css
  packages/components/src/modal/Modal.spec.tsx
  packages/components/src/modal/Modal.stories.tsx
  packages/components/src/modal/Modal.tsx
  packages/components/src/modal/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, modal): show keyboard focus indicator for the dialog
  packages/components/src/modal/Modal.module.css
  packages/components/src/modal/Modal.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,modal): move overflow-y to dialog to fix scrollbar gap
  packages/components/src/modal/Modal.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, modal): move ref to modal element
  packages/components/src/modal/Modal.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(next): remove default config spread
  apps/next/next.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, mobile-menu): add display block to modal overlay
  packages/layout/src/header/mobile-menu/MobileMenu.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add tag colors
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(components, tag): add colors
  packages/components/src/tag/Tag.module.css
  packages/components/src/tag/Tag.stories.tsx
  packages/components/src/tag/Tag.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(components, tag): remove redundant css
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components, tag): add colors
  apps/docs/docs/components/tag.mdx
  apps/docs/src/components/examples/tag/TagExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
