Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: update release local script (verdaccio)
  .verdaccio/config.yml
  .verdaccio/htpasswd
  project.json
  tools/release-local/README.md
  tools/release-local/src/executors/release-local.ts
  tools/release-local/src/executors/schema.d.ts
  tools/release-local/src/executors/schema.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(select): remove selection indicators in legacy select
  apps/storybook/src/stories/LegacySelect.stories.tsx
  packages/components/src/legacy-select/SelectListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add basic instructions for using midas + tailwind
  apps/docs/docs/dev/tailwind.mdx
Due: nx format:write --files

feat(theme): add tailwind theme generator
  packages/theme/package.json
  packages/theme/src/lib/style-dictionary-dist/tailwind-theme.css
  packages/theme/vite.config.ts
  tools/style-dictionary/src/executors/build-tokens.ts
  tools/style-dictionary/src/executors/formats/tailwindTheme.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update tailwind docs to reflect the new tailwind-theme export
  apps/docs/docs/dev/tailwind.mdx
Due: nx format:write --files

chore: tailwind theme generator comments
  tools/style-dictionary/src/executors/formats/tailwindTheme.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: improve tailwind css docs with use cases
  apps/docs/docs/dev/tailwind.mdx
Due: nx format:write --files

test(table): refactor virtualized striped table tests
  apps/storybook/src/stories/Table.spec.tsx
  apps/storybook/src/stories/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

feat(theme): add `default` export to all .css in package.json
  packages/theme/package.json
Due: nx format:write --files

docs(tailwind): update css import instructions
  apps/docs/docs/dev/tailwind.mdx
Due: nx format:write --files

feat(theme): update export conditions, set `default` as fallback
  packages/theme/package.json
Due: nx format:write --files

feat(theme): add default export in package.json
  packages/theme/package.json
Due: nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files
