Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs(components, button): add ADR for inactive button pattern
  docs/adr/0004-inactive-button-prop.md
Due: nx format:write --files

feat(components, button): add inactive state
  apps/docs/docs/components/button.mdx
  apps/docs/src/components/examples/button/ButtonExamples.tsx
  packages/components/src/button/Button.module.css
  packages/components/src/button/Button.spec.tsx
  packages/components/src/button/Button.stories.tsx
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, button): intercept all onPress events when inactive
  packages/components/src/button/Button.spec.tsx
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(storybook): add a11y-mobile target with 320px viewport
  apps/storybook/project.json
  apps/storybook/vitest.config.mobile.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,modal): anchor overlay to top on mobile to prevent keyboard clipping
  packages/components/src/modal/Dialog.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add search and filter page
  apps/docs/docs/design-patterns/search-and-filter.mdx
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/src/components/examples/search-and-filter/SearchExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,link): consolidate hover rules to match LinkButton pattern
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link): wrap hover rules in @media (hover: hover) to match LinkButton
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,link): move redundant :hover rules under @media (hover: hover)
  packages/components/src/link/Link.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,select): replace :hover with [data-hovered] to prevent sticky hover on touch
  packages/components/src/select/Select.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components): add autocomplete and inputmode stories
  .gitignore
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/textfield/TextField.spec.tsx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, textfield): add type inputmode and autocomplete section
  apps/docs/docs/components/textfield.mdx
Due: nx format:write --files

fix(components, search-field): set inputMode='search' as default
  packages/components/src/search-field/SearchField.stories.tsx
  packages/components/src/search-field/SearchField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, textfield): add numeric example
  apps/docs/docs/components/textfield.mdx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,layout): add @midas-ds/layout documentation
  apps/docs/docs/components/layout.mdx
  apps/docs/docs/dev/layout/_category_.json
  apps/docs/docs/dev/layout/components/_category_.json
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/layout.mdx
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/docs/dev/layout/index.mdx
  apps/docs/docs/dev/layout/migration.mdx
  packages/layout/README.md
Due: nx format:write --files

fix(docs): move imports to top of layout.mdx to fix lint errors
  apps/docs/docs/components/layout.mdx
Due: nx format:write --files

docs(docs,components): add mobile tip admonition to inputMode section
  apps/docs/docs/components/textfield.mdx
Due: nx format:write --files
