Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs(layout,navbar): drop manual visibility guidance now that Navbar self-hides
  apps/docs/docs/dev/layout/components/navbar.mdx
  apps/docs/docs/dev/layout/migration.mdx
Due: nx format:write --files

fix(layout): unify mobile breakpoint at 640px across Sidebar, Navbar, Panel
  apps/playground/src/pages/LayoutBreakpointGapPage.tsx
  packages/layout/src/layout/layout-content/LayoutContent.module.css
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/PanelRegion.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

fix(layout,navbar): match container background and border to design spec
  packages/layout/src/navbar/Navbar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,navigation-link): add missing active-state styling for Navbar
  packages/layout/src/navbar/Navbar.spec.tsx
  packages/layout/src/navbar/Navbar.stories.tsx
  packages/layout/src/navbar/Navbar.tsx
  packages/layout/src/navbar/NavbarContext.tsx
  packages/layout/src/navbar/index.ts
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(playground): add complete layout demo with routing between Sidebar and Navbar
  apps/playground/src/main.tsx
  apps/playground/src/pages/CompleteLayoutPage.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(vite): revert tsconfigPaths migration, it broke cross-package CSS resolution in tests
  apps/playground/vite.config.ts
  apps/storybook/vite.config.ts
  packages/components/vite.config.ts
  packages/datepicker-styles/vite.config.ts
  packages/layout/vite.config.ts
  packages/select-styles/vite.config.ts
  packages/table-styles/vite.config.ts
  packages/theme/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(vite): migrate off deprecated Nx vite plugins
  apps/playground/vite.config.ts
  apps/storybook/vite.config.ts
  package-lock.json
  package.json
  packages/components/vite.config.ts
  packages/datepicker-styles/package.json
  packages/datepicker-styles/vite.config.ts
  packages/layout/vite.config.ts
  packages/select-styles/vite.config.ts
  packages/table-styles/vite.config.ts
  packages/theme/vite.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: change top level name
  apps/docs/docs/design-patterns/page-layout/_category_.json
Due: nx format:write --files

docs: clarify copy and change name for pattern with header only
  apps/docs/docs/design-patterns/page-layout/only-header.mdx
Due: nx format:write --files

docs: change display name and clarify copy on pattern for mobile-first applications
  apps/docs/docs/design-patterns/page-layout/header-navbar-panel.mdx
Due: nx format:write --files

docs: change display name and clarify copy on pattern for desktop-first applications
  apps/docs/docs/design-patterns/page-layout/header-sidebar-panel.mdx
Due: nx format:write --files

fix(layout,navbar): add missing 'use client' directive
  packages/layout/src/navbar/Navbar.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,header): rewrite Header docs with logo, actions, and navigation examples
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/src/components/examples/layout/HeaderExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Deploy preview for PR 1278 🛫
  pr-preview/pr-1278/dev/tanstack-table/index.html
  pr-preview/pr-1278/storybook/preview-stats.json
  pr-preview/pr-1278/storybook/project.json
Due: nx format:write --files

docs(layout, header): add missing components to overflow example
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

feat(components): auto-select field token based on surface layer
  apps/playground/src/pages/FieldLayerPage.tsx
  apps/playground/vite.config.ts
  packages/components/src/accordion/AccordionItem.module.css
  packages/components/src/card/Card.module.css
  packages/components/src/card/Card.stories.tsx
  packages/components/src/combobox/ComboBox.module.css
  packages/components/src/date-field/DateField.module.css
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/search-field/SearchField.module.css
  packages/components/src/select/Select.module.css
  packages/components/src/tabs/Tabs.module.css
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextField.stories.tsx
  packages/components/src/time-field/TimeField.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components): fix TS errors in WithFormFields and OnCard stories
  apps/playground/src/pages/FieldLayerPage.tsx
  packages/components/src/card/Card.stories.tsx
  packages/components/src/textfield/TextField.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore: add css alias tool
  apps/playground/vite.config.ts
  apps/storybook/vite.config.ts
  packages/components/vite.config.ts
  packages/datepicker-styles/vite.config.ts
  packages/layout/vite.config.ts
  packages/select-styles/vite.config.ts
  packages/table-styles/vite.config.ts
  packages/theme/vite.config.ts
  tools/css-aliases/.eslintrc.json
  tools/css-aliases/README.md
  tools/css-aliases/package.json
  tools/css-aliases/project.json
  tools/css-aliases/src/index.ts
  tools/css-aliases/tsconfig.json
  tools/css-aliases/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,sidebar): update Sidebar docs
  apps/docs/docs/dev/layout/components/sidebar.mdx
  apps/docs/src/components/examples/layout/SidebarExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files
