Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore(theme): rewrite shadow tokens from states.json
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/states.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update loading pattern
  apps/docs/docs/design-patterns/page-loading.mdx
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
  apps/docs/src/css/custom.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(modal): change copy on example
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): fix typo
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

docs(modal): update example with realistic data
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): change button and copy on example
  apps/docs/src/components/examples/ModalExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(modal): update and restructure docs
  apps/docs/docs/components/modal.mdx
Due: nx format:write --files

feat(button): disable background change when button pressed && aria-expanded
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(button): expand :not condition for pressed state background
  packages/components/src/button/Button.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add button loading example
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): add signalGreen 80 & 110
  packages/theme/tokens/colors.json
Due: nx format:write --files

fix(theme): change icon success
  packages/theme/tokens/object-values.json
Due: nx format:write --files

feat(theme): add text success
  packages/theme/tokens/object-values.json
Due: nx format:write --files

fix(theme): change support border success
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.d.ts
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): add state for successful validation
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/field-error/FieldError.module.css
  packages/components/src/textfield/SuccessMessage.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextField.module.css
  packages/components/src/textfield/TextFieldBase.tsx
  packages/components/src/textfield/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): rename props and require a message
  apps/storybook/src/stories/TextField.stories.tsx
  packages/components/src/textfield/SuccessMessage.tsx
  packages/components/src/textfield/TextArea.tsx
  packages/components/src/textfield/TextFieldBase.tsx
  packages/components/src/textfield/index.ts
  packages/components/src/textfield/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

docs: add inline spinner example
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add skeleton example
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: add custom css to make spinner align properly
  apps/docs/src/components/examples/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(textfield): adjust success message position
  packages/components/src/textfield/SuccessMessage.tsx
  packages/components/src/textfield/TextFieldBase.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: restructure isLoading logic
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: add skeleton container
  apps/docs/src/components/examples/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(checkbox): add forced colors states
  packages/components/src/checkbox/Checkbox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: update loading pattern with guidelines and examples
  apps/docs/docs/design-patterns/page-loading.mdx
Due: nx format:write --files

chore: add overlay styles
  apps/docs/src/components/examples/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add full screen loading example
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add guidelines on full screen loading
  apps/docs/docs/design-patterns/page-loading.mdx
Due: nx format:write --files
