Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

wip: create typedoc plugin
  package-lock.json
  package.json
  tools/typedoc/.eslintrc.json
  tools/typedoc/README.md
  tools/typedoc/executors.json
  tools/typedoc/jest.config.cts
  tools/typedoc/package.json
  tools/typedoc/project.json
  tools/typedoc/src/executors/create/create.spec.ts
  tools/typedoc/src/executors/create/create.ts
  tools/typedoc/src/executors/create/schema.d.ts
  tools/typedoc/src/executors/create/schema.json
  tools/typedoc/src/index.ts
  tools/typedoc/tsconfig.json
  tools/typedoc/tsconfig.lib.json
  tools/typedoc/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

docs: copy changes
  apps/docs/docs/design-patterns/tables.mdx
Due: nx format:write --files

docs: move info on custom icons to infobanner
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: remove unused imports
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

chore: add `@dnd-kit` dependencies
  package-lock.json
  package.json
Due: nx format:write --files

docs(tanstack-table): add drag and drop example for tanstack table
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/ColumnDndExample.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(tanstack-table): add sorting example for tanstack table docs
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore: fix lint errors in docs examples
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(theme): add typography tokens `body` and `body-small`
  packages/theme/tokens/typography.json
Due: nx format:write --files

docs: add menu icon
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: change IconCopy Button variant
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove guidelines
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: move IconCopy to a separate file
  apps/docs/docs/basics/icons.mdx
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add copy functionality
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: add generic copy-text button, vertically align icons in table
  apps/docs/docs/basics/icons.mdx
  apps/docs/src/components/CopyButton.module.css
  apps/docs/src/components/CopyButton.tsx
  apps/docs/src/components/IconCopy.tsx
  apps/docs/src/css/custom.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove IconCopy button padding
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: first draft for feedback
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: added more icons
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: added IconCopy to all names and changed case
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: replace IconCopy button
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: change sidebar order
  apps/docs/docs/basics/accessibility.mdx
  apps/docs/docs/basics/icons.mdx
  apps/docs/docs/basics/language.mdx
  apps/docs/docs/basics/tokens.mdx
Due: nx format:write --files

chore: remove tooltip, add copy icon
  apps/docs/src/components/IconCopy.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add more icons
  apps/docs/docs/basics/icons.mdx
Due: nx format:write --files

docs: update dev instructions for tokens
  apps/docs/docs/get-started/contribute/tokens/dev-tokens.mdx
  apps/docs/src/components/tokens/Tokens.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: set opacity for sorting arrows in tanstack example
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
