Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: move copy to new pattern
  apps/docs/docs/design-patterns/tables.mdx
Due: nx format:write --files

docs: add boilerplate search example
  apps/docs/docs/design-patterns/search-and-filter.mdx
  apps/docs/src/components/examples/search-and-filter/SearchExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add text on advanced search pattern
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

docs: add note about unaccessible actions in external applications
  apps/docs/docs/design-patterns/feedback.mdx
Due: nx format:write --files

docs: change copy and introduce no hits example
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

docs: add no hits example
  apps/docs/src/components/examples/search-and-filter/SearchExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove unused import
  apps/docs/src/components/examples/search-and-filter/SearchExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove unused import
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

docs: clarify copy
  apps/docs/docs/design-patterns/search-and-filter.mdx
Due: nx format:write --files

fix(components,toast): add focus-visible to toast region
  packages/components/src/toast/Toast.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(components,toast): update toast examples and docs
  apps/docs/docs/components/toast.mdx
  apps/docs/src/components/examples/toast/ToastExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat!(components,tooltip,accordion,menu): remove deprecated type aliases `MidasTooltipProps`, `MidasAccordion`, `MenuItemObject`
  apps/docs/src/components/examples/accordion/AccordionExamples.tsx
  packages/components/src/accordion/Accordion.tsx
  packages/components/src/accordion/AccordionContext.ts
  packages/components/src/accordion/index.ts
  packages/components/src/menu/Menu.tsx
  packages/components/src/tooltip/Tooltip.stories.tsx
  packages/components/src/tooltip/Tooltip.tsx
  packages/components/src/tooltip/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,text): remove deprecated `variant` prop and `TextVariant` type
  packages/components/src/text/Text.stories.tsx
  packages/components/src/text/Text.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,breadcrumbs): remove deprecated `BreadcrumbItem` interface and `items` rendering path
  packages/components/src/breadcrumbs/Breadcrumbs.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,combobox,list-box): remove deprecated `ComboBoxItem`, `ComboBoxSection`, list-box types, and `ListBoxSection` `name` prop
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/combobox/index.ts
  packages/components/src/list-box/ListBoxSection.tsx
  packages/components/src/list-box/index.ts
  packages/components/src/list-box/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat!(components,legacy-select): remove `LegacySelect` component and `LegacySelectProps` type
  apps/docs/docs/components/select.mdx
  packages/components/src/index.ts
  packages/components/src/legacy-select/HiddenMultiSelect.tsx
  packages/components/src/legacy-select/LegacySelect.stories.tsx
  packages/components/src/legacy-select/MultiSelectValueTag.tsx
  packages/components/src/legacy-select/Select.module.css
  packages/components/src/legacy-select/Select.tsx
  packages/components/src/legacy-select/SelectFieldError.tsx
  packages/components/src/legacy-select/SelectListBox.tsx
  packages/components/src/legacy-select/SelectTrigger.tsx
  packages/components/src/legacy-select/index.ts
  packages/components/src/legacy-select/intl/translations.json
  packages/components/src/legacy-select/types.ts
  packages/components/src/legacy-select/useMultiSelect.ts
  packages/components/src/legacy-select/useMultiSelectListState.ts
  packages/components/src/legacy-select/useMultiSelectState.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: release notes for v17.0.0
  apps/docs/blog/release-notes/17.0.0.mdx
  packages/components/src/text/Text.module.css
  packages/components/src/text/Text.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components, select, combobox): extend type for sections
  packages/components/src/list-box/ListBoxSection.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(layout): update failing test
  packages/layout/src/layout/Layout.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
