Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(storybook): configure viewports
  apps/storybook/.storybook/custom-viewports.ts
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout, mobile-menu): add controlled state support
  apps/docs/docs/dev/layout/components/header.mdx
  packages/layout/src/header/mobile-menu/MobileMenu.spec.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.stories.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
  packages/layout/src/header/mobile-menu/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/layout/CHANGELOG.md
  packages/layout/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

test(layout): migrate legacy tests
  packages/layout/src/layout/Layout.spec.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.spec.tsx
  packages/layout/src/sidebar/Sidebar.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(layout): create multiple viewport setups
  packages/layout/src/header/mobile-menu/MobileMenu.spec.tsx
  packages/layout/vitest.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

test(layout): add skip to content test
  packages/layout/src/layout/Layout.spec.tsx
  packages/layout/src/layout/Layout.tsx
  packages/layout/src/layout/skip-to-content/SkipToContent.module.css
  packages/layout/src/layout/skip-to-content/SkipToContent.tsx
  packages/layout/src/layout/skip-to-content/index.ts
  packages/layout/src/layout/skip-to-content/intl/translations.json
  packages/layout/src/main/Main.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(docs): add release notes for 17.11.0
  apps/docs/blog/release-notes/17.11.0.mdx
Due: nx format:write --files

docs(layout): add stories for components
  apps/storybook/.storybook/manager.ts
  packages/layout/src/header/Header.stories.tsx
  packages/layout/src/header/header-action/HeaderAction.stories.tsx
  packages/layout/src/header/header-actions/HeaderActions.stories.tsx
  packages/layout/src/header/mobile-menu/MobileMenu.stories.tsx
  packages/layout/src/layout/Layout.spec.tsx
  packages/layout/src/layout/Layout.stories.tsx
  packages/layout/src/navbar/Navbar.stories.tsx
  packages/layout/src/navigation/Navigation.stories.tsx
  packages/layout/src/navigation/navigation-link/NavigationLink.stories.tsx
  packages/layout/src/panel/Panel.stories.tsx
  packages/layout/src/sidebar/Sidebar.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout): add css installation examples
  apps/docs/docs/dev/layout/index.mdx
  apps/next/app/page.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components, card): update title section
  apps/docs/docs/components/card.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
