Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: update deprecated message
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: remove unused import
  apps/docs/docs/components/spinner.mdx
Due: nx format:write --files

chore: rename vitest configs
  apps/storybook/project.json
  apps/storybook/vitest.config.forced-colors-dark.ts
  apps/storybook/vitest.config.forced-colors-light.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: clarify validation patterns
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

feat(select): boilerplate for RAC select implementation
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/index.ts
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(spinner): remove color settings for spinner
  apps/playground/src/app/app.tsx
  apps/playground/src/main.tsx
  apps/storybook/src/stories/Spinner.stories.tsx
  packages/components/src/spinner/Spinner.module.css
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(theme): add unit to panel transisitions fixing bug with broken animations
  packages/theme/src/lib/style-dictionary-dist/token-dictionary.js
  packages/theme/src/lib/style-dictionary-dist/variables.css
  packages/theme/src/lib/style-dictionary-dist/variables.d.ts
  packages/theme/src/lib/style-dictionary-dist/variables.js
  packages/theme/tokens/transitions.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

refactor(select)!: utilize react-aria-components multi select
  apps/storybook/src/stories/Select.stories.tsx
  packages/components/src/select/HiddenMultiSelect.tsx
  packages/components/src/select/MultiSelectValueTag.tsx
  packages/components/src/select/Select.spec.tsx
  packages/components/src/select/Select.tsx
  packages/components/src/select/SelectFieldError.tsx
  packages/components/src/select/SelectListBox.tsx
  packages/components/src/select/SelectTrigger.tsx
  packages/components/src/select/types.ts
  packages/components/src/select/useMultiSelect.ts
  packages/components/src/select/useMultiSelectListState.ts
  packages/components/src/select/useMultiSelectState.ts
Due: nx affected:lint --fix --files, nx format:write --files

ops: free disk space in pr check flow
  .github/workflows/pr-checks.yml
Due: nx format:write --files

refactor(select): remove duplicate prop definitions
  packages/components/src/select/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(select): rename container component
  packages/components/src/select/Select.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(select): remove story
  apps/storybook/src/stories/Select.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(select): revert optional chaining
  packages/components/src/select/MultiSelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(accordion): add panel animation support for non-chrome browsers
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add additional styling to RAC select template
  apps/playground/src/app/app.tsx
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: change page structure and add more guidelines
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

docs: add general guidelines for copy
  apps/docs/docs/design-patterns/validation.mdx
Due: nx format:write --files

docs: change example image
  apps/docs/static/img/error-message-list-dark.svg
  apps/docs/static/img/error-message-list-light.svg
Due: nx format:write --files

feat(spinner): color defaults to icon-tertiary, deprecate `isOnColor`
  apps/storybook/src/stories/Spinner.stories.tsx
  packages/components/src/spinner/Spinner.module.css
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add value tags
  .husky/rules/branch-names.js
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectValueTag.tsx
  packages/components/src/rac-select/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add label popover
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): add errorPosition
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files
