Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

docs(components, textfield): add type inputmode and autocomplete section
  apps/docs/docs/components/textfield.mdx
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

feat(components): add TimeField component
  apps/docs/docs/components/timefield.mdx
  apps/docs/src/components/examples/time-field/TimeFieldExamples.tsx
  packages/components/src/index.ts
  packages/components/src/time-field/TimeField.module.css
  packages/components/src/time-field/TimeField.spec.tsx
  packages/components/src/time-field/TimeField.stories.tsx
  packages/components/src/time-field/TimeField.tsx
  packages/components/src/time-field/index.ts
  packages/components/src/time-field/intl/translations.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add april fools
  apps/docs/docs/components/button.mdx
Due: nx format:write --files

docs: update text color for april fools button
  apps/docs/docs/components/button.mdx
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add april fools (#1205)
  apps/docs/docs/components/button.mdx
  apps/docs/src/css/custom.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,time-field): make TimeFieldProps generic, remove React.FC and data-testid
  apps/docs/src/components/examples/time-field/TimeFieldExamples.tsx
  packages/components/src/time-field/TimeField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

refactor(components,date-field): make DateFieldProps generic and remove React.FC
  packages/components/src/date-field/DateField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

docs(docs,layout): address review feedback on layout docs
  apps/docs/docs/dev/layout/components/header.mdx
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docs/dev/layout/index.mdx
Due: nx format:write --files

fix(layout, mobile-menu): support controlled state
  apps/docs/docs/dev/layout/components/header.mdx
  packages/layout/src/header/mobile-menu/MobileMenu.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout, panel): add missing imports
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

docs(layout, sidebar): add navigation items
  apps/docs/docs/dev/layout/components/sidebar.mdx
Due: nx format:write --files

docs(layout, navigation): add navigation items and recursive example
  apps/docs/docs/dev/layout/components/navigation.mdx
Due: nx format:write --files

docs(layout, navbar): add navigation items
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

refactor(components,date-field,time-field): wrap DateField and TimeField in forwardRef
  packages/components/src/date-field/DateField.tsx
  packages/components/src/time-field/TimeField.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(components,date-field,time-field): add forwardRef tests for DateField and TimeField
  packages/components/src/date-field/DateField.spec.tsx
  packages/components/src/time-field/TimeField.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files
