Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(layout,panel): visual polish, actions prop, push variant and replace behavior
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/PanelProvider.tsx
  packages/layout/src/panel/PanelRegion.module.css
  packages/layout/src/panel/PanelRegion.tsx
  packages/layout/src/panel/panel-header/PanelHeader.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(layout,panel): add DetailView story for in-place content updates
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(layout,panel): add panel stories and spec
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout,panel): document new panel features
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

fix(layout,panel): fix header gap, panel width and content padding
  packages/layout/src/panel/Panel.module.css
  packages/layout/src/panel/panel-body/PanelBody.module.css
  packages/layout/src/panel/panel-content/PanelContent.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(layout,panel): reset paragraph margin in scrollable story
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,panel): a11y improvements and remove data-debug
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelRegion.tsx
  packages/layout/src/panel/panel-content/PanelContent.module.css
  packages/layout/src/panel/panel-content/PanelContent.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(theme): add panel shadow token
  packages/theme/tokens/object-values.json
Due: nx format:write --files

docs(layout,panel): document detail view pattern with stable panel id
  apps/docs/docs/dev/layout/components/panel.mdx
  apps/docs/docusaurus.config.ts
  packages/layout/src/panel/Panel.tsx
  packages/layout/src/panel/PanelContext.tsx
  packages/layout/src/panel/PanelProvider.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(layout,panel): fix CI lint errors
  packages/layout/src/panel/Panel.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

fix(docs,loading): fix grid item sizes and remove dead ternary
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(docs,actions): add action design pattern
  apps/docs/docs/design-patterns/actions.mdx
Due: nx format:write --files

docs: add copy and restructure page
  apps/docs/docs/dev/layout/components/panel.mdx
Due: nx format:write --files

fix(layout,sidebar): polish sidebar and navigation styling
  apps/docs/docs/dev/layout/components/sidebar.mdx
  packages/layout/src/navigation/navigation-header/NavigationHeader.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
  packages/layout/src/sidebar/Sidebar.tsx
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(layout,sidebar): fix collapsed width to 52px and eliminate icon shift on expand
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/sidebar/Sidebar.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(layout,panel): increase timeout for animation-dependent dismiss test
  packages/layout/src/panel/Panel.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(layout): restructure page and update copy
  apps/docs/docs/dev/layout/index.mdx
Due: nx format:write --files

docs: remove case that is not allowed
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

docs(navbar): add guidelines
  apps/docs/docs/dev/layout/components/navbar.mdx
Due: nx format:write --files

docs(header): restructure page and change copy
  apps/docs/docs/dev/layout/components/header.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
