Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(list-box): add for listBoxItem
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs: clarify that it's an english term
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

docs: copy changes
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

docs: change prism theme
  apps/docs/docusaurus.config.ts
  apps/docs/src/css/custom.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: remove unused imports and change to standalone links
  apps/docs/docs/get-started/designer.mdx
Due: nx format:write --files

docs: change prism light theme
  .gitignore
  apps/docs/docusaurus.config.ts
  apps/docs/jest.config.js
  apps/docs/playwright.config.ts
  apps/docs/project.json
  apps/docs/src/components/examples/select/SelectExamples.tsx
  apps/docs/src/css/custom.css
  apps/docs/src/theme/prismDark.ts
  apps/docs/src/theme/prismLight.ts
  apps/docs/tests/code-block-contrast.spec.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(storybook): make vis snapshot paths absolute to fix reload freeze
  apps/storybook/.storybook/main.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: minor a11y adjustments
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/tests/color-contrast.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

ops: add nx release workflow
  .github/workflows/release.yml
Due: nx format:write --files

chore(release): release package, version [skip-ci]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

ops: remove unused workflows and streamline CD
  .github/workflows/deploy-docs-main.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: nx format:write --files
