Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, accordion): adjust padding of uncontained content container
  packages/components/src/accordion/AccordionItem.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(components, date-picker): update styles for icon buttons
  packages/components/src/date-picker/DatePicker.module.css
  packages/components/src/date-picker/DatePickerInputField.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, date-field): update styles for clear button
  packages/components/src/date-field/DateField.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components, date-picker): remove focus indicator for parent element
  packages/components/src/date-picker/DatePicker.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(storybook): remove dark mode switcher in storybook
  apps/storybook/.storybook/custom-theme.ts
  apps/storybook/.storybook/modes.ts
  apps/storybook/.storybook/preview.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: resolve tools packages
  apps/docs/aliases.ts
  apps/docs/docusaurus.config.ts
Due: nx affected:lint --fix --files, nx format:write --files

test: remove unused test utils
  packages/components/src/combobox/utils.ts
  packages/components/src/legacy-select/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

test(components): update failing tests after data change
  packages/components/src/calendar/Calendar.spec.tsx
  packages/components/src/calendar/RangeCalendar.spec.tsx
  packages/components/src/select/Select.spec.tsx
  packages/components/src/select/Select.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: add design pattern for tables (#989)
  apps/docs/docs/design-patterns/tables.mdx
  apps/docs/static/img/select-columns-dark.svg
  apps/docs/static/img/select-columns-light.svg
Due: nx format:write --files

ops: flip documentation publish condition
  .github/workflows/publish-docs.yml
Due: nx format:write --files

fix(components, accordion): rename types
  packages/components/src/accordion/Accordion.tsx
  packages/components/src/accordion/AccordionItem.tsx
  packages/components/src/accordion/index.ts
Due: nx affected:lint --fix --files, nx format:write --files

test: move person mock data into test utils package
  apps/docs/src/components/examples/mockData.ts
  apps/docs/src/components/examples/react-select/MultiComboBox.tsx
  apps/docs/src/components/examples/tanstack-table/ColumnDndExample.tsx
  apps/docs/src/components/examples/tanstack-table/ColumnVisibilityExample.tsx
  apps/docs/src/components/examples/tanstack-table/FilteringExample.tsx
  apps/docs/src/components/examples/tanstack-table/SortingExample.tsx
  apps/playground/src/data/mockData.ts
  apps/playground/src/pages/TableBasicPage.tsx
  tools/test-utils/src/data.ts
  tools/test-utils/src/fruit.ts
  tools/test-utils/src/types.ts
  tools/test-utils/src/utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(test-utils): add tool for common test utils
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/examples/SearchField.stories.tsx
  apps/storybook/src/stories/ReactSelect.stories.tsx
  apps/storybook/src/utils/storybook.ts
  packages/components/.eslintrc.cjs
  packages/components/src/calendar/RangeCalendar.stories.tsx
  packages/components/src/combobox/ComboBox.stories.tsx
  packages/components/src/legacy-select/LegacySelect.stories.tsx
  packages/components/src/modal/Dialog.stories.tsx
  packages/components/src/select/Select.stories.tsx
  packages/components/src/utils/tests.ts
  tools/test-utils/.eslintrc.json
  tools/test-utils/README.md
  tools/test-utils/package.json
  tools/test-utils/project.json
  tools/test-utils/src/data.ts
  tools/test-utils/src/fruit.ts
  tools/test-utils/src/index.ts
  tools/test-utils/src/time.ts
  tools/test-utils/src/types.ts
  tools/test-utils/tsconfig.json
  tools/test-utils/tsconfig.lib.json
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write --files

docs: update section on test
  apps/docs/docs/get-started/contribute/tests.mdx
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
