Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix: make it possible to use CardLink together with a Menu inside CardHeader
  packages/components/src/card/Card.module.css
  packages/components/src/card/Card.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: add example with link and menu
  apps/docs/docs/components/card.mdx
  apps/docs/src/components/examples/card/CardExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: update example tsx
  apps/docs/docs/components/card.mdx
Due: nx format:write --files

fix: remove hover color change, underline is enough
  packages/components/src/card/Card.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(components,color-scheme-switch): add ColorSchemeSwitchMenu compact dropdown variant
  apps/docs/docs/components/color-scheme-switch.mdx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitch.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.module.css
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.spec.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.stories.tsx
  packages/components/src/color-scheme-switch/ColorSchemeSwitchMenu.tsx
  packages/components/src/color-scheme-switch/index.ts
  packages/components/src/color-scheme-switch/intl/translations.json
  packages/components/src/color-scheme-switch/useColorScheme.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix: put background hover effect back
  packages/components/src/card/Card.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore: wrap whole card in link for demo
  apps/docs/src/components/examples/card/CardExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(layout,sidebar): rework collapse/expand animation
  apps/docs/docs/dev/layout/components/sidebar.mdx
  packages/layout/src/navigation/navigation-header/NavigationHeader.module.css
  packages/layout/src/navigation/navigation-link/NavigationLink.module.css
  packages/layout/src/navigation/navigation-section/NavigationSection.tsx
  packages/layout/src/panel/Panel.spec.tsx
  packages/layout/src/sidebar/Sidebar.module.css
  packages/layout/src/sidebar/Sidebar.stories.tsx
  packages/layout/src/sidebar/Sidebar.tsx
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files

feat(components,list): add List component with selection, striped rows, header slot, and docs
  apps/docs/docs/components/list.mdx
  apps/docs/src/components/examples/list/ListExamples.tsx
  packages/components/src/index.ts
  packages/components/src/list/List.module.css
  packages/components/src/list/List.spec.tsx
  packages/components/src/list/List.stories.tsx
  packages/components/src/list/List.tsx
  packages/components/src/list/ListHeader.tsx
  packages/components/src/list/ListItem.tsx
  packages/components/src/list/index.ts
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(docs,list): remove empty onPress from TrailingExample
  apps/docs/src/components/examples/list/ListExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,card): lift CardHeader trailing slot above CardLink cover
  packages/components/src/card/Card.spec.tsx
  packages/components/src/card/Card.stories.tsx
  packages/components/src/card/card-header/CardHeader.module.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(components,card): improve CardLink interaction states and layout
  packages/components/src/card/Card.module.css
  packages/components/src/card/Card.stories.tsx
  packages/components/src/card/Card.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs(docs,card): update CardLink docs to new API and add usage guidance
  apps/docs/docs/components/card.mdx
  apps/docs/src/components/examples/card/CardExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(components,select): trigger required validation when clearing all selected items
  packages/components/src/select/MultiSelectValue.tsx
  packages/components/src/select/Select.spec.tsx
  packages/components/src/select/Select.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(theme,button): use opacity token for disabled background
  packages/theme/tokens/buttons.json
Due: nx format:write --files
