Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

test: remove double forced colors config
  .github/workflows/pr-checks.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/project.json
  apps/storybook/vitest.config.forced-colors-dark.ts
  apps/storybook/vitest.config.forced-colors.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs: remove example we don't want
  apps/docs/docs/design-patterns/read-only.mdx
Due: nx format:write --files

chore: remove unused app
  apps/playground-e2e/.eslintrc.json
  apps/playground-e2e/cypress.config.ts
  apps/playground-e2e/project.json
  apps/playground-e2e/src/e2e/app.cy.ts
  apps/playground-e2e/src/fixtures/example.json
  apps/playground-e2e/src/support/app.po.ts
  apps/playground-e2e/src/support/commands.ts
  apps/playground-e2e/src/support/e2e.ts
  apps/playground-e2e/tsconfig.json
Due: nx affected:lint --fix --files, nx format:write --files

docs: push pixels in skeleton example
  apps/docs/src/components/examples/custom.css
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: add date-fns as dependency (used for locale in datepicker)
  package-lock.json
  package.json
Due: nx format:write --files

docs: add month-selector example for react datepicker
  apps/docs/docs/dev/react-datepicker.mdx
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: change infobanner text
  apps/docs/docs/design-patterns/page-loading.mdx
Due: nx format:write --files

feat(select): adjust dark mode colors and clean up transitions
  packages/components/src/rac-select/RacSelect.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add midas playground example
  .husky/rules/branch-names.js
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(date-picker): add hover states
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): hide days outside of month
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(date-picker): add medium size
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(date-picker): re-order imports
  apps/docs/src/components/examples/react-datepicker/ReactDatepickerExamples.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(select): adjust flaky query
  apps/storybook/src/stories/RacSelect.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(select): update snapshot baseline
  apps/storybook/__vis__/dark/local/__baselines__/stories/RacSelect.stories.tsx/multi-select-tests-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/all-keys-selected-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/default-value-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/disabled-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/disabled-option-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/dynamic-sections-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/invalid-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/normal-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/select-all-enabled-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/static-items-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/static-sections-auto.png
  apps/storybook/__vis__/forced-colors-dark/local/__baselines__/stories/RacSelect.stories.tsx/with-tags-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/all-keys-selected-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/default-value-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/disabled-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/disabled-option-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/dynamic-sections-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/invalid-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/multi-select-tests-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/normal-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/select-all-enabled-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/static-items-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/static-sections-auto.png
  apps/storybook/__vis__/forced-colors/local/__baselines__/stories/RacSelect.stories.tsx/with-tags-auto.png
  apps/storybook/__vis__/light/local/__baselines__/stories/RacSelect.stories.tsx/multi-select-tests-auto.png
Due: nx format:write --files

feat(date-picker): add forced colors support
  apps/playground/src/app/app.tsx
  packages/datepicker-styles/src/lib/react-datepicker.css
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(select): remove flaky test step
  apps/storybook/src/stories/RacSelect.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files
