Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components,label): fix InfoPopover focus ring clipped by following field
  packages/components/src/label/LabelWrapper.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

chore(ci): add permanent check for undeclared bundled dependencies
  .github/workflows/pr-checks.yml
  tools/check-bundled-dependencies/README.md
  tools/check-bundled-dependencies/index.mjs
Due: nx format:write --files

chore(ci): trim script comment to just describe what it does
  tools/check-bundled-dependencies/index.mjs
Due: nx format:write --files

chore(ci): fix stale instance count in check-bundled-dependencies comment
  tools/check-bundled-dependencies/index.mjs
Due: nx format:write --files

fix(table-styles): declare react-aria as a dependency, was undeclared
  packages/table-styles/package.json
Due: nx format:write --files

fix(table-styles,select-styles): fix incorrect dependency classification
  packages/select-styles/package.json
  packages/table-styles/package.json
Due: nx format:write --files

fix(components,layout): declare undeclared runtime deps bundled from react-aria packages
  packages/components/package.json
  packages/layout/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

chore(theme): migrate to nx inferred tasks
  nx.json
  packages/theme/project.json
Due: nx format:write --files

chore(components): migrate to nx inferred tasks
  nx.json
  packages/components/project.json
Due: nx format:write --files

chore(datepicker-styles): migrate to nx inferred tasks
  nx.json
  packages/datepicker-styles/project.json
Due: nx format:write --files

chore(select-styles): migrate to nx inferred tasks
  nx.json
  packages/select-styles/project.json
Due: nx format:write --files

chore(table-styles): migrate to nx inferred tasks
  nx.json
  packages/table-styles/project.json
Due: nx format:write --files

chore(release-dry-run): migrate to nx inferred tasks
  nx.json
  tools/release-dry-run/project.json
  tools/release-dry-run/rollup.config.cjs
Due: nx format:write --files

chore(test-utils): migrate to nx inferred tasks
  nx.json
  tools/test-utils/project.json
  tools/test-utils/rollup.config.cjs
Due: nx format:write --files

chore(playground): migrate to nx inferred tasks
  apps/playground/project.json
  nx.json
Due: nx format:write --files

chore(storybook): migrate to nx inferred tasks
  apps/storybook/project.json
  nx.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(storybook): recover lost props from autodocs
  apps/storybook/.storybook/main.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(docusaurus): convert tool to es module
  tools/docusaurus/package.json
  tools/docusaurus/src/executors/browser/executor.ts
  tools/docusaurus/src/executors/dev-server/executor.ts
  tools/docusaurus/tsconfig.lib.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(style-dictionary): remove unnecessary type casts
  tools/style-dictionary/src/executors/transforms/dimensionToUnit.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(style-dictionary): convert tool to es module
  tools/style-dictionary/package.json
  tools/style-dictionary/src/executors/build-tokens.spec.ts
  tools/style-dictionary/src/executors/build-tokens.ts
  tools/style-dictionary/src/executors/formats/tailwindTheme.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(style-dictionary): update deps
  tools/style-dictionary/package.json
Due: nx format:write --files

chore(docusaurus): update deps
  tools/docusaurus/package.json
Due: nx format:write --files

chore(storybook): workaround failing builds with nx:run-commands
  apps/storybook/project.json
Due: nx format:write --files
