Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

fix(components,layout): add missing @react-aria and @react-stately dependencies
  packages/components/package.json
  packages/layout/package.json
Due: nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
Due: nx format:write --files

fix(docs,file-trigger): hide storybook link for FileTrigger
  apps/docs/docs/components/file-trigger.mdx
  apps/docs/src/components/getComponentMetaData.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(docs,layout): use exact pathname matching in NavigationLink examples
  apps/docs/docs/dev/layout/components/navigation.mdx
  apps/docs/docs/dev/layout/components/sidebar.mdx
Due: nx format:write --files

feat(components,card): add CardHeader and CardBody, deprecate legacy patterns
  packages/components/src/card/Card.module.css
  packages/components/src/card/Card.stories.tsx
  packages/components/src/card/Card.tsx
  packages/components/src/card/card-body/CardBody.module.css
  packages/components/src/card/card-body/CardBody.tsx
  packages/components/src/card/card-body/index.ts
  packages/components/src/card/card-header/CardHeader.module.css
  packages/components/src/card/card-header/CardHeader.tsx
  packages/components/src/card/card-header/index.ts
  packages/components/src/card/index.ts
  packages/theme/tokens/object-values.json
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

test(components,card): update and extend card tests
  packages/components/src/card/Card.spec.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs(components,card): rewrite card documentation
  apps/docs/docs/components/card.mdx
  apps/docs/docs/components/tag.mdx
  apps/docs/src/components/examples/card/CardExamples.tsx
  apps/docs/static/img/CardImage.jpg
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/datepicker-styles/CHANGELOG.md
  packages/datepicker-styles/package.json
  packages/layout/CHANGELOG.md
  packages/layout/package.json
  packages/select-styles/CHANGELOG.md
  packages/select-styles/package.json
  packages/table-styles/CHANGELOG.md
  packages/table-styles/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: nx format:write --files
