Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(field-error): remove margin from aria hidden siblings
  packages/components/src/field-error/FieldError.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

fix(tag): add visible keyboard focus for all tags
  packages/components/src/tag/Tag.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add tags
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectTags.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

fix(list-box): adjust vertical padding
  packages/components/src/list-box/ListBox.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): adjust list box item styling
  packages/components/src/rac-select/RacSelect.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): use custom listbox
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): add multi select item styling
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/SelectListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): replace state managed `button` with select-context RAC `Button`
  packages/components/src/rac-select/SelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): adjust styles non-square checkboxes for long strings, correct truncation
  packages/components/src/rac-select/RacSelect.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add `FocusScope` to support focusmanager in clear-button
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(playground): add temporary testing code for demo purposes
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

docs: fix RAC link in breadcrumbs documentation
  apps/docs/docs/components/breadcrumbs.mdx
Due: nx format:write --files

feat(select): add selectall
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectAll.tsx
  packages/components/src/rac-select/SelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

docs: increase width when propstable should collapse
  apps/docs/src/css/propstable.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(select): add size prop
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): add sections
  packages/components/src/rac-select/RacSelect.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(select): enable stories
  apps/storybook/src/stories/RacSelect.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): remove unused props
  packages/components/src/rac-select/SelectValueTag.tsx
Due: nx affected:lint --fix --files, nx format:write --files

fix(list-box): loosen type definitions
  packages/components/src/list-box/ListBox.tsx
  packages/components/src/list-box/ListBoxItem.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): add sections
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/combobox/ComboBox.tsx
  packages/components/src/list-box/ListBox.module.css
  packages/components/src/list-box/ListBoxHeader.tsx
  packages/components/src/list-box/ListBoxItem.tsx
  packages/components/src/list-box/ListBoxSection.tsx
  packages/components/src/list-box/index.ts
  packages/components/src/rac-select/RacSelect.module.css
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/select/SelectListBox.tsx
Due: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

chore: update playground imports
  apps/playground/src/app/app.tsx
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): clean up types
  .vscode/settings.json
  apps/storybook/src/stories/RacSelect.stories.tsx
  packages/components/src/rac-select/RacSelect.tsx
  packages/components/src/rac-select/SelectListBox.tsx
  packages/components/src/rac-select/SelectTags.tsx
  packages/components/src/rac-select/SelectValueTag.tsx
  packages/components/src/select/types.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(select): update type imports
  packages/components/src/rac-select/SelectListBox.tsx
  packages/components/src/rac-select/SelectTags.tsx
  packages/components/src/rac-select/SelectValueTag.tsx
  packages/components/src/select/index.ts
  packages/components/src/select/useMultiSelect.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(spinner): update spinner docs with new props
  apps/docs/docs/components/spinner.mdx
  packages/components/src/spinner/Spinner.tsx
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts*
  nx format:write --files: any of: *
  npx stylelint --fix --allow-empty-input: any of: *.css
