Repository migrationsverket/midas: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, npx stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.ts*": ["nx affected:lint --fix --files"],
  "*": ["nx format:write --files"],
  "*.css": ["npx stylelint --fix --allow-empty-input"]
}

chore: rename a11y check targets
  .github/workflows/pr-checks.yml
  apps/docs/docs/get-started/contribute/tests.mdx
  apps/storybook/project.json
Due: nx format:write --files

chore: remove nx affected for a11y checks
  .github/workflows/pr-checks.yml
Due: nx format:write --files

chore: add push trigger for docs publish
  .github/workflows/publish-docs.yml
  .github/workflows/publish-to-npm.yml
Due: nx format:write --files

chore: split release into multiple workflows
  .github/workflows/publish-to-npm.yml
  .github/workflows/release.yml
  nx.json
Due: nx format:write --files

chore: split PR-checks steps based on tags
  .github/workflows/deploy-docs-pr.yml
  .github/workflows/pr-checks.yml
Due: nx format:write --files

feat(table): move row border from top -> bottom, flip striped row colors
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(table): set correct striped colors for virtualized table
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

feat(table): remove background from rows
  packages/components/src/table/Table.module.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

test(table): refactor virtualized striped table tests
  apps/storybook/src/stories/Table.spec.tsx
  apps/storybook/src/stories/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

test(table): add tests for virtualized striped table
  apps/storybook/src/stories/Table.spec.tsx
  apps/storybook/src/stories/Table.stories.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore(release): release package, version [release]
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: nx format:write --files

feat(button): add spinner to pending buttons
  apps/docs/docs/components/button.mdx
  apps/docs/docs/components/spinner.mdx
  apps/docs/docs/design-patterns/page-loading.mdx
  apps/docs/src/components/examples/loading/LoadingExamples.tsx
  apps/storybook/src/stories/Button.stories.tsx
  packages/components/src/button/Button.tsx
Due: nx affected:lint --fix --files, nx format:write --files

chore: update nx -> 22.0.4
  package-lock.json
  package.json
Due: nx format:write --files

chore(components): update storybook link in README.md
  packages/components/README.md
Due: nx format:write --files

chore: add POC tanstack filtered table
  apps/playground/src/app/app.tsx
  apps/playground/src/components/BasicTable.tsx
  apps/playground/src/data/mockData.ts
  apps/playground/src/main.tsx
  apps/playground/src/pages/TableBasicPage.tsx
Due: nx affected:lint --fix --files, nx format:write --files

ops: remove pre version command
  nx.json
Due: nx format:write --files

ops: prevent a second run of release.yml
  .github/workflows/release.yml
Due: nx format:write --files

ops: remove unused steps in release.yml
  .github/workflows/release.yml
Due: nx format:write --files

ops: only fetch the latest commit when possible
  .github/workflows/deploy-docs-pr.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/release.yml
Due: nx format:write --files

ops: revert label based PR previews
  .github/workflows/deploy-docs-pr.yml
Due: nx format:write --files

feat(table-styles)!: change `.table` class to `.midas-tanstack-table`
  packages/table-styles/src/lib/tanstack-table.css
Due: nx format:write --files, npx stylelint --fix --allow-empty-input

docs(tanstack-table): clean up tanstack-table docs and add filter example
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/BasicTable.tsx
  apps/docs/src/components/examples/tanstack-table/FilteringExample.tsx
  apps/docs/src/components/examples/tanstack-table/TanstackTableExamples.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
  apps/docs/src/components/examples/tanstack-table/makeData.ts
  apps/docs/src/components/examples/tanstack-table/mockData.ts
Due: nx affected:lint --fix --files, nx format:write --files

docs(tanstack-table): add column visibility example
  apps/docs/docs/dev/tanstack-table.mdx
  apps/docs/src/components/examples/tanstack-table/ColumnVisibilityExample.tsx
  apps/docs/src/components/examples/tanstack-table/index.ts
Due: nx affected:lint --fix --files, nx format:write --files
